<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Avis</h3>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="reviews.length == 0">
        <app-no-record-placeholder title="review"></app-no-record-placeholder>
      </div>
      <!-- begin:Table -->
      <div *ngIf="reviews.length != 0" class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>
            <th>
              Created At
            </th>
            <th>
              Createur Nom
            </th>
            <th>
              Nombre d'étoiles
            </th>
  
            <th>
              Un message
            </th>
  
          </thead>
          <tbody>
            <tr *ngFor="let review of reviews">
              <td class="selection-cell">
                {{review.createAt | date : 'medium'}}
              </td>
              <td class="selection-cell">
                {{review.createruserRes.firstName}}
              </td>
              <td class="selection-cell rating">
  
                <ngb-rating [max]="5" [(rate)]="review.rating" [readonly]="true"></ngb-rating>
              </td>
              <td class="selection-cell">
                {{review.remarks}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
  </div>