<div class="card card-custom gutter-b">
    <!-- <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">video </h3>
        </div>
    </div> -->
    
    <div class="card-body">
        <form  class="form form-label-right" [formGroup]="formGroup">
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label pt-8 pl-40">Ajouter une vidéo</label>
                <div class="col-lg-9 col-xl-3">
                  <input class="d-none" id="actual-btn" type="file" formControlName="proposalVideo"  (change)="onFileChange($event)" />
                  <label class="proposalVideo" for="actual-btn">Choisir le fichier</label>
                </div>
              </div>               
          </form>

        <div *ngIf="videos.length == 0">
            <app-no-record-placeholder title="video"></app-no-record-placeholder>
        </div>
        <!-- begin:Table -->
        <div *ngIf="videos.length != 0" class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th>
                        Created At
                    </th>                    
                    <th>
                        Video
                    </th>
                    <th>
                        Statut
                    </th>
                    <th>
                        Approved/Rejection Date
                    </th>
                    <th class="text-center">Rejection Reason</th>
                </thead>
                <tbody>
                    <tr *ngFor="let video of videos">
                        <td class="selection-cell">
                            {{video.createdAt | date : 'medium'}}
                        </td>
                        <td class="selection-cell">
                            <video controls width="200" height="auto">
                                <source src="{{video.fileUrl}}" type="video/mp4" />
                                Browser not supported
                              </video>
                        </td>
                        <td>
                            <span class="label label-lg label-inline" [class.label-light-success]="video.status === 1"
                                [class.label-light-danger]="video.status === 2"
                                [class.label-light-primary]="video.status === 0">
                                <ng-container *ngIf="video.status === 0">Pending</ng-container>
                                <ng-container *ngIf="video.status === 1">Approuvée</ng-container>
                                <ng-container *ngIf="video.status === 2">Rejetée</ng-container>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="video.status==1">{{video.approvedDate | date : 'medium'}}</span>
                            <span *ngIf="video.status==2">{{video.rejectedDate | date : 'medium'}}</span>
                        </td>
                        <td>
                            {{video.rejectionReason}}
                        </td>
                        <!-- <td class="text-center">
                            <div style="display:flex; justify-content:space-between;"> 
                                <a class="mx-2" routerLink="/creator/proposals/detail/{{video._id}}"><i
                                 class="fa fa-eye"></i></a>
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>