   <!-- ======= HEADER START HERE ======= -->
   <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between haeder-right">
     
       <nav class="navbar  navbar-dark  fixed-top navbar-expand-lg">

          


             <a routerLink="/" class="navbar-brand logo d-flex align-items-center">
                <img src="assets/website/img/white-logo-01.svg" alt="">
                </a>>

          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="navbar-collapse collapse" id="navbarsExampleDefault" >
     
            <ul class="navbar-nav mr-auto ">
                  <li><a class="nav-link active"routerLink="/about">A propos</a></li>
                  <li><a class="nav-link active"routerLink="/platform">La plateforme</a></li>
                  <!-- <li><a class="nav-link active"routerLink="/pricing">Pricing</a></li> -->
                  <li><a class="nav-link active"routerLink="/blog">Blog</a></li>
                  <li><a class="nav-link scrollto"routerLink="/contact">Contact</a></li>
                  <!-- <li><a class="nav-link scrollto" routerLink="/auth/registration-creator">Devenir Créateur</a></li> -->
                  <!-- <li><a class="nav-link scrollto" routerLink="/auth/login">Embaucher un Createur</a></li> -->
                  <!-- <li><a class="nav-link scrollto" routerLink="/auth/registration">Nous contacter</a></li> -->
                  
                  <!-- <li><a class="nav-link active"routerLink="/contact-us">Prix</a></li> -->
                  <li *ngIf="!userName"><a class="getstarted scrollto" routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Se Connecter </a></li>
                  <li *ngIf="userName"><a class="getstarted scrollto" routerLink="/dashboard"><i class="far fa-user"></i> {{userName}}</a></li>
                  <li *ngIf="!userName"><a class="getstarted scrollto" routerLink="/auth/login"><i class="far fa-user"></i>S'inscrire</a></li>
                  <!-- <li><a class="nav-link scrollto"routerLink="/contact">Contact</a></li> -->
                  <!-- <li><a class="nav-link" href="#services">Become a Creator</a></li>
                  <li><a class="nav-link" href="#portfolio">Hire a Creator</a></li>
                  <li><a class="nav-link" href="#team">Contact Us</a></li>
                  <li><a class="getstarted" href="#about"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
                  <li><a class="getstarted" href="#about"><i class="far fa-user"></i> Sign Up</a></li> -->
               </ul>
          </div>
        </nav>
       <!-- .navbar -->
    </div>
 </header>
 <!-- ======= HEADER END HERE ======= -->