<app-outer-header></app-outer-header>

<section id="hero-2" class=" d-flex align-items-center" >
   
 </section>

 <section  class="hero-3 d-flex align-items-center" >
    <div class="container" data-aos="fade-up">
      
          <header class="section-header">
            <h2>FAQ</h2>
         </header>
       
       <div class="" style="font-size: 16px;">
         <p class ="h2">Comment commencer ?.</p>

         <p>Démarrez sur Toocie en 2 étapes faciles :</p>
         
         <p>Inscrivez-vous à Toocie Manage en utilisant l'une des méthodes suivantes : votre compte Google ou votre email + mot de passe.</p> 

         <p>Ajoutez les détails de votre entreprise.</p>
         
         <p>Selon la méthode que vous choisissez pour vous inscrire, veuillez utiliser la même méthode pour vous connecter. Utilisez toujours la même méthode : Compte Google ou Email + mot de passe. Pour clarifier les choses, si vous créez votre compte à l'aide de l'une des méthodes et que vous essayez ensuite de vous connecter à l'aide de l'autre méthode, un deuxième compte sera automatiquement créé.</p>
         <p>Si vous avez oublié votre mot de passe, vous pouvez le réinitialiser en cliquant sur "Vous avez oublié votre mot de passe ?".</p>
         <p>Et ensuite ? </p>
         <p>Vous êtes prêt à créer vos premières tâches. Pourquoi attendre ? 😎</p>
         
         <p class ="h2">Comment fonctionne Toocie ?</p>
         <p>Processus expliqué simplement.</p>
         <p>Utiliser Toocie est vraiment facile ! 🚀 Pour faire court et simple : </p>
         <p>La marque crée des tâches sur Toocie Manage</p>
         <p>Les créateurs de contenu postulent pour accomplir ces tâches, la marque sélectionne les créateurs de contenu et envoie les produits.</p>
         <p>Les créateurs de contenu sélectionnés remplissent les tâches, téléchargent du contenu et obtiennent des récompenses. </p>
         <p>Que se passe-t-il lorsque votre tâche est approuvée ?</p>
         <p>Vous serez informé des candidatures des créateurs.</p>
         <p>Veuillez approuver les créateurs avec lesquels vous souhaitez travailler.</p>
         <p>Logistique : vous trouverez les adresses des créateurs pour leur envoyer le produit.</p>
         <p>Une fois que les créateurs auront le produit en main, ils créeront le contenu.</p>
         <p>Vous serez informé lorsque le contenu sera prêt à être approuvé.</p>
         <p>Lorsque vous approuvez le contenu, les créateurs sont récompensés 🎉</p>
         <p>Puis-je voir des exemples de vidéos réalisées sur Toocie ?</p>
         <p>Oui, ici </p>
         <p>Combien de créateurs y a-t-il sur Toocie ?</p>
         <p>Nous avons une base existante de 5200+ créateurs qui sont basés en France ! 🚀 🌎</p>
         <p>Puis-je choisir qui va évaluer mon produit ?</p>
         <p>Comment le créateur obtient-il mon produit ?</p>
         <p>Avez-vous des créateurs de plus de 30 ans ?</p>
       </div>
    </div>
 </section>



<app-outer-footer></app-outer-footer>

