<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Vidéos</h3>
    </div>    
  </div>
  <div class="card-body">
    <div *ngIf="videos.length == 0">
      <app-no-record-placeholder title="video"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="videos.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Approved Date
          </th>
          <th>
            Video
          </th>
          <th>
            Nom de l'expéditeur
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let video of videos">
            <td class="selection-cell">
              {{video.createdAt | date : 'medium'}}
            </td>

            <td class="selection-cell">
              <!-- {{video.fileUrl}} -->
              <div class="video">
                <video controls width="200" height="auto">
                  <source src="{{video.fileUrl}}" type="video/mp4" />
                  Browser not supported
                </video>
              </div>
            </td>
            <td class="selection-cell">
              {{video.senderRes.firstName | titlecase}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>