<div *ngIf="loading" class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          Campagne  Détail
        </h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-light" routerLink="/admin/campaigns/list">
          <i class="fa fa-arrow-left"></i>Arrière
        </a>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Created At</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{campaignData.createdAt | date : 'medium'}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Campagne Nom</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{campaignData.campaignName}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Produit Nom</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{productName}}</span>
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Ad Goals</label>
                  </div>
                  <div class="col-lg-9">
                    <p *ngFor="let adGoal of adGoals;let i =index;">{{adGoal.value}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Ad Mentions</label>
                  </div>
                  <div class="col-lg-9">
                    <p *ngFor="let adMention of adMentions;let i =index;">{{adMention.value}}</p>
                  </div>
                </div>
         
              <div class="float-left" *ngIf="campaignData.status=='0'">
                <a 
                class="btn btn-success font-weight-bold mr-2" 
                (click)="approve()">Approuver</a>
                <a 
                class="btn btn-danger font-weight-bold mr-2" 
                (click)="reject()">Rejeter</a>
              </div>
        </div>
      </ng-container>
    </div>
  </div>