<app-outer-header></app-outer-header>
<section id="hero-2" class=" d-flex align-items-center" >
   
</section>
<section >
    <div class="container" data-aos="fade-up">
       <header class="section-header">
          <h2>Contact</h2>
       </header>
       <div class="row">
          <div class="col-xl-6">
             <div>
               <h4>
                  <i class="fa fa-map-marker"></i>
                  Toocie S.A
               </h4>
               <p>
                  48 Avenue de l'héliport<br>
                  1000 Bruxelles, Belgique<br> 
               </p>
               <p><i class="fa fa-phone"></i> 
                   Mobile: 00 32 466 27 07 31</p>            
               <p><i class="fa fa-envelope"></i> 
                   Email: <a href="mailto:info@toocie.com">info@toocie.com</a>
               </p> 
             </div>
             <div>
               <a href="https://www.facebook.com/Toocie-108969447990547" class="p-1"><i class="fab fa-facebook-f fa-2x"></i></a>
                
               <a href="https://www.instagram.com/toocieofficial/" class="instagram p-1"><i class="fab fa-instagram fa-2x"></i></a>
           
               <a href="https://www.linkedin.com/company/toocie/?viewAsMember=true" class="linkedin p-1"><i class="fab fa-linkedin fa-2x"></i></a>
           
             </div>           
                  
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="400" height="280" src="https://maps.google.com/maps?hl=en&q=48 Avenue de l'héliport 1000 Bruxelles, Belgique&ie=UTF8&t=roadmap&z=10&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small></small></div></iframe>
           
          </div>
          <div class="col-xl-6">
            <!--begin::Form-->
            <div class="login-form login-signin">              
               <form
                 class="form"
                 [formGroup]="loginForm"
                 novalidate="novalidate"
                 id="kt_login_signin_form"
                 (ngSubmit)="submit()"
               >
                 <ng-container *ngIf="hasError">
                   <div
                     class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
                   >
                     <div class="alert-text">Something went wrong</div>
                   </div>
                 </ng-container>
                 <div class="form-group">
                  <label class="font-size-h6 font-weight-bolder text-dark">Nom</label>
                  <input
                    class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                    type="text"
                    name="name"
                    formControlName="name"
                    autocomplete="off"
                    [ngClass]="{ 'is-invalid': loginForm.controls['name'].invalid }"
                  />
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Name is required',
                      control: loginForm.controls['name']
                    }"
                  ></ng-container>      
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'email',
                      message: 'Name is invalid',
                      control: loginForm.controls['name']
                    }"
                  ></ng-container>
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'minLength',
                      message: 'Name should have at least 3 symbols',
                      control: loginForm.controls['name']
                    }"
                  ></ng-container>                  
                </div>
                 <div class="form-group">
                   <label class="font-size-h6 font-weight-bolder text-dark">E-mail</label>
                   <input
                     class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                     type="email"
                     name="email"
                     formControlName="email"
                     autocomplete="off"
                     [ngClass]="{ 'is-invalid': loginForm.controls['email'].invalid }"
                   />
                   <ng-container
                     [ngTemplateOutlet]="formError"
                     [ngTemplateOutletContext]="{
                       validation: 'required',
                       message: 'Email is required',
                       control: loginForm.controls['email']
                     }"
                   ></ng-container>      
                   <ng-container
                     [ngTemplateOutlet]="formError"
                     [ngTemplateOutletContext]="{
                       validation: 'email',
                       message: 'Email is invalid',
                       control: loginForm.controls['email']
                     }"
                   ></ng-container>
                   <ng-container
                     [ngTemplateOutlet]="formError"
                     [ngTemplateOutletContext]="{
                       validation: 'minLength',
                       message: 'Email should have at least 3 symbols',
                       control: loginForm.controls['email']
                     }"
                   ></ng-container>
                   <ng-container
                     [ngTemplateOutlet]="formError"
                     [ngTemplateOutletContext]="{
                       validation: 'maxLength',
                       message: 'Email should have maximum 360 symbols',
                       control: loginForm.controls['email']
                     }"
                   ></ng-container>
                 </div>
                
                 <div class="form-group">
                   <div class="d-flex justify-content-between mt-n5">
                     <label class="font-size-h6 font-weight-bolder text-dark pt-5">Un message</label>
                   </div>
             
                   <textarea
                     class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                     name="message"
                     autocomplete="off"
                     formControlName="message"
                     [ngClass]="{ 'is-invalid': loginForm.controls['message'].invalid }"
                   >
                   </textarea>
                   <ng-container
                     [ngTemplateOutlet]="formError"
                     [ngTemplateOutletContext]="{
                       validation: 'required',
                       message: 'message is required',
                       control: loginForm.controls['message']
                     }"
                   ></ng-container>  
                 </div>
                 <!--end::Form group-->
             
                 <!--begin::Action-->
                 <div class="pb-lg-0 pb-5">
                   <button
                     type="submit"
                     id="kt_login_signin_submit"
                     class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                     [disabled]="loginForm.invalid"
                   >
                   Envoyer 
                   </button> 
                 </div>               
               </form>
             </div>
             <!-- Form End -->
          </div>
       </div>
    </div>
 </section>
 <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
<app-outer-footer></app-outer-footer>

