<div class="row" *ngIf="loading">

  <!-- <div class="col-xl-4">
    <app-tiles-widget1 cssClass="gutter-b card-stretch" [chartColor]="'danger'" [data]="dashboardRes"></app-tiles-widget1>
  </div> -->
  <div class="col-xl-12">
    <div class="row" style="margin-bottom: 25px;">
      <div class="col-xl-12">
        <app-tiles-widget11 cssClass="gutter-b" [baseColor]="'info'" type ="total"  [data]="dashboardRes">
        </app-tiles-widget11>
      </div>
    </div>
  </div>

  <!-- <div class="col-xl-8">
    <div class="row" style="margin-bottom: 25px;">
      <div class="col-xl-6">
        <app-tiles-widget11></app-tiles-widget11>
      </div>
      <div class="col-xl-6">
        <app-tiles-widget11 cssClass="gutter-b card-stretch"></app-tiles-widget11>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <app-tiles-widget11></app-tiles-widget11>
      </div>

    </div>
  </div> -->

  <!-- <div class="col-xl-6">
        <div class="card card-custom">
          
          <div class="card-header border-0 pt-5">
            <div class="card-title">
              <div class="card-label">
                <div class="font-weight-bolder"> Proposals</div>
                <div class="font-size-sm text-muted mt-2">5</div> 
              </div>
            </div>      
          </div>
          <div class="card-body d-flex flex-column px-0">      
            <div class="flex-grow-1 card-spacer-xflex-grow-1 card-spacer-x">
    
              <div class="d-flex align-items-center justify-content-between mb-10">
                <div class="d-flex align-items-center mr-2">              
                  <div>
                    <a
                      href="#"
                      class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                      >Completed</a
                    >                
                  </div>
                </div>
                <div
                  class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base"
                >
                {{dashboardRes.proposal[0]['Completed'][0]['Completed']}}            
                </div>
              </div>
            
              <div class="d-flex align-items-center justify-content-between mb-10">
                <div class="d-flex align-items-center mr-2">              
                  <div>
                    <a
                      href="#"
                      class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                      >Accepted</a
                    >                
                  </div>
                </div>
                <div
                  class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base"
                >
                {{dashboardRes.proposal[0]['Accepted'][0]['Accepted']}}            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  <!--- For Payment start-->




  <!-- <div class="col-xl-6">
        <div class="card card-custom" >
          <div class="card-header border-0 pt-5">
            <div class="card-title">
              <div class="card-label">
                <div class="font-weight-bolder"> Payments {{userType}}</div>
                <div class="font-size-sm text-muted mt-2">   {{dashboardRes.payment[0]['count']}} </div> 
              </div>
            </div>      
          </div>
          <div class="card-body d-flex flex-column px-0">  
            <div class="flex-grow-1 card-spacer-xflex-grow-1 card-spacer-x">
              <div class="d-flex align-items-center justify-content-between mb-10">
                <div class="d-flex align-items-center mr-2">              
                  <div>
                    <a href="#"
                      class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                      >Total Amount</a>                
                  </div>
                </div>
                <div
                  class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base"
                >
                {{dashboardRes.payment[0]['totalAmount']}}            
                </div>
              </div>          
            </div>
          </div>
        </div>
      </div> -->


  <!-- <div *ngIf="userType === 'Brand' " class="col-xl-6">
      <div class="card card-custom" >
        <div class="card-header border-0 pt-5">
          <div class="card-title">
            <div class="card-label">
              <div class="font-weight-bolder"> Campaign</div>
              <div class="font-size-sm text-muted mt-2">   {{dashboardRes.campaign[0].campaign[0].campaign}}   </div> 
            </div>
          </div>      
        </div>
        <div class="card-body d-flex flex-column px-0">  
          <div class="flex-grow-1 card-spacer-xflex-grow-1 card-spacer-x">
            <div class="d-flex align-items-center justify-content-between mb-10">
              <div class="d-flex align-items-center mr-2">              
                <div>
                  <a href="#"
                    class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                    >Completed</a>                
                </div>
              </div> 
               <div
                class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base"
              >
              {{dashboardRes.campaign[0].Completed[0].Completed}}            
              </div>
            </div>          
          </div>
          
        </div>
      </div>
    </div> -->




  <!-- Campaign end-->
  <!--video start-->



  <!-- <div *ngIf="userType === 'Creater' " class="col-xl-6">
    <div class="card card-custom" >
      <div class="card-header border-0 pt-5">
        <div class="card-title">
          <div class="card-label">
            <div class="font-weight-bolder"> video</div>
            <div class="font-size-sm text-muted mt-2">   {{dashboardRes.video[0].totalvideo[0].totalvideo}}   </div> 
          </div>
        </div>      
      </div>
      <div class="card-body d-flex flex-column px-0">  
        <div class="flex-grow-1 card-spacer-xflex-grow-1 card-spacer-x">
          <div class="d-flex align-items-center justify-content-between mb-10">
            <div class="d-flex align-items-center mr-2">              
              <div>
                <a href="#"
                  class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                  >Approved</a>                
              </div>
            </div> 
             <div
              class="label label-light label-inline font-weight-bold text-dark-50 py-4 px-3 font-size-base"
            >
            {{dashboardRes.video[0].Approved[0].Approved}}            
            </div>
          </div>          
        </div>
        
      </div>
    </div>
  </div> -->
  <!--video End-->
</div>
<div class="row">
  <!-- <div class="col-xl-3">
    <app-tiles-widget3 cssClass="gutter-b" [widgetHeight]="'150px'"></app-tiles-widget3>
  </div> -->
  <!-- <div class="col-xl-9">
        <app-tiles-widget10
          cssClass="gutter-b"
          [widgetHeight]="'150px'"
        ></app-tiles-widget10>
      </div> -->

  <div class="col-xl-6">
    <!-- <app-tiles-widget13
          cssClass="gutter-b"
          [widgetHeight]="'175px'"
        ></app-tiles-widget13> -->
    <!-- <div class="row">
      <div class="col-xl-6">
        <app-tiles-widget11 cssClass="gutter-b" [widgetHeight]="'150px'" [baseColor]="'primary'"></app-tiles-widget11>
      </div>
      <div class="col-xl-6">
        <app-tiles-widget12 cssClass="gutter-b" [widgetHeight]="'150px'" [iconColor]="'success'"></app-tiles-widget12>
      </div>
    </div> -->
  </div>
  <!-- <div class="col-xl-6">
        <app-tiles-widget14
          cssClass="gutter-b card-stretch"
        ></app-tiles-widget14>
      </div> -->

</div>