
body{margin:0px;padding:0px; font-family: 'Brandon Grotesque'; background-color:#fff !important;}


@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Black.eot');
    src: url('../fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Black.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Black.woff') format('woff'),
        url('../fonts/BrandonGrotesque-Black.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-RegularItalic.eot');
    src: url('../fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-RegularItalic.svg#BrandonGrotesque-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-Light.eot');
    src: url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Light.woff') format('woff'),
        url('../fonts/BrandonGrotesque-Light.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-BoldItalic.eot');
    src: url('../fonts/BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-BoldItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-BoldItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque-BoldItalic.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-BoldItalic.svg#BrandonGrotesque-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-LightItalic.eot');
    src: url('../fonts/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-LightItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-LightItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque-LightItalic.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-LightItalic.svg#BrandonGrotesque-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/fonts/BrandonGrotesque-MediumItalic.eot');
    src: url('../fonts/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-MediumItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-MediumItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque-MediumItalic.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-MediumItalic.svg#BrandonGrotesque-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fonts/BrandonGrotesque-ThinItalic.eot');
    src: url('../fonts/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-ThinItalic.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-ThinItalic.woff') format('woff'),
        url('../fonts/BrandonGrotesque-ThinItalic.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-ThinItalic.svg#BrandonGrotesque-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}




a{color:#4154f1;text-decoration:none;}
a:hover{color:#717ff5;text-decoration:none;}
h1, h2, h3, h4, h5, h6{font-family:'Brandon Grotesque';}
section{padding:80px 0;overflow:hidden;}
.section-header{text-align:center;padding-bottom:40px;}
.section-header h2{font-size:42px;letter-spacing:0px;font-weight:700;margin:0;color:#000;text-transform:uppercase;}
.border-line{width:100%;background-color:#000;height:4px;max-width:94px;margin:0 auto;margin-top:12px;}
.section-header p{margin:10px 0 0 0;padding:0;font-size:38px;line-height:42px;font-weight:700;color:#012970;}

@media (max-width:768px){
.section-header p{font-size:28px;line-height:32px;}
}

.back-to-top{position:fixed;visibility:hidden;opacity:0;right:15px;bottom:15px;z-index:99999;background:#4154f1;width:40px;height:40px;border-radius:4px;transition:all 0.4s;}
.back-to-top i{font-size:24px;color:#fff;line-height:0;}
.back-to-top:hover{background:#6776f4;color:#fff;}
.back-to-top.active{visibility:visible;opacity:1;}

@media screen and (max-width:768px){
	[data-aos-delay]{transition-delay:0 !important;}
}

.header{transition:all 0.5s;z-index:997;padding:20px 0;}
.header.header-scrolled{background:#c80c46;padding:15px 0;box-shadow:0px 2px 20px rgba(1, 41, 112, 0.1);}
.header .logo{line-height:0;}
.header .logo img{max-height:40px;margin-right:6px;}
.header .logo span{font-size:30px;font-weight:700;letter-spacing:1px;color:#012970;font-family:"Nunito", sans-serif;margin-top:3px;}


/*** Desktop Navigation */
.navbar{padding:0;}
.navbar ul{margin:0;padding:0;display:flex;list-style:none;align-items:flex-end;justify-content: flex-end;}
.navbar li{position:relative;}
.navbar a, .navbar a:focus{display:flex;align-items:center;justify-content:space-between;padding: 10px 0px 10px 0px; font-size:16px;font-weight:300;color:#fff;white-space:nowrap;transition:0.3s;}

.navbar li a i { font-size: 16px; margin-right: 6px;}
.navbar a i, .navbar a:focus i{font-size:12px;line-height:0;margin-left:5px;}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a{color:#fff;}
.navbar .getstarted{padding: 7px 22px !important;  margin-left:30px;border-radius:40px;color:#fff;border:2px solid #fff;}
.navbar .getstarted:hover{color:#c80c46;background:#fff;}
.navbar .dropdown ul{display:block;position:absolute;left:14px;top:calc(100% + 30px);margin:0;padding:10px 0;z-index:99;opacity:0;visibility:hidden;background:#fff;box-shadow:0px 0px 30px rgba(127, 137, 161, 0.25);transition:0.3s;border-radius:4px;}
.navbar .dropdown ul li{min-width:200px;}
.navbar .dropdown ul a{padding:10px 20px;font-size:15px;text-transform:none;font-weight:600;}
.navbar .dropdown ul a i{font-size:12px;}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a{color:#4154f1;}
.navbar .dropdown:hover > ul{opacity:1;top:100%;visibility:visible;}
.navbar .dropdown .dropdown ul{top:0;left:calc(100% - 30px);visibility:hidden;}
.navbar .dropdown .dropdown:hover > ul{opacity:1;top:0;left:100%;visibility:visible;}


.header.fixed-top.scrolled {
    /*background: #c80c46;*/
    background: #1c3197;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    z-index: 9999;
}


@media (max-width:1366px){.navbar .dropdown .dropdown ul{left:-90%;}
 .navbar .dropdown .dropdown:hover > ul{left:-100%;}
}

@media (min-width: 992px){
.header-fixed[data-header-scroll=on] .header { position: fixed;top: 0;   right: 0;left: 0;
    z-index: 97;background-color: #1c3197 !important;  box-shadow: 0px 10px 30px 0px rgb(82 63 105 / 8%);
    height: 80px; -webkit-animation: header-minimize-animation 0.5s ease 1;
    animation: header-minimize-animation 0.5s ease 1;}
}
@media (min-width: 992px){
body[data-header-scroll=on] .topbar .btn.btn-icon .text-white {
    color: #fff !important;}
}


/*** Mobile Navigation */
.mobile-nav-toggle{color:#012970;font-size:28px;cursor:pointer;display:none;line-height:0;transition:0.5s;}
.mobile-nav-toggle.bi-x{color:#fff;}
@media (max-width:991px){
.mobile-nav-toggle{display:block;}

}


.navbar-mobile{position:fixed;overflow:hidden;top:0;right:0;left:0;bottom:0;background:rgba(1, 22, 61, 0.9);transition:0.3s;}
.navbar-mobile .mobile-nav-toggle{position:absolute;top:15px;right:15px;}
.navbar-mobile ul{display:block;position:absolute;top:55px;right:15px;bottom:15px;left:15px;padding:10px 0;border-radius:10px;background-color:#fff;overflow-y:auto;transition:0.3s;}
.navbar-mobile a{padding:10px 20px;font-size:15px;color:#012970;}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a{color:#4154f1;}
.navbar-mobile .getstarted{margin:15px;}
.navbar-mobile .dropdown ul{position:static;display:none;margin:10px 20px;padding:10px 0;z-index:99;opacity:1;visibility:visible;background:#fff;box-shadow:0px 0px 30px rgba(127, 137, 161, 0.25);}
.navbar-mobile .dropdown ul li{min-width:200px;}
.navbar-mobile .dropdown ul a{padding:10px 20px;}
.navbar-mobile .dropdown ul a i{font-size:12px;}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a{color:#4154f1;}
.navbar-mobile .dropdown > .dropdown-active{display:block;}


.hero{width:100%;height:100vh;background:url(../img/toochie-banner.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;}
.hero h1{margin:0;font-size:70px;font-weight:700;color:#fff;padding-right:100px;}
.hero h2{color:#fff;margin:15px 0 0 0;font-size:26px;}
.hero .btn-get-started{margin-top:30px;line-height:0;    padding: 25px 30px; border-radius:40px;transition:0.5s;color:#fff;background:transparent;box-shadow:0px 5px 30px rgb(65 84 241 / 40%);border:2px solid #fff;text-transform:uppercase;}
.hero .btn-get-started span{font-family:"Nunito", sans-serif;font-weight:600;font-size:16px;letter-spacing:1px;}
.hero .btn-get-started i{margin-left:5px;font-size:18px;transition:0.3s;}
.hero .btn-get-started:hover i{transform:translateX(5px);}
.hero .hero-img{text-align:right;margin-top:60px;}

.banner-video-area { position: relative;}
.banner-video-area .rtl-content { position: absolute;  top: 36%;  z-index: 1;  left: 44%;}
.banner-video-area .rtl-content::before{content:'';position:absolute;left:0;top:0;z-index:-1;width:100%;height:100%}
.banner-video-area .rtl-content .rtl-btn{display: inline-block;  width: 64px; height: 64px;   line-height: 92px;border-radius: 50%;  color: #fff; background-color: #fff; position: relative;  z-index: 1; box-shadow: 0 20px 70px rgb(0 0 0 / 20%);line-height: 64px; border-radius: 50%;font-size: 28px;text-align: center;}
.banner-video-area .rtl-content .rtl-btn span{font-size:30px;position:absolute;left: 5px; text-align:center;right:0;    top: -3px;font-weight:700;border-radius:50%}
.banner-video-area .rtl-content a span i { color: #000; background: -webkit-gradient(linear, left top, left bottom, from(#1c3197), to(#d20a42)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.banner-video-area .rtl-content .rtl-btn::before{content:'';display:block;position:absolute;top:0;right:0;z-index:-1;bottom:0;left:0;border-radius:50%;border:1px solid #fff;-webkit-animation:ripple 2s linear infinite;animation:ripple 2s linear infinite}
.banner-video-area .rtl-content .rtl-btn::after{content:'';display:block;position:absolute;top:0;right:0;z-index:-1;bottom:0;left:0;border-radius:50%;border:1px solid #fff;-webkit-animation:ripple 2s linear 1s infinite;animation:ripple 2s linear 1s infinite}

@-webkit-keyframes ripple{
	
0%{-webkit-transform:scale(1);transform:scale(1)}
75%{-webkit-transform:scale(1.75);transform:scale(1.75);opacity:1}
100%{-webkit-transform:scale(2);transform:scale(2);opacity:0}

}

@keyframes ripple{
0%{-webkit-transform:scale(1);transform:scale(1)}
75%{-webkit-transform:scale(1.75);transform:scale(1.75);opacity:1}
100%{-webkit-transform:scale(2);transform:scale(2);opacity:0}

}


@media (min-width:1024px){
	.hero{background-attachment:fixed;}
}
@media (max-width:991px){
.hero{height:auto;padding:120px 0 60px 0;}
 .hero .hero-img{text-align:center;margin-top:80px;}
 .hero .hero-img img{width:80%;}
}


@media (max-width:768px){.hero{text-align:center;}
 .hero h1{font-size:32px;}
 .hero h2{font-size:24px;}
 .hero .hero-img img{width:100%;}
}


/***************TOOCHIE WORK SECTION START HERE********************/
.toochie-work .service-box{box-shadow:0px 0 30px rgba(1, 41, 112, 0.08);height:100%;padding:60px 30px;text-align:center;transition:0.3s;border-radius:5px;}
.toochie-work .service-box .icon{font-size:36px;padding:40px 20px;border-radius:4px;position:relative;margin-bottom:25px;display:inline-block;line-height:0;transition:0.3s;}
.toochie-work .service-box h3{color:#000000;text-transform:uppercase;font-size:25px;font-weight:600;margin:25px 0px 10px 10px;}
.toochie-work .service-box p{font-size:18px;color:#000;padding:10px 35px;}
.toochie-work .service-box.blue:hover p{font-size:18px;color:#fff;padding:10px 35px;}
.toochie-work .service-box.blue:hover{background-image:linear-gradient(90deg ,#1c3197,#d20a42);}
.service-box-image{background-image:linear-gradient( 90deg ,#1c3197,#d20a42);width:100%;height:110px;line-height:110px;text-align:center;display:block;max-width:110px;margin:0 auto;border-radius:69px;border:3px solid transparent;}
.toochie-work .service-box.blue:hover .service-box-image{background-image:none;border:3px solid #fff;}
.toochie-work .service-box.orange{border-bottom:3px solid #f68c09;}
.toochie-work .service-box.orange .icon{color:#f68c09;background:#fde3c4;}
.toochie-work .service-box.orange .read-more{color:#f68c09;}
.toochie-work .service-box.orange:hover{background:#f68c09;}
.toochie-work .service-box.green{border-bottom:3px solid #08da4e;}
.toochie-work .service-box.green .icon{color:#08da4e;background:#cffddf;}
.toochie-work .service-box.green .read-more{color:#08da4e;}
.toochie-work .service-box.green:hover{background:#08da4e;}
.toochie-work .service-box.red{border-bottom:3px solid #e9222c;}
.toochie-work .service-box.red .icon{color:#e9222c;background:#fef7f8;}
.toochie-work .service-box.red .read-more{color:#e9222c;}
.toochie-work .service-box.red:hover{background:#e9222c;}
.toochie-work .service-box.purple{border-bottom:3px solid #b50edf;}
.toochie-work .service-box.purple .icon{color:#b50edf;background:#f8e4fd;}
.toochie-work .service-box.purple .read-more{color:#b50edf;}
.toochie-work .service-box.purple:hover{background:#b50edf;}
.toochie-work .service-box.pink{border-bottom:3px solid #f51f9c;}
.toochie-work .service-box.pink .icon{color:#f51f9c;background:#feecf7;}
.toochie-work .service-box.pink .read-more{color:#f51f9c;}
.toochie-work .service-box.pink:hover{background:#f51f9c;}
.toochie-work .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more{color:#fff;}
.toochie-work .service-box:hover .icon{background:#fff;}

/***************TOOCHIE WORK SECTION END HERE********************/




/***************WHY TOOCHIE SECTION START HERE********************/
.why-toochie{position:relative;margin-top:100px;background-image:url(../img/top-why-toochie-shape-2.png);background-repeat:no-repeat;background-size:cover;background-position:inherit;padding-bottom:100px;}
.why-toochie .section-header{text-align:center;padding-bottom:40px;padding-top:100px;}
.why-toochie .process-section-inner{position:relative;counter-reset:item;margin-top:25px;}
.why-toochie .process-section-inner:before{content:"";position:absolute;top:0;bottom:0;left:50%;width:14px;border-radius:30px;margin-left:-7px;background:#2c426d;}
.why-toochie .process-section-inner article{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:50px;}
.why-toochie .process-section-inner article:before{content:"";content:"";position:absolute;top:50%;left:50%;margin-left:-18px;height:32px;margin-top:-15px;width:32px;border-radius:100%;background:#fff;border:solid 6px #2c426d;z-index:5;}
.why-toochie .process-section-inner article .process-info, .why-toochie .process-section-inner article .process-point{width:50%;position:relative;}
.why-toochie .process-section-inner article .process-point:before{counter-increment:item;content:counter(item,decimal-leading-zero);font-size:120px;color:#2c426d;font-weight:600;letter-spacing:.02em;line-height:1;display:inline-block;vertical-align:middle;position:relative;top:-4px;font-family:poppins,sans-serif;margin-right:50px;}
.why-toochie .process-section-inner article .process-point figure{display:inline-block;vertical-align:middle;margin:0;position:relative;z-index:10;}
.why-toochie .process-section-inner article .process-point:after{content:"";position:absolute;top:50%;height:2px;width:50%;background:#465466;right:0;}
.why-toochie .process-section-inner article .process-info{padding:0 90px;}
.why-toochie .process-section-inner article .process-info h4{color:#000;margin-bottom:20px;font-weight:700;font-size:26px;}
.why-toochie .process-section-inner article .process-info p{color:#000;font-weight:400;font-size:18px;}
.why-toochie .process-section-inner article:nth-child(2n){-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;}
.why-toochie .process-section-inner article:nth-child(2n) .process-point{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.why-toochie .process-section-inner article:nth-child(2) .process-point:before{color:#2c426d;}
.why-toochie .process-section-inner article:nth-child(2n) .process-point:after{left:0;right:auto;}
.why-toochie .process-section-inner article .process-point figure img{max-width:100%;}





@media only screen and (max-width:1598px){
.why-toochie .process-section-inner:before{width:8px;margin-left:-6px;}
.why-toochie .process-section-inner article{margin-bottom:20px;}
.why-toochie .process-section-inner article:before{margin-left:-15px;height:26px;margin-top:-12px;width:26px;border-width:5px;}
.why-toochie .process-section-inner article .process-point:before{font-size:120px;margin-right:20px;}
.why-toochie .process-section-inner article .process-point figure{max-width:120px;}
.why-toochie .process-section-inner article .process-point:after{width:65%;}
.why-toochie .process-section-inner article .process-info{padding:0 60px;}
.why-toochie .process-section-inner article:nth-child(2n) .process-point:before{margin-left:30px;}

}


@media only screen and (max-width: 1200px){
.why-toochie .process-section-inner article .process-point:after {width: 35%;}
}

@media only screen and (max-width: 767px){
.why-toochie .process-section-inner:before { left: 6px;}
.why-toochie .process-section-inner article { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.why-toochie  .process-section-inner article:before { margin-left: -4px; height: 16px; margin-top: -7px; width: 16px; border-width: 3px; left: 0; top: 45px; }
.why-toochie .process-section-inner article .process-point { text-align: left; padding-left: 60px; margin-bottom: 15px; }
.why-toochie .process-section-inner article .process-info, .why-toochie .process-section-inner article .process-point {  width: 100%;}
.why-toochie .process-section-inner article .process-point:before { font-size: 49px; z-index: 5; top: 0; }
.why-toochie .process-section-inner article .process-point figure { max-width: 90px; }
.why-toochie .process-section-inner article .process-point:after { width: 50px; left: 0; z-index: 1; }
.why-toochie .process-section-inner article .process-info {padding: 0 0 0 60px;}
.why-toochie .process-section-inner article:before { margin-left: -4px; height: 16px; margin-top: -7px; width: 16px; border-width: 3px; left: 0; top: 45px; }

.why-toochie .process-section-inner article:nth-child(2n) {  -webkit-box-orient: vertical;-webkit-box-direction: normal;  -ms-flex-direction: column; flex-direction: column;}


.why-toochie .process-section-inner article:nth-child(2n) .process-point { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.why-toochie .process-section-inner article:nth-child(2n) .process-point:before { margin-left: 0; margin-right: 20px;}
.why-toochie .process-section-inner article .process-point figure { max-width: 90px; }
.why-toochie .process-section-inner article .process-point:after { width: 50px; left: 0; z-index: 1; }

}
.publish-your-video{position:relative;background-image:url(../img/publish-bg.png);background-repeat:no-repeat;background-size:cover;background-position:inherit;}
.publish-your-video .section-header h2{color:#fff;max-width:500px;width:100%;margin:0 auto;text-transform:capitalize;}
.publish-your-video p{color:#fff;font-size:20px;font-weight:500;width:100%;max-width:900px;margin:0 auto;text-align:center;}
.publish-your-video .btn-get-started{margin-top:30px;line-height:0;    padding: 23px 40px;
     border-radius:40px;transition:0.5s;color:#fff;background:transparent;box-shadow:0px 5px 30px rgb(65 84 241 / 40%);border:2px solid #fff;text-transform:uppercase;}
.publish-your-video .btn-get-started i{margin-left:5px;font-size:18px;transition:0.3s;}
.publish-your-video .btn-get-started:hover i{transform:translateX(5px);}

/***************WHY TOOCHIE SECTION END HERE********************/




/***************LATEST VIDEO ADA START HERE********************/
.video-area{position:relative; margin-bottom:30px;}
.video-button-style1{position:absolute;bottom:0;right:0;left:39%;top:41%;}
.layer-image img.img-fluid{width:100%;}
.video-button-style1 .hover-link{position:absolute;top:0;left:0;height:100%;width:100%;}

.video-area .rtl-content {     position: absolute;  top: 40%; z-index: 2; left: 41%; }
.video-area .rtl-content::before{content:'';position:absolute;left:0;top:0;z-index:-1;width:100%;height:100%}
.video-area .rtl-content .rtl-btn{display: inline-block;  width: 64px; height: 64px;   line-height: 92px;border-radius: 50%;  color: #fff; background-color: #fff; position: relative;  z-index: 1; box-shadow: 0 20px 70px rgb(0 0 0 / 20%);line-height: 64px; border-radius: 50%;}
.video-area .rtl-content .rtl-btn span{font-size:30px;position:absolute;left: 5px; text-align:center;right:0;    top: -3px; font-weight:700;border-radius:50%}
.video-area .rtl-content a span i { color: #000; background: -webkit-gradient(linear, left top, left bottom, from(#1c3197), to(#d20a42)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.video-area .rtl-content .rtl-btn::before{content:'';display:block;position:absolute;top:0;right:0;z-index:-1;bottom:0;left:0;border-radius:50%;border:1px solid #fff;-webkit-animation:ripple 2s linear infinite;animation:ripple 2s linear infinite}
.video-area .rtl-content .rtl-btn::after{content:'';display:block;position:absolute;top:0;right:0;z-index:-1;bottom:0;left:0;border-radius:50%;border:1px solid #fff;-webkit-animation:ripple 2s linear 1s infinite;animation:ripple 2s linear 1s infinite}

@-webkit-keyframes ripple{
0%{-webkit-transform:scale(1);transform:scale(1)}
75%{-webkit-transform:scale(1.75);transform:scale(1.75);opacity:1}
100%{-webkit-transform:scale(2);transform:scale(2);opacity:0}
}

@keyframes ripple{
0%{-webkit-transform:scale(1);transform:scale(1)}
75%{-webkit-transform:scale(1.75);transform:scale(1.75);opacity:1}
100%{-webkit-transform:scale(2);transform:scale(2);opacity:0}

}

/***************LATEST VIDEO ADA END HERE********************/





/***************TESTIMONIAL SECTION START HERE********************/
.testimonial{position:relative;background-image:url(../img/testimonial-bg.jpg);background-repeat:no-repeat;background-size:cover;background-position:inherit;}
.testimonial .section-header{padding-bottom:0px;}
.testimonial h2{color:#fff;}
.testimonial h5{font-size:25px;color:#fff;}
.carousel-section{padding:125px 0px 0px 0px;}
.testimonial-text-area p{color:#fff;font-size:18px;}
.testimonial-text-area p.author-name{margin-bottom:0px;}
#carouselExampleControls .carousel-control-next-icon{display:none;}
#carouselExampleControls .carousel-control-prev-icon{display:none;}
button.carousel-control-prev {  display: none;}
button.carousel-control-next{display: none;}
/***************TESTIMONIAL SECTION END HERE********************/



/***************FOOTER SECTION START HERE********************/
.home-page-footer{padding:0 0 0px 0;font-size:14px;position:relative;background-image:url(../img/footer-bg.jpg);background-repeat:no-repeat;background-size:cover;background-position:inherit;margin-top:100px;}
.footer .footer-top{background-size:contain;padding:200px 0 30px 0;}

@media (max-width:992px){
.footer .footer-top{background-position:center bottom;}
}


.footer .footer-top .footer-info{margin-bottom:30px;}
.footer .footer-top .footer-info .logo{line-height:0;margin-bottom:15px;}
.footer .footer-top .footer-info .logo img{max-height:40px;margin-right:6px;}
.footer .footer-top .footer-info .logo span{font-size:30px;font-weight:700;letter-spacing:1px;color:#012970;font-family:"Nunito", sans-serif;margin-top:3px;}
.footer .footer-top .footer-info p{font-size:18px;line-height:24px;margin-bottom:0;color:#fff;}
.footer .footer-top .social-links a{font-size:20px;display:inline-block;line-height:0;margin-right:10px;transition:0.3s;background-color:#fff;width:49px;height:31px;line-height:33px;border-radius:20px;text-align:center;}
.footer .footer-top .social-links a i{background:-webkit-gradient(linear, left top, left bottom, from(#1c3197), to(#d20a42));-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

.footer .footer-top .social-links a:hover i{background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.footer .footer-top .social-links a:hover{}
.footer .footer-top h4{font-size:24px;font-weight:300;color:#fff;text-transform:capitalize;position:relative;padding-bottom:12px;}
.footer .footer-top .footer-links{padding-left:7%;}
.footer .footer-top .footer-contact{padding-left:7%;}
.footer .footer-top .footer-links{margin-bottom:30px;}
.footer .footer-top .footer-links ul{list-style:none;padding:0;margin:0;}
.footer .footer-top .footer-links ul i{padding-right:2px;color:#fff;font-size:20px;margin-right:15px;float:left;}
.footer .footer-top .footer-links ul li{padding:10px 0;display:flex;align-items:center;}
.footer .footer-top .footer-links ul li:first-child{padding-top:0;}
.footer .footer-top .footer-links ul a{color:#fff;transition:0.3s;display:inline-block;line-height:18px;font-size:18px;}
.footer .footer-top .footer-links ul a:hover{color:#c80c46;}
.footer .footer-top .footer-contact p{line-height:26px;color:#fff;}
.copyright-section{background-color:#0000003d;}
.footer .copyright{text-align:center;padding-top:30px;color:#012970;padding-bottom:30px;}
.copyright p{margin:0;color:#fff;font-size:18px;}
.footer .credits{padding-top:10px;text-align:center;font-size:13px;color:#012970;}
/***************FOOTER SECTION END HERE********************/


.font-style{
    font-size: 20px;
}

/***************RESPONSIVE-START-HERE********************/
@media (min-width:320px) and (max-width:1200px){
.footer .footer-top .footer-links {padding-left: 15px;}
.footer .footer-top .footer-contact { padding-left: 15px;}
}
@media (min-width:320px) and (max-width:991px){
.hero h1 { padding-right: 0px; text-align: center;}
	
}


@media (min-width:768px) and (max-width:991px){
.hero h1 { padding-right: 0px; text-align: center;}
	
}


@media (min-width:768px) and (max-width:1200px){
.navbar a, .navbar a:focus {  padding: 10px 5px 10px 5px;}
}

@media (min-width:991px) and (max-width:1200px){
.hero h1{ padding-right: 0px;}
.banner-video-area .rtl-content { top: 21%;}
}

@media (min-width:320px) and (max-width:767px){
    .header .navbar ul{padding: 20px;}
.navbar .getstarted{    margin-left: 0px;margin-bottom: 13px;}
.header.fixed-top.active{height: 80px;}

}

/***************RESPONSIVE-END-HERE********************/


.header.fixed-top.active{
background: #1c3197;
padding: 15px 0;
box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
z-index: 9999;}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar {
    max-width: 1340px;
    margin-left: auto;
    margin-right: AUTO;
}

.header .navbar-collapse.collapse.show {
    background-color: #1c3197;
}


.navbar-collapse ul li a {
    padding: 10px 12px 10px 20px !important;
}

.haeder-right ul.navbar-nav { padding-left: 22%;width:100%;}


.dashboard-tile-mt{margin-top:25px;}

/***************admin-click-css-start********************/
@media (max-width: 767px){
.dropdown-menu.dropdown-menu-lg {
    width: 350px;
    position: absolute !important;
    display: block !important;
    left: auto !important;
    right: 0px !important;
    top: 4% !important;}

    .haeder-right ul.navbar-nav { padding-left: 0px;}
.dashboard-tile-margin{margin-bottom:25px;}
.dashboard-tile-margin-top{margin-top:25px;}
}




@media (max-width: 991.98px){
.topbar {    margin-top: 0px !important;}



}

/***************admin-click-css-end********************/

#hero-2{width: 100%;
    /* height: 17vh; */
    height: 10vh;
    background: url(../img/toochie-banner.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 20px 0px !important;
  }



  .header-menu .menu-nav .menu-item .menu-link{    padding: 10px 13px !important;}

  .creator-banner {
    position: relative;
    background-image: url(../img/publish-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 140px 0px 100px;
}
.creator-banner .btn-get-started{margin-top:30px;line-height:0;    padding: 25px 30px; border-radius:40px;transition:0.5s;color:#fff;background:transparent;box-shadow:0px 5px 30px rgb(65 84 241 / 40%);border:2px solid #fff;text-transform:uppercase;}
.creator-banner .btn-get-started span{font-family:"Nunito", sans-serif;font-weight:600;font-size:16px;letter-spacing:1px;}
.creator-banner .btn-get-started i{margin-left:5px;font-size:18px;transition:0.3s;}
.creator-banner .btn-get-started:hover i{transform:translateX(5px);}
.display-4 span {
        background: linear-gradient( 
90deg ,#1c3197,#d20a42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.circle {
    background-image: linear-gradient( 
90deg ,#1c3197,#d20a42);
    font-size: 22px;
    font-weight: 700;
}
.believe-toochie {
    position: relative;
    margin-top: 0px;
    background-image: url(../img/top-why-toochie-shape-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    padding-bottom: 100px;
    padding-top: 160px;
}
.believe-wrap h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.071;
}

.faq-section {
    background: #ffffff;
    min-height: auto;
    padding: 10vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #c80c46;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #c80c46;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
 