<div *ngIf="loading" class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        Createur Détail
      </h3>
    </div>
    <div class="card-toolbar">
      <a class="btn btn-light" routerLink="/admin/creator/list">
        <i class="fa fa-arrow-left"></i>Arrière
      </a>
    </div>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="mt-5">
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-lg-6"></label>
              <div class="col-lg-6">
                <h5 class="font-weight-bold mb-6">Informations de l'utilisateur</h5>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Prénom</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].firstName |titlecase}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Nom</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].lastName| titlecase}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-6"></label>
              <div class="col-lg-6">
                <h5 class="font-weight-bold mb-6">Coordonnées</h5>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Numéro du contact</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].phone}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Email Address</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.email}}</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-6">
                <label>Adresse 1</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].line1}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Adresse 1</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].line2}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>ville</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].city}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>code postal</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].postal_code}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Pays</label>
              </div>
              <div class="col-lg-6">
                <span>{{countryName}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>État</label>
              </div>
              <div class="col-lg-6">
                <span>{{stateName}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Date of Birth</label>
              </div>
              <div class="col-lg-6">
                <span>{{dob}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-6"></label>
              <div class="col-lg-6">
                <h5 class="font-weight-bold mb-6">Bank Details</h5>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Routing Number</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].routingNumber}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Numéro de compte/IBAN</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].accountNumber}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Nom du titulaire du compte</label>
              </div>
              <div class="col-lg-6">
                <span>{{createrData.users[0].accountHolderName |titlecase}}</span>
              </div>
            </div>
            
          </div>
          <div class="col-lg-6">
            <div class="video" *ngIf="videoSource">
              <video controls (click)="toggleVideo()" #videoPlayer style="width: 461px; margin: 0px auto;">
                <source src="{{videoSource}}" type="video/mp4" />
                Browser not supported
              </video>
            </div>
          </div>
        </div>

        <div class="float-left">
          <a class="btn btn-success font-weight-bold mr-2" (click)="approve()">Approuver</a>
          <a class="btn btn-danger font-weight-bold mr-2" (click)="reject()">Rejeter</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>