<div *ngIf="loading" class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        Détails de la proposition
      </h3>
    </div>
    <div class="card-toolbar">
      <a class="btn btn-light" routerLink="/brand/proposals/list">
        <i class="fa fa-arrow-left"></i>Arrière
      </a>
    </div>
  </div>
  <div class="card-body">

    <ng-container>
      <div class="mt-5">

        <!--- Proposals Details start ------->
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Créer le</label>
          </div>
          <div class="col-lg-9">
            <span>{{porposalData.createdAt | date : 'medium'}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Nom de la campagne</label>
          </div>
          <div class="col-lg-9">
            <span>{{porposalData.campaignRs.campaignName |titlecase}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Nom du produit</label>
          </div>
          <div class="col-lg-9">
            <span>{{porposalData.productRs.productName}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Objectif de la campagne</label>
          </div>
          <div class="col-lg-9">
            <p *ngFor="let adGoal of porposalData.campaignRs.adGoals;let i =index;">{{adGoal.value}}</p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Brief</label>
          </div>
          <div class="col-lg-9">
            <p *ngFor="let adMention of porposalData.campaignRs.adMentions;let i =index;">{{adMention.value}}</p>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3">
            <label>Createur</label>
          </div>
          <div class="col-lg-9">
            <span>{{porposalData.createrUserRs.firstName}} {{porposalData.createrUserRs.lastName}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3">
            <label>Un message</label>
          </div>
          <div class="col-lg-9">
            <span>{{porposalData.message}}</span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3">
            <label>Video</label>
          </div>
          <div class="col-lg-9">
            <div class="video">
              <video controls (click)="toggleVideo()" #videoPlayer>
                <source src="{{videoSource}}" type="video/mp4" />
                Browser not supported
              </video>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3">
            <label>Statut</label>
          </div>
          <div class="col-lg-9">
            <span class="label label-lg label-inline" [class.label-light-success]="porposalData.status === 1"
              [class.label-light-danger]="porposalData.status === 2"
              [class.label-light-primary]="porposalData.status === 0">
              <ng-container *ngIf="porposalData.status === 0">En attente</ng-container>
              <ng-container *ngIf="porposalData.status === 1">Approuvé</ng-container>
              <ng-container *ngIf="porposalData.status === 2">Rejeté</ng-container>
            </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-3">
            <label>Offre reçue</label>
          </div>
          <div class="col-lg-9">
            <span *ngIf="porposalData.offerSent == true">Oui ({{porposalData.offerSentAt | date : 'medium'}})</span>
            <span *ngIf="porposalData.offerSent == false">Non</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Offre acceptée</label>
          </div>
          <div class="col-lg-9">
            <span *ngIf="porposalData.offerAccepeted == true">Oui
              ({{porposalData.offerAcceptedAt | date : 'medium'}})</span>
            <span *ngIf="porposalData.offerAccepeted == false">Non</span>
          </div>
        </div>
        <ng-container>
          <div class="form-group row">
            <div class="col-lg-3">
              <label>Nom du transporteur</label>
            </div>
            <div class="col-lg-9">
                {{porposalData.campaignRs.courierVendorName | titlecase}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label>Numéro de suivi</label>
            </div>
            <div class="col-lg-9">
                {{porposalData.campaignRs.trackingNumber | titlecase}}
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-3">
              <label>Adresse de livraison </label>
            </div>
            <div class="col-lg-9">
                {{porposalData.deliveryAddress }}
            </div>
          </div>
        </ng-container>


        <!--- Offer form start -->
        <form class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="approve()">
          <div class="form-group row">
            <div class="col-lg-3">
              <label>Message</label>
            </div>
            <div class="col-lg-9">
              <textarea [readonly]="readOnly" class="form-control" formControlName="message" name="message"></textarea>
            </div>
          </div>
          <div class="float-left">
            <button *ngIf="porposalData.status==0" type="submit" class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid">Accepter l'offre</button>
            <a *ngIf="porposalData.status==0" class="btn btn-danger font-weight-bold mr-2"
              (click)="reject()">Rejeter</a>
          </div>

          <!-- <div class="float-left">
                    <a 
                    class="btn btn-success font-weight-bold mr-2" 
                    (click)="approve()">Approve</a>
                    <a 
                    class="btn btn-danger font-weight-bold mr-2" 
                    (click)="reject()">Reject</a>
                  </div> -->
        </form>

        <!--- Offer end ------->

      </div>
    </ng-container>
  </div>
</div>