<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Payments</h3>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="payments.length == 0">
        <app-no-record-placeholder title="payment"></app-no-record-placeholder>
      </div>
      <!-- begin:Table -->
      <div *ngIf="payments.length != 0" class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>
            <th>
              Créer le
            </th>
            <th>
              Amount
            </th>
            <th>
              Numéro de compte/IBAN
            </th>
            <th>
              Statut
            </th>
            <th>
              Date de paiement
            </th>
            <th>
                Action
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments">
              <td class="selection-cell">
                {{payment.createdAt | date : 'medium'}}
              </td>
              <td class="selection-cell">
                {{payment.amount|currency:'EUR':true}}
              </td> 
              <td class="selection-cell">
                {{payment.accountNumber ? payment.accountNumber:''}}
              </td>              
              <td class="selection-cell">
                <span class="label label-lg label-inline" [class.label-light-success]="payment.status === 'Completed'"
               [class.label-light-primary]="payment.status === 'Pending'">
                <ng-container *ngIf="payment.status === 'Pending'">Pending</ng-container>
                <ng-container *ngIf="payment.status === 'Completed'">Approuvée</ng-container>
              </span>
              </td>
              <td class="selection-cell">
                {{payment.paymentDate? (payment.paymentDate | date : 'medium') :''}}
              </td>
              <td class="selection-cell">
                <a class="mx-2" routerLink="/creator/payments/detail/{{payment._id}}"><i class="fa fa-eye"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
  </div>