<ng-container>
  <div class="card card-custom" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container>
      <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
          style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Ajouter Banque</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">ajouter votre compte bancaire</span>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-primary menu-link" (click)="editForm()">Éditer</a>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <!-- <div class="row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Statut du document</label>
          <div class="col-lg-9 col-xl-6">
            <div class="label label-lg label-inline label-light-success"
              [ngClass]="isVerified ? 'label-light-success' : 'label-light-danger'">{{accountStatus | titlecase}}</div>
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Nom du titulaire du compte</label>
          <div class="col-lg-9 col-xl-6">
            <span [ngClass]="detail">{{bankDetail?.accountHolderName}}</span>
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Account Holder Name"
              autocomplete="off" formControlName="accountholderName" [ngClass]="{
                  'is-invalid': formGroup.controls['accountholderName'].invalid,
                  'd-none' : showField
                }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Account Holder Name is required',
            control: formGroup.controls['accountholderName']
          }"></ng-container>
          </div>
        </div>

        <div *ngIf="userCountry== 'US'" class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Routing Number</label>
          <div class="col-lg-9 col-xl-6">
            <span [ngClass]="detail">{{bankDetail?.routingNumber}}</span>
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Routing Number"
              autocomplete="off" formControlName="routingNumber" [ngClass]="{
                  'is-invalid': formGroup.controls['routingNumber'].invalid,
                  'd-none' : showField
                }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Routing Number is required',
            control: formGroup.controls['routingNumber']
          }"></ng-container>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Numéro de compte/IBAN</label>
          <div class="col-lg-9 col-xl-6">
            <span [ngClass]="detail">************{{bankDetail?.accountNumber.substring(-1, 4)}}</span>
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Account Number/IBAN"
              autocomplete="off" formControlName="accountNumber" [ngClass]="{
                  'is-invalid': formGroup.controls['accountNumber'].invalid,
                  'd-none' : showField
                }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Account Number/IBAN is required',
            control: formGroup.controls['accountNumber']
          }"></ng-container>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label text-alert">Confirmer le numéro de compte</label>
          <div class="col-lg-9 col-xl-6">
            <span [ngClass]="detail">************{{bankDetail?.accountNumber.substring(-1, 4)}}</span>
            <input type="text" class="form-control form-control-lg form-control-solid"
              placeholder=" Confirm Account Number" autocomplete="off" formControlName="confirmaccountNumber" [ngClass]="{
                  'is-invalid': formGroup.controls['confirmaccountNumber'].invalid,
                  'd-none' : showField
                }" />
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm Account Number is required',
            control: formGroup.controls['confirmaccountNumber']
          }"></ng-container>
          </div>
        </div>
        <!-- <ng-container>
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold mt-10 mb-6">Un document d'identification, soit un passeport ou une carte
                d'identité locale.</h5>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Document de vérification (Recto)</label>
            <div class="col-lg-9 col-xl-3">
              <input class="d-none" id="actual-btn1" type="file" (change)="onFileChange($event,'front')" />
              <label class="proposalVideo" for="actual-btn1">Choisir le fichier</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Document pour vérification (Retour)</label>
            <div class="col-lg-9 col-xl-3">
              <input class="d-none" id="actual-btn2" type="file" formControlName="back"
                (change)="onFileChange($event,'back')" />
              <label class="proposalVideo" for="actual-btn2">Choisir le fichier</label>
            </div>
          </div>
        </ng-container> -->

        <!--other doc-->
        <!-- <ng-container *ngIF="userCountry !='US'">          
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-9 col-xl-6">
              <h5 class="font-weight-bold mt-10 mb-6">Un document indiquant l'adresse, soit un passeport, une carte
                d'identité locale ou une facture de services publics d'une entreprise de services publics bien connue.
              </h5>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label"> Document supplémentaire1 (recto)</label>
            <div class="col-lg-9 col-xl-3">
              <input class="d-none" id="actual-btn-front" type="file"
                (change)="onchangeAdditionaldoc($event,'additionaldocFront')" />
              <label class="proposalVideo" for="actual-btn-front">Choisir le fichier</label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Document supplémentaire1 (retour)</label>
            <div class="col-lg-9 col-xl-3">
              <input class="d-none" id="actual-btn-back" type="file" formControlName="back"
                (change)="onchangeAdditionaldoc($event,'additionaldocBack')" />
              <label class="proposalVideo" for="actual-btn-back">Choisir le fichier</label>
            </div>
          </div>          
        </ng-container> -->
        <!--otherdoc end-->
      </div>


      <div class="card-header py-3">
        <div class="card-toolbar">
          <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" [ngClass]="buttonShowHide"
            (click)="submit()">Ajouter</button>
          <!-- <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancel</button> -->
        </div>
      </div>
    </div>
    <!--end::Form-->
    <!-- <div>
      <p>Remarque : Le fichier téléchargé doit être une image en couleur (inférieure à 8 000 pixels sur 8 000 pixels),
        au
        format JPG, PNG ou PDF, et d'une taille inférieure à 10 Mo.</p>
    </div> -->
  </div>
</ng-container>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>