<app-outer-header></app-outer-header>

<section id="hero-2" class="d-flex align-items-center"></section>

<section class="hero-3 d-flex align-items-center">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>La plateforme</h2>
    </header>

    <div class="" style="font-size: 16px">
      <p>
        Découvrez Toocie, une plateforme tout-en-un pour booster vos campagnes
        de marketing et obtenez des résultats extraordinaires !
      </p>
      <br />
      <p>
        Avec Toocie, il n’a jamais été aussi facile d’obtenir de nouvelles
        vidéos eCom pour créer une preuve sociale et faire exploser vos ventes.
        Ces vidéos sont à publier sur tous les réseaux sociaux comme Facebook,
        Instagram, TikTok, SnapChat ou encore Youtube afin d’augmenter vos
        ventes et gagner en visibilité.
      </p>
      <br />
      <p>En tant que marque, Toocie vous permet de :</p>
      <br />
      <p>- Créer des campagnes publicitaires tel un professionnel</p>
      <p>- Créer des tâches via les modèles préétablis</p>
      <p>
        - Donner des instructions précises en créant un scénario personnalisé
      </p>
      <p>- Rester informé de l’évolution de la création de votre contenu</p>
      <p>- Suivre l’avancement des tâches à réaliser</p>
      <p>
        - Choisir votre personnel/créateur voulant travailler sur vos tâches
      </p>
      <p>- Accepter/refuser les actions d’un créateur</p>
      <br />
      <p>
        En d’autres termes, la plateforme Toocie vous permet de gérer votre
        business du début à la fin.
      </p>
      <br />
      <p>
        Prêt à booster vos ROAS (Return On Ad Spent / indicateur du retour sur
        investissement d’un canal marketing) ?
      </p>
      <br />
      <p>
        Prenez dès maintenant contact avec l’un des créateurs vidéo disponible
        sur la place de marché de Toocie afin de stimuler vos ventes avec des
        publicités vidéo adaptées à votre marque, authentiques et
        personnalisées.
      </p>
      <br />
      <p>
        Notre plateforme Toocie est évidemment aussi très avantageuse pour les
        créateurs. Grâce à Toocie, le créateur a la possibilité de tester de
        nouveau produits en faisant des collaborations avec des marques, de
        créer du contenu pour ces dernières, tout en augmentant sa notoriété et
        en recevant une rémunération correcte. En travaillant en ligne, vous
        pourrez exercer votre métier de n’importe quel endroit, du moment que
        vous disposez d’une connexion internet. Travailler en ligne avec Toocie,
        c’est aussi gagner en liberté !
      </p>
      <br />
      <p>
        Que vous soyez une marque ou un créateur, Toocie vous encadre dans le
        développement de votre activité.
      </p>
    </div>
  </div>
</section>

<app-outer-footer></app-outer-footer>
