<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Produits</h3>
    </div>
    <div class="card-toolbar" id="child-header">

      <a class="btn btn-primary" routerLink="/brand/products/add">Ajouter</a>

    </div>
  </div>
  <div class="card-body">
    <div *ngIf="products.length == 0">
      <app-no-record-placeholder title="product"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="products.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Name
          </th>
          <th>
            Voir le produit
          </th>
          <th class="text-center">ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index;">
            <td class="selection-cell">
              {{product.productName | titlecase}}
            </td>
            <td >
              <a *ngIf="product.productUrl" href="{{product.productUrl}}" target="_blank">Voir</a>
            </td>
            <td class="text-center">
              <a class="mx-2" routerLink="/brand/products/edit/{{product._id}}" title="Update Product"><i
                  class="fa fa-edit"></i></a>
              <a class="mx-2" [routerLink]="" (click)="deleteData(product._id,i)" title="Delete Product"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>