<app-outer-header></app-outer-header>

<!-- ======= HEADER START HERE ======= -->
<!-- <header id="header" class="header fixed-top">
         <div class="container container-xl d-flex align-items-center justify-content-between haeder-right">
            <div class="row">
            <nav class="navbar  navbar-dark  fixed-top navbar-expand-lg">
                  <a routerLink="/" class="navbar-brand logo d-flex align-items-center">
                     <img src="assets/website/img/white-logo-01.svg" alt="">
                     </a>
               <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             
               <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
          
                 <ul class="navbar-nav mr-auto ">
                  <li><a class="nav-link active"routerLink="/about">A propos</a></li>
                  <li><a class="nav-link active"routerLink="/platform">La platforme</a></li>
                  <li><a class="nav-link active"routerLink="/pricing">Prix</a></li>
                  <li><a class="nav-link active"routerLink="/blog">Blog</a></li>
                  <li><a class="nav-link scrollto"routerLink="/contact">Contact</a></li> -->

<!-- <li><a class="nav-link scrollto" routerLink="/auth/registration-creator">Devenir Créateur</a></li> -->
<!-- <li><a class="nav-link scrollto" routerLink="/auth/login">Embaucher un Createur</a></li> -->
<!-- <li><a class="nav-link scrollto" routerLink="/auth/registration">Contact</a></li> -->

<!-- <li><a class="nav-link active"routerLink="/contact-us">Prix</a></li> -->

<!-- <li *ngIf="!userName"><a class="getstarted scrollto" routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Se Connecter </a></li>
                  <li *ngIf="userName"><a class="getstarted scrollto" routerLink="/dashboard"><i class="far fa-user"></i> {{userName}}</a></li>
                  <li *ngIf="!userName"><a class="getstarted scrollto" routerLink="/auth/registration"><i class="far fa-user"></i>se inscrire</a></li> -->

<!-- <li><a class="nav-link" href="#services">Become a Creator</a></li>
                  <li><a class="nav-link" href="#portfolio">Hire a Creator</a></li>
                  <li><a class="nav-link" href="#team">Contact Us</a></li>
                  <li><a class="getstarted" href="#about"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
                  <li><a class="getstarted" href="#about"><i class="far fa-user"></i> Sign Up</a></li> -->

<!-- </ul>
               </div>
             </nav>
           
         </div>
       </div>
      </header>
       -->
<!-- ======= HEADER END HERE ======= -->

<!-- ======= HEREO SECTION START HERE ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <!-- <h1 data-aos="fade-up">Vendez plus avec des vidéos personnalisées</h1> -->
        <h1 data-aos="fade-up" style="font-size: 45px !important">
          Vous êtes créateur de contenu ou une Marque ? Développez votre
          activité avec toocie!
        </h1>
        <!-- <h2 data-aos="fade-up" data-aos-delay="400">Obtenez des photos et des vidéos personnalisées pour vos
               produits ou services
               Toocie est une plateforme qui fournit du contenu généré par des utilisateurs à la demande, par des
               personnes réelles du monde entier.</h2> -->
        <h2 data-aos="fade-up" data-aos-delay="400">
          Toocie est la première plateforme francophone qui permet aux marques
          d'obtenir du contenu UGC à moindre coût, et aux créateurs de contenus
          de tester des produits en étant rémunéré.
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-lg-start">
            <a
              routerLink="creatur"
              class="
                btn-get-started
                scrollto
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
              "
              target="_blank"
            >
              <span>Je suis créateur</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            <a
              routerLink="auth/login"
              class="
                btn-get-started
                scrollto
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
                ml-5
              "
            >
              <span>Je suis une marque</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>

        <!-- close new button -->
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <div class="banner-video-area">
          <div class="banner-video-image">
            <img
              src="assets/website/img/banner-video.png"
              class="img-fluid"
              alt=""
            />
            <!-- <img src="assets/media/misc/download.png" class="img-fluid" alt="">  -->
          </div>

          <!-- <div class="rtl-content">
                  <a href="assets/website/video/toocievideo6.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= HEREO SECTION END HERE ======= -->

<!-- ======= TOOCHIE WIRK SECTION START HERE ======= -->
<section class="logo-section">
  <div class="container">
    <div class="row align-items-center text-center">
      <!-- <div class="col-md-4 text-center">
        <img
          src="assets/website/img/Brand/adworld.png.webp"
          class="img-fluid"
          width="80%"
        />
      </div> -->
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo_gros_600x.png.webp"
          class="img-fluid"
          width="45%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo_noir_47546a0e-f8e0-439f-8785-28e1d9014c33_600x.png.webp"
          class="img-fluid"
          width="45%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/LOGO_SOSIILK_GOLD_png_500x.png.webp"
          class="img-fluid"
          width="45%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-1-noir_300x.png.webp"
          class="img-fluid"
          width="45%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/vert_fonce_x300.png.webp"
          class="img-fluid"
          width="45%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-bourjois.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-caudalie.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-katvond.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-benefit.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-pimkie.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-dyptique.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-loccitane.png"
          class="img-fluid"
          width="80%"
        />
      </div>
      <div class="col-md-2">
        <img
          src="assets/website/img/Brand/logo-lafuma.png"
          class="img-fluid"
          width="80%"
        />
      </div>
    </div>
  </div>
</section>
<!-- mobile-logo-section  start-->
<section class="mobile-logo-section align-items-center">
  <img
    height="50px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo_gros_600x.png.webp"
  />
  <img
    height="50px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo_noir_47546a0e-f8e0-439f-8785-28e1d9014c33_600x.png.webp"
  />
  <img
    height="50px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/LOGO_SOSIILK_GOLD_png_500x.png.webp"
  />
  <img
    height="50px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-1-noir_300x.png.webp"
  />
  <img
    height="50px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/vert_fonce_x300.png.webp"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-bourjois.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-caudalie.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-katvond.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-benefit.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-pimkie.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-dyptique.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-loccitane.png"
  />
  <img
    height="145px"
    width="auto"
    class="inline-block"
    alt="Evereden"
    src="assets/website/img/Brand/logo-lafuma.png"
  />
</section>
<!-- mobile-logo-section  End-->

<section id="Toochie-work" class="toochie-work">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Comment fonctionne Toocie ?</h2>
      <div class="border-line"></div>
    </header>
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <div class="service-box-image">
            <img
              src="assets/website/img/create-tasks-icon-1.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Créez votre script</h3>
          <p>
            La première étape pour vous est de remplir votre brief. Vous devrez
            choisir le type de contenu que vous souhaitez recevoir et ajouter
            des instructions détaillées et du contenu de référence pour les
            créateurs. Une fois que le briefing est prêt, il sera examiné par
            notre équipe et, si nécessaire, nous fournirons l'avis d'un expert.
            L'ensemble de ce processus ne prend que quelques minutes.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <div class="service-box-image">
            <img
              src="assets/website/img/create-tasks-icon-1.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Sélectionnez les créateurs qui vous intéressent.</h3>
          <p>
            Vous verrez des créateurs se porter candidats à votre campagne dans
            les premières heures. Vous pourrez parcourir le portfolio de chaque
            créateur et sélectionner ceux qui correspondent le mieux à votre
            marque.Nous vous fournirons les informations d'expédition de chaque
            créateur et notre équipe pourra également vous aider à expédier les
            produits requis.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-box blue">
          <div class="service-box-image">
            <img
              src="assets/website/img/create-tasks-icon-1.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Faites-vous livrer du contenu</h3>
          <p>
            Vous commencerez à recevoir du contenu quelques jours après la
            réception de vos produits par les créateurs de contenu. En fonction
            de votre commande, vous pourrez parcourir les photos et vidéos
            créées et sélectionner celles qui vous plaisent le plus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= TOOCHIE WIRK SECTION END HERE ======= -->

<!-- ======= WHY TOOCHIE SECTION START HERE  ======= -->
<section id="why-toochie" class="why-toochie">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Pourquoi Toocie?</h2>
      <div class="border-line"></div>
    </header>
    <div class="process-section-inner">
      <article>
        <div class="process-point" data-aos="fade-up" data-aos-delay="200">
          <figure>
            <img
              src="assets/website/img/doller-image.png"
              class="img-fluid"
              alt=""
            />
          </figure>
        </div>
        <div class="process-info">
          <h4>Un prix imbattable</h4>
          <p>
            Pourquoi payer plus cher ? Les publicités vidéo sur Toocie
            commencent à 79 €. Pas de coûts cachés ou de frais surprises !.
          </p>
          <p></p>
        </div>
      </article>
      <article>
        <div class="process-point" data-aos="fade-up" data-aos-delay="200">
          <figure>
            <img
              src="assets/website/img/user-video-image.png"
              class="img-fluid"
              alt=""
            />
          </figure>
        </div>
        <div class="process-info">
          <h4>Des créateurs de contenu Pré-selectioné</h4>
          <p>
            Les créateurs de vidéos sélectionnés par Toocie sont très
            compétents. Et il y en a plus de 10 200 parmi lesquels vous pouvez
            choisir.
          </p>
        </div>
      </article>
      <article>
        <div class="process-point" data-aos="fade-up" data-aos-delay="200">
          <figure>
            <img
              src="assets/website/img/graph-image.png"
              class="img-fluid"
              alt=""
            />
          </figure>
        </div>
        <div class="process-info">
          <h4>Augmentation du ROI & ROAS</h4>
          <p>
            Les publicités vidéo de Toocie sont très performantes et génèrent de
            meilleurs retours que les autres options du marché.
          </p>
        </div>
      </article>
      <article>
        <div class="process-point" data-aos="fade-up" data-aos-delay="200">
          <figure>
            <img
              src="assets/website/img/hand-image.png"
              class="img-fluid"
              alt=""
            />
          </figure>
        </div>
        <div class="process-info">
          <h4>
            La confiance des principales entreprises de commerce électronique
          </h4>
          <p>
            Des milliers d'entreprises ont déjà augmenté leurs ventes grâce à
            Toocie
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- ======= WHY TOOCHIE SECTION END HERE  ======= -->
<!-- ======= LATEST VIDEO ADS START HERE  ======= -->
<section id="latest-video-ads" class="latest-video-ads">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>VIDÉOS TÉMOINAGES</h2>
      <div class="border-line"></div>
    </header>
    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <!-- <div class="video-area">
               <div class="rtl-content">
                  <a href="assets/website/video/toocievideo1.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div>
               <div class="layer-image">
                  <img src="assets/website/img/video1.png" class="img-fluid-video" alt="">
               </div>
            </div> -->
        <div class="video-area">
          <div class="rtl-content">
            <a class="rtl-btn" (click)="playVideo('videoplayer1', 'video1')">
              <span
                ><i
                  [ngClass]="video1 == 'play' ? 'fas fa-play' : 'fas fa-pause'"
                ></i
              ></span>
            </a>
          </div>
          <div>
            <!-- <a href="assets/website/video/toocievideo1.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a> -->
            <!-- <button class="active">play</button> -->

            <video
              #videoPlayer1
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source
                src="assets/website/video/toocie_1.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <!-- <div class="layer-image">
                  <img src="assets/website/img/video1.png" class="img-fluid-video" alt="">
               </div> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div class="rtl-content">
            <a class="rtl-btn" (click)="playVideo('videoplayer2', 'video2')">
              <span
                ><i
                  [ngClass]="video2 == 'play' ? 'fas fa-play' : 'fas fa-pause'"
                ></i
              ></span>
            </a>
          </div>
          <div>
            <video
              #videoPlayer2
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source
                src="assets/website/video/toocie_2.mp4"
                type="video/mp4"
              />
            </video>
          </div>

          <!-- <div class="rtl-content">
                  <a href="assets/website/video/toocievideo2.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div>
               <div class="layer-image">
                  <img src="assets/website/img/video2.png" class="img-fluid-video" alt="">
               </div> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div class="rtl-content">
            <a class="rtl-btn" (click)="playVideo('videoplayer3', 'video3')">
              <span
                ><i
                  [ngClass]="video3 == 'play' ? 'fas fa-play' : 'fas fa-pause'"
                ></i
              ></span>
            </a>
          </div>
          <div>
            <video
              #videoPlayer3
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source
                src="assets/website/video/toocie_3.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <!-- <div class="rtl-content">
                  <a href="assets/website/video/toocievideo3.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div>
               <div class="layer-image">
                  <img src="assets/website/img/video3.png" class="img-fluid-video" alt="">
               </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= LATEST VIDEO ADS END HERE  ======= -->

<!-- ======= PUBLISH YOUR VIDEO SECTION START HERE  ======= -->
<section id="publish-your-video" class="publish-your-video">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Publier votre contenu UGC sur tous les réseaux sociaux</h2>
    </header>
    <!-- <p>
      Duis aute irure dolor in repr ehen derit in volup tate velit esse cillum
      dolore eu fugiat nulla pari atur. Exce pteur sint occa ecat cupi datat non
      proi dent, sunt in culpa qui officia dese runt mollit anim id est laborum.
    </p> -->
    <!-- <div class="text-center ">
         <a [routerLink]=""
            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center       align-self-center">
            <span>Commencer</span> <i class="bi bi-arrow-right"> </i>
         </a>
      </div> -->
  </div>
</section>
<!-- ======= PUBLISH YOUR VIDEO SECTION END HERE  ======= -->

<!-- ======= LATEST VIDEO ADS START HERE  ======= -->
<section id="latest-video-ads" class="latest-video-ads">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Nos réalisations</h2>
      <div class="border-line"></div>
    </header>
    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <!-- <div class="video-area">
               <div class="rtl-content">
                  <a href="assets/website/video/toocievideo1.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div>
               <div class="layer-image">
                  <img src="assets/website/img/video1.png" class="img-fluid-video" alt="">
               </div>
            </div> -->
        <div class="video-area">
          <div class="rtl-content">
            <a class="rtl-btn" (click)="playVideo('videoplayer1', 'video1')">
              <span
                ><i
                  [ngClass]="video1 == 'play' ? 'fas fa-play' : 'fas fa-pause'"
                ></i
              ></span>
            </a>
          </div>
          <div>
            <!-- <a href="assets/website/video/toocievideo1.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a> -->
            <!-- <button class="active">play</button> -->

            <video
              #videoPlayer1
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source
                src="assets/website/video/1_toociePlatorm.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <!-- <div class="layer-image">
                  <img src="assets/website/img/video1.png" class="img-fluid-video" alt="">
               </div> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div class="rtl-content">
            <a class="rtl-btn" (click)="playVideo('videoplayer2', 'video2')">
              <span
                ><i
                  [ngClass]="video2 == 'play' ? 'fas fa-play' : 'fas fa-pause'"
                ></i
              ></span>
            </a>
          </div>
          <div>
            <video
              #videoPlayer2
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source
                src="assets/website/video/2_ToociePlateform.mp4"
                type="video/mp4"
              />
            </video>
          </div>

          <!-- <div class="rtl-content">
                  <a href="assets/website/video/toocievideo2.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div>
               <div class="layer-image">
                  <img src="assets/website/img/video2.png" class="img-fluid-video" alt="">
               </div> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div class="rtl-content">
            <a class="rtl-btn" (click)="playVideo('videoplayer3', 'video3')">
              <span
                ><i
                  [ngClass]="video3 == 'play' ? 'fas fa-play' : 'fas fa-pause'"
                ></i
              ></span>
            </a>
          </div>
          <div>
            <video
              #videoPlayer3
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source
                src="assets/website/video/3_toocieplateform.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <!-- <div class="rtl-content">
                  <a href="assets/website/video/toocievideo3.mp4" class="rtl-btn" target="_blank">
                     <span><i class="fas fa-caret-right"></i></span>
                  </a>
               </div>
               <div class="layer-image">
                  <img src="assets/website/img/video3.png" class="img-fluid-video" alt="">
               </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= LATEST VIDEO ADS END HERE  ======= -->

<!-- =======  TESTIMONIAL SECTION START HERE ======= -->
<section id="testimonial" class="testimonial">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>TÉMOIGNAGE</h2>
      <!-- <h5>Équipe de soutien super géniale</h5> -->
    </header>
    <div class="row">
      <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="testimonial-image-left">
          <img
            src="assets/website/img/testimonial-left-image.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="carousel-section">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <img
                      src="assets/website/img/testimonial-person-image.png"
                      class=""
                      alt="..."
                    />
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <div class="testimonial-text-area">
                      <p>
                        "Toocie a été une solution super abordable, facile à
                        utiliser et pratique pour créer du contenu. Notre agence
                        de marketing demande continuellement du nouveau contenu,
                        et toocie est l'une de nos plateformes de référence pour
                        continuer à alimenter nos contenus publicitaire."
                      </p>
                      <p class="author-name">Sara Lee</p>
                      <p class="author-destination">CMO à NyxSkin</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <img
                      src="assets/website/img/testimonial-person-image.png"
                      class=""
                      alt="..."
                    />
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <div class="testimonial-text-area">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliquaUt enim ad minim veniam, quis nostrud
                        exercitation
                      </p>
                      <p class="author-name">Alex Jhon Doe</p>
                      <p class="author-destination">
                        Client of Centent Marketing
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <img
                      src="assets/website/img/testimonial-person-image.png"
                      class=""
                      alt="..."
                    />
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <div class="testimonial-text-area">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliquaUt enim ad minim veniam, quis nostrud
                        exercitation
                      </p>
                      <p class="author-name">Alex Jhon Doe</p>
                      <p class="author-destination">
                        Client of Centent Marketing
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--col-6-end-->
    </div>
  </div>
  <!-- Brand site start -->
</section>
<div>
  <header class="section-header mt-20">
    <h2>Nos Partenaires</h2>
  </header>
</div>

<div class="row col-md-12 text-center">
  <div class="col-md-2 mt-5">
    <img
      src="assets/website/img/Brand/snapchat.png.webp"
      class="img-fluid"
      width="40px"
    />
  </div>
  <div class="col-md-2 mt-5">
    <img
      src="assets/website/img/Brand/tiktok.png.webp"
      class="img-fluid"
      width="120px"
    />
  </div>
  <div class="col-md-2 mt-5">
    <img
      src="assets/website/img/Brand/shopify.png.webp"
      class="img-fluid"
      width="120px"
    />
  </div>
  <div class="col-md-2 mt-5">
    <img
      src="assets/website/img/Brand/Facebook-Agency-Partner-SOIDEA.png.webp"
      class="img-fluid"
      width="90px"
    />
  </div>
  <div class="col-md-2 mt-5">
    <img
      src="assets/website/img/Brand/facebook-marketing-inline.png"
      class="img-fluid"
      width="135px"
    />
  </div>
  <div class="col-md-2 mt-5">
    <img
      src="assets/website/img/Brand/instagram-partner-100x100.png"
      class="img-fluid"
      width="80px"
    />
  </div>
</div>
<!-- Brand site end  -->

<!-- FAQ Home Page -->
<section class="faq-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="faq-title text-center pb-3">
          <h2>FAQ</h2>
        </div>
      </div>

      <div class="col-md-10 offset-md-1">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-1"
                  data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1"
                >
                  <span class="badge">1</span
                  ><b style="font-size: 18px"
                    >Quel est le délai de livraison du contenu ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-1"
              class="collapse"
              aria-labelledby="faqHeading-1"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Nous avons généralement besoin de 2 à 5 jours ouvrables entre
                  le briefing initial et la soumission du contenu final.
                  Cependant, nous sommes toujours heureux de travailler pour
                  respecter vos délais spécifiques et pouvons fournir du contenu
                  très rapidement*.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-2"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-2"
                >
                  <span class="badge">2</span>
                  <b style="font-size: 18px"
                    >Comment choisir le(s créateur(s) ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-2"
              class="collapse"
              aria-labelledby="faqHeading-2"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Après approbation et publication de votre annonce sur la
                  plateforme, vous aurez le choix sur une liste de créateurs qui
                  seront intéressés par votre produit.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-3"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-3"
                >
                  <span class="badge">3</span>
                  <b style="font-size: 18px"
                    >Dois-je envoyer le produit à chacun des créateurs ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-3"
              class="collapse"
              aria-labelledby="faqHeading-3"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Oui, nous vous fournirons toutes les adresses pour envoyer vos
                  produits.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-4"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-4"
                >
                  <span class="badge">4</span>
                  <b style="font-size: 18px"
                    >Combien coûte la Vidéo ou Photo UGC ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-4"
              class="collapse"
              aria-labelledby="faqHeading-4"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Pour une vidéo UGC de moins d’une minute, nous facturons 79€
                  HTVA
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-5">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-5"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-5"
                >
                  <span class="badge">5</span>
                  <b style="font-size: 18px"
                    >Dois-je payer le créateur en plus des frais ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-5"
              class="collapse"
              aria-labelledby="faqHeading-5"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>Pas du tout ! Le meilleur ? Nos tarifs sont fixes!</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-6">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-6"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-6"
                >
                  <span class="badge">6</span>
                  <b style="font-size: 18px"
                    >Y a-t-il un contrat à durée déterminée ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-6"
              class="collapse"
              aria-labelledby="faqHeading-6"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Aucun contrat n'est requis. Nous pouvons travailler avec vous
                  sur une base one shot ou ponctuelle pour répondre à votre
                  campagne spécifique
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-7">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-7"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-7"
                >
                  <span class="badge">7</span>
                  <b style="font-size: 18px"
                    >Comment allez-vous fournir le contenu ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-7"
              class="collapse"
              aria-labelledby="faqHeading-7"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Le contenu produit sera téléchargeable directement à partir de
                  votre profil.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-8">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-8"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-8"
                >
                  <span class="badge">8</span>
                  <b style="font-size: 18px"
                    >Suis-je propriétaire du contenu ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-8"
              class="collapse"
              aria-labelledby="faqHeading-8"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Non mais Toocie vous accorde une licence d'utilisation du
                  contenu UGC pour une période de 12 mois pour une utilisation
                  et une application numérique.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-9">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-9"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-9"
                >
                  <span class="badge">9</span>
                  <b style="font-size: 18px"
                    >Les créateurs publieront-ils sur leur réseaux sociaux ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-9"
              class="collapse"
              aria-labelledby="faqHeading-9"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Nos créateurs sont uniquement des fournisseurs de contenu, ce
                  qui signifie qu'ils ne sont pas tenus de publier ou ne
                  publieront pas de contenu sur leurs propres réseaux sociaux.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======  TESTIMONIAL SECTION END HERE ======= -->

<!-- =======  FOOTER SECTION START HERE ======= -->
<!-- <footer id="footer" class="footer home-page-footer">
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6 footer-info">
                     <a [routerLink]="" class="logo d-flex align-items-center">
                     <img src="assets/website/img/white-logo-01.svg" alt="">
                     </a>
                     <p>Vos Photos & Vidéos de produits personnalisées 
                        <br>
                        Toocie S.A<br>
                        48 Avenue de l'héliport<br>
                        1000 Bruxelles, Belgique<br>
                        Info@toocie.com<br>
                        00 32 466 27 07 31
                     </p>
                  </div>
                  <div class="col-lg-3 col-md-6  col-6 footer-links">
                     <h4>La société </h4>
                     <ul>
                        <li> <a routerLink="/about">A propos</a></li>
                        <li> <a routerLink="/blog">Blog</a></li>
                        <li> <a [routerLink]="">Mentions léagles </a></li>
                        <li> <a [routerLink]="">Politique de confidentialité </a></li>
                        <li> <a [routerLink]="">Conditions générales  </a></li>
                        <li> <a [routerLink]="">Programmes d'affiliation </a></li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 col-6 footer-links">
                     <h4>Aides & Info </h4>
                     <ul> -->

<!-- <li> <a [routerLink]="">Toocie</a></li>
                        <li> <a [routerLink]=""><i class="fas fa-map-marker-alt"></i> 48 Avenue de l'héliport </a></li>
                        <li> <a [routerLink]=""><i class="fas fa-map-marker-alt"></i> 1000 Bruxelles, Belgique </a></li>
                        <li> <a [routerLink]=""><i class="fas fa-envelope"></i> Info@toocie.com </a></li>
                        <li> <a [routerLink]=""><i class="fas fa-phone-alt"></i>00 32 466 27 07 31</a></li> -->

<!-- <li> <a routerLink="/auth/login">Espace créateur</a></li>
                        <li> <a routerLink="/auth/login"> Espace marque</a></li>
                        <li> <a routerLink="">FAQ</a></li>
                        <li> <a routerLink="/contact">Contact</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 col-12 footer-contact text-center text-md-start">
                     <h4>Follow us</h4>
                     <div class="social-links">
                        <a href="https://www.facebook.com/Toocie-108969447990547" class="facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/toocieofficial/" class="instagram"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/toocie/?viewAsMember=true" class="linkedin"><i class="fab fa-linkedin"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright-section">
            <div class="container-fluid">
               <div class="copyright">
                  <p>© 2021 Toocie. Tous droits reservés </p>
               </div>
            </div>
         </div>
      </footer> -->

<!-- =======  FOOTER SECTION END HERE ======= -->

<app-outer-footer></app-outer-footer>

<!-- Vendor JS Files -->

<!-- </body>
      
</html> -->
