* {
  opacity: 1 !important;
}
@media (min-width: 992px) {
  .header {
    position: fixed !important;
  }
}
.img-fluid-video {
  max-width: 100%;
  height: 380px;
  border-radius: 10px;
  width: 100%;
}
section.mobile-logo-section {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}
section.mobile-logo-section .inline-block {
  display: inline-block;
}
section.mobile-logo-section img.inline-block {
  width: 150px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .logo-section {
    display: none;
  }
  section.mobile-logo-section {
    display: block;
  }
}
@media (min-width: 768px) {
  .logo-section {
    display: block;
  }
  section.mobile-logo-section {
    display: none;
  }
}
