<app-outer-header></app-outer-header>

<section id="hero-2" class=" d-flex align-items-center">

</section>

<section class="hero-3 d-flex align-items-center">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Politique de confidentialité de Toocie</h2>
        </header>

        <div class="" style="font-size: 16px;">
            <p>
                Déclaration de confidentialité du site Internet de Toocie</p>
            <p>Dernière mise à jour : 30 avril 2021</p>
            <p>SOMMAIRE</p>
            <p>1. DEFINITIONS</p>
            <p>2. L'OBJECTIF DE LA POLITIQUE DE CONFIDENTIALITÉ</p>
            <p>3. LE RESPONSABLE DU TRAITEMENT DES DONNÉES ET SES COORDONNÉES</p>
            <p>4. LE TRAITEMENT DES DONNÉES À CARACTÈRE PERSONNEL, LES FINALITÉS, LA BASE JURIDIQUE, LES SOURCES ET LES
                MODALITÉS DE CONSERVATION DES DONNÉES :</p>
            <p>4.1. Le créateur</p>
            <p>4.2. Le Représentant de la Marque</p>
            <p>4.3. Le visiteur du site Web (politique en matière de cookies)</p>
            <p>4.4. Le visiteur des comptes de réseaux sociaux de la Société (Facebook, Instagram, TikTok, LinkedIn,
                Twitter).</p>
            <p>4.5. La personne qui soumet des demandes de renseignements, des requêtes, des plaintes.</p>
            <p>4.6. Le représentant du fournisseur et/ou le représentant d'une autre partie (personne morale) au contrat
                conclu par la Société.</p>
            <p>4.7. Le Client potentiel (son représentant)</p>
            <p>5. LES DESTINATAIRES DES DONNÉES</p>
            <p>6. DROITS DES PERSONNES CONCERNÉES</p>
            <p>7. QUESTIONS ET LITIGES</p>
            <p>8. MISE À JOUR DE LA POLITIQUE DE CONFIDENTIALITÉ</p>

            <p class="h3">1. DÉFINITIONS</p>
            <p>1.1. App - application mobile Toocie.app ;</p>
            <p>1.2. Marque - personne morale qui crée son compte sur la plateforme Toocie.com sur le Site Internet ;</p>
            <p>1.3. Représentant de la Marque - un représentant d'une entité juridique qui crée son compte sur la
                plateforme Toocie sur le Site Internet, agissant au nom et dans l'intérêt de cette entité juridique
                (généralement, un employé) ;</p>
            <p>1.4. Client - Créateurs et/ou Marques ;</p>
            <p>1.5. Société - Toocie, AMA SRL code personne morale 0717626091 , adresse du siège social 48 Avenue de
                l'héliport, 1000 Bruxelles.</p>
            <p>1.6. Créateur - personne physique qui crée son compte dans l'Application ;</p>
            <p>1.7. Marketing direct - activités dont le but est de proposer des biens et services à des personnes par
                courrier, téléphone ou autre moyen direct et/ou de solliciter leur avis sur les biens ou services
                proposés ;</p>
            <p>1.8. EEE - Espace économique européen ;</p>
            <p>1.9. GDPR - Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la
                protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la
                libre circulation de ces données, et abrogeant la directive 95/46/CE (Règlement général sur la
                protection des données) ;</p>
            <p>1.10. LoEC - Loi sur les communications électroniques de la Belgique.</p>
            <p>1.11. Données personnelles, données - toute information relative à une personne physique identifiée ou
                identifiable ("personne concernée") ;</p>
            <p>1.12. Politique de confidentialité - la présente politique de confidentialité ;</p>
            <p>1.13. Fournisseur - une entité juridique avec laquelle la Société a conclu un accord sur la fourniture de
                biens et/ou de services à la Société ;</p>
            <p>1.14. Représentant du fournisseur - un représentant d'une entité juridique avec laquelle la Société a
                conclu un accord pour la fourniture de biens et/ou de services à la Société, agissant au nom et dans
                l'intérêt de cette entité juridique (généralement, un employé) ;</p>
            <p>1.15. Conditions de service - conditions de service de la Société, qui décrivent les conditions
                d'utilisation de l'App et de la plateforme Toocie.com sur le Site Internet, la procédure de fourniture
                des services de la Société, les droits et obligations de la Société, de la Marque et du Créateur
                [Conditions de service] ;</p>
            <p>1.16. Site web - le site web de la Société à l'adresse https://toocie.com</p>
            <p class="h3">2. L'OBJECTIF DE LA POLITIQUE DE CONFIDENTIALITÉ</p>
            <p>La présente Politique de confidentialité fournit des informations sur la manière dont la Société traite
                les données personnelles lorsque les individus utilisent l'App de la Société, s'inscrivent sur la
                plateforme Toocie sur le Site Internet, visitent le Site Internet de la Société ainsi que les comptes de
                réseaux sociaux de la Société, fournissent des demandes de renseignements, des plaintes, des requêtes à
                la Société, et lorsque la Société communique avec les individus dans d'autres cas.</p>
            <p>La présente Politique de confidentialité fournit des informations sur le traitement des données des
                catégories suivantes de personnes concernées :(i)le Créateur (Section 4.1) ; (ii) le Représentant de la
                marque (Section 4.2) ; (iii) le visiteur du Site Internet (Section 4.3) ;(iv)le visiteur des comptes de
                réseaux sociaux de la Société (Section 4. 4) ; (v) la personne qui soumet des demandes, requêtes,
                plaintes à la Société (Section 4.5) ; (vi) le Représentant du Fournisseur et/ou le représentant d'une
                autre partie (personne morale) au contrat conclu par la Société (Section 4.6) ; (vii) le Client
                potentiel (son représentant) (Section 4.7). Les sections 1 - 3 et 5 - 8 de la présente politique de
                confidentialité s'appliquent à toutes les catégories de personnes concernées.</p>
            <p>Nous vous informons également que des changements dans la fonctionnalité de l'App, du Site Web, de la
                plateforme Toocie, dans les solutions technologiques, ainsi que dans les services fournis par la Société
                peuvent entraîner des changements dans les activités de traitement des données de la Société, par
                conséquent la Société peut renouveler et modifier unilatéralement la présente Politique de
                confidentialité. Dans cette optique, nous recommandons à la personne concernée de revoir périodiquement
                la présente Politique de confidentialité, en prenant note de la dernière mise à jour, qui est indiquée à
                la section 8 de la présente Politique de confidentialité.</p>
            <p>La Société s'assure que toute donnée personnelle spécifiée dans la présente Politique de confidentialité
                est traitée conformément aux normes les plus élevées de sécurité et de confidentialité, dans le strict
                respect des exigences du GDPR.
            </p>
            <p class="h3">3. LE RESPONSABLE DU TRAITEMENT DES DONNÉES ET LES COORDONNÉES</p>
            <p>Le responsable du traitement - Toocie,AMASRL, code entité juridique 0717626091, adresse du siège social
                48 Avenue de l'héliport, K5, 1000 Bruxelles, Belgique dont les données sont stockées dans le Registre
                des entités juridiques du Centre d'entreprise de l'État de Belgique. Les coordonnées de contact : e-mail
                : info@toocie.com</p>
            <p class="h3">4. LE TRAITEMENT DES DONNÉES À CARACTÈRE PERSONNEL, LES FINALITÉS, LA BASE JURIDIQUE, LES
                SOURCES ET LES MODALITÉS DE CONSERVATION DES DONNÉES :</p>
            <p>Le responsable du traitement - Toocie,AMASRL, code entité juridique 0717626091, adresse du siège social
                48 Avenue de l'héliport, K5, 1000 Bruxelles, Belgique dont les données sont stockées dans le Registre
                des entités juridiques du Centre d'entreprise de l'État de Belgique. Les coordonnées de contact : e-mail
                : info@toocie.com
            </p>
            <p class="h2">4.1. Le Créateur</p>
            <p>Catégories de données personnelles traitées</p>
            <p>1. Données d'enregistrement dans l'App, de création de compte dans l'App et de connexion au compte :
                informations d'identification (nom, prénom, sexe, pays, date de naissance (âge)) ;
                coordonnées (adresse e-mail, numéro de téléphone) ;
                informations de création de compte (adresse e-mail, mot de passe de connexion, photo) ;
                paramètres de connexion personnels lorsque le créateur se connecte à l'application en utilisant les
                logins Google, Apple, Facebook.</p>
            <p>Données d'utilisation de l'application :</p>
            <p>le contenu créé par le Créateur (y compris le matériel vidéo et/ou les photos, le texte) ;</p>
            <p>les conditions individuelles de l'accord du Créateur avec la Société sur l'utilisation de l'Application
                (Conditions de service et autres accords (le cas échéant)) et</p>
            <p>les détails de leur mise en œuvre (y compris, les compensations, les frais payés ; les tâches de la
                Marque appliquées par le Créateur ; les exigences de contenu d'une Marque spécifique ;</p>
            <p>les tâches acceptées et accomplies par les Marques ; les codes cadeaux fournis ; les produits reçus) ;
            </p>
            <p>le numéro de compte PayPal ou autre fourni ;</p>
            <p>adresse (uniquement si des échantillons de produits sont envoyés au Créateur) ;</p>
            <p>les tailles des vêtements et des chaussures (uniquement si des échantillons de produits sont envoyés au
                Créateur) ;</p>
            <p>communication avec le Créateur concernant l'utilisation de l'App et la fourniture des services de la
                Société (par exemple, canal de communication sélectionné (numéro de téléphone, adresse e-mail), contenu
                de la communication, heure de la communication).</p>
            <p>3. Données qui, selon les actes juridiques, sont nécessaires à l'accomplissement des obligations fiscales
                de la Société. Les données requises par la loi et les formulaires de l'administrateur fiscal, notamment
                :</p>
            <p>les données d'identification (nom, prénom, code d'identification personnel) ;</p>
            <p>compensations et honoraires versés par la Société au Créateur ;</p>
            <p>numéro (code) d'identification du contribuable, code du payeur de TVA, numéro du certificat d'activité
                individuelle, numéro du certificat d'entreprise ;</p>
            <p>série et numéro du passeport, ou numéro de la carte d'identité, ou numéro du permis de résidence
                permanente ou temporaire en République de Lituanie ;</p>
            <p>adresse de résidence d'un résident non permanent en Lituanie.</p>
            <p>Objectifs et base juridique du traitement des données</p>
            <p>La Société traite les données personnelles du Créateur énumérées ci-dessus aux fins suivantes et sur la
                base juridique suivante :</p>
            <p>1. finalité - pour permettre au Créateur de s'inscrire dans l'App, de créer un compte et de le rejoindre,
                ainsi que pour permettre au Créateur d'utiliser l'App, également pour mettre en œuvre les droits et
                obligations mutuels de la Société et du Créateur établis dans les accords conclus entre la Société et le
                Créateur (y compris, les conditions de services et autres accords (le cas échéant)). La base juridique
                du traitement des données à cette fin est la conclusion et l'exécution d'un contrat avec le Créateur
                (Conditions de service et autres accords conclus entre le Créateur et la Société (le cas échéant))
                (article 6 (1) (b) du GDPR). Le contrat avec le Créateur concernant l'utilisation de l'App est conclu
                par l'accord du Créateur avec les Conditions de service lors de l'enregistrement dans l'App ;</p>
            <p>2. finalité - amélioration et développement de l'App, de ses fonctionnalités et des services de la
                Société. En analysant les données, la Société acquiert une meilleure compréhension de ses services, de
                l'utilisation de l'App, ce qui aide la Société à améliorer l'App et ses services. La base juridique du
                traitement des données à cette fin est l'intérêt légitime de la Société à fournir des services
                pertinents, innovants, adaptés, modernes et sécurisés (article 6 (1) (f) du GDPR) ;</p>
            <p>3. finalité - accomplissement des obligations légales de la Société, y compris celles liées au paiement
                et à l'administration des taxes, ainsi que la protection des intérêts légitimes de la Société. Les
                données du Créateur peuvent être utilisées par la Société pour remplir les exigences imposées à la
                Société par les actes juridiques, ainsi que les instructions obligatoires des autorités étatiques
                compétentes, et pour défendre les droits et les intérêts légitimes de la Société, y compris la
                réputation, devant les tribunaux et autres autorités compétentes. La base juridique du traitement des
                données à cette fin est l'intérêt légitime de la Société à se conformer aux exigences des actes
                juridiques et à protéger ses droits violés et ses intérêts légitimes (article 6 (1) (f) du GDPR) ;</p>
            <p>4. finalité - envoi des offres de marketing direct de la Société au Créateur. La base juridique du
                traitement des données à cette fin est l'intérêt légitime de la Société à commercialiser ses biens et
                services (article 6 (1) (f) du GDPR, article 69 (2) de la LoEC). Les données sont utilisées à cette fin
                tant que le Créateur exprime son désaccord avec la Société pour l'utilisation des données à cette fin ;
            </p>
            <p>5. finalité - assurer la communication entre la Société et le Créateur. La base juridique du traitement
                des données du Créateur à cette fin est la conclusion et l'exécution de l'accord avec le Créateur
                (article 6, paragraphe 1, point b) du RGPD) et l'intérêt légitime de la Société à assurer un service à
                la clientèle de qualité appropriée (article 6, paragraphe 1, point f) du RGPD) ;</p>
            <p>6. finalité - publicité, marketing, présentation publique de la Société (par exemple, l'utilisation des
                données du Créateur dans les présentations des services de la Société, les publicités, les annonces
                publiques sur le site Internet de la Société, les comptes de réseaux sociaux). Les données du Créateur
                ne sont traitées à cette fin qu'avec le consentement distinct du Créateur (article 6, paragraphe 1,
                point a) du RGPD).</p>

            <p>Sources des données</p>
            <p>Les données personnelles du Créateur sont obtenues auprès du Créateur lui-même et générées pour lui à
                l'aide de l'App. Si le Créateur se connecte à l'App en utilisant les logins Google, Apple, Facebook, la
                Société recevra de ces sociétés des données sur les paramètres de connexion du Créateur.</p>
            <p>Période de stockage des données</p>
            <p>Les données du Créateur sont conservées pendant 10 ans à compter de la fin de l'accord conclu entre la
                Société et le Créateur, c'est-à-dire depuis la suppression (désactivation) du compte du Créateur dans
                l'Application.</p>
            <p>Cette période de conservation des données peut être prolongée si les données personnelles sont utilisées
                ou peuvent être utilisées comme preuve ou source d'information dans le cadre d'une enquête préliminaire
                ou autre, y compris dans le cadre d'une procédure civile, administrative ou pénale, ou dans d'autres cas
                prévus par la loi, ou la poursuite du stockage et du traitement peut être justifiée par l'intérêt
                légitime de la Société ou une autre base juridique. Dans ces cas, les données à caractère personnel
                peuvent être conservées aussi longtemps que nécessaire aux fins du traitement et sont immédiatement
                détruites lorsque les données ne sont plus nécessaires.</p>
            <p>Les données sont une condition nécessaire à la prestation des services de la Société
                Les données personnelles susmentionnées du Créateur sont nécessaires pour que la Société puisse fournir
                ses services au Créateur conformément aux Conditions de service et se conformer aux actes juridiques
                connexes. Sans fournir ces données, le Créateur ne sera pas en mesure de s'inscrire à l'Application
                et/ou de l'utiliser et de recevoir les services connexes de la Société.</p>
            <p>Si les activités de traitement des données personnelles de la Société ne sont pas acceptables pour le
                Créateur, le Créateur ne doit pas utiliser l'Application, supprimer immédiatement son compte de
                l'Application et l'Application elle-même de son appareil mobile.</p>
            <p>Prise de connaissance de la politique de confidentialité</p>
            <p>En utilisant l'Application, le Créateur reconnaît qu'il a lu attentivement et compris la Politique de
                confidentialité, et qu'il accepte le traitement de ses données personnelles par l'Application.</p>
            <p class="h2">4.2. Le Représentant de la Marque</p>
            <p>Catégories de données personnelles traitées</p>
            <p>1. Informations de contact nécessaires pour créer le compte de la Marque sur la plateforme Toocie.com :
            </p>
            <p>numéro de téléphone du Représentant de la Marque ;</p>
            <p>e-mail du Représentant de la Marque.</p>
            <p>2. Données du Représentant de la Marque qui sont nécessaires ou fournies pour la bonne exécution du
                contrat conclu entre la Marque et la Société (Conditions de service et autres accords (le cas échéant))
                et pour la bonne prestation des services de la Société :</p>
            <p>informations d'identification (nom, prénom) ;</p>
            <p>lieu de travail (Marque représentée) ; fonction ;</p>
            <p>coordonnées (numéro de téléphone ; adresse e-mail) ;</p>
            <p>la signature ;</p>
            <p>les données spécifiées dans la procuration (si un tel document est fourni) ;</p>
            <p>données liées à la prestation de services à la Marque ou à l'exécution du contrat (par exemple, contenu
                des e-mails, communications) ;</p>
            <p>nom, prénom sous lequel la carte bancaire avec laquelle le paiement à la Société est effectué a été
                émise, ainsi que les autres données de cette carte (numéro, date de validité, code CVV).</p>
            <p>Finalités et base juridique du traitement des données</p>
            <p>La Société traite les données personnelles du Représentant de la marque énumérées ci-dessus aux fins
                suivantes et sur la base juridique suivante :</p>
            <p>1. finalité - pour permettre à la Marque de s'inscrire sur la plateforme Toocie.com, de créer un compte et
                de le rejoindre, ainsi que pour permettre à la Marque d'utiliser la plateforme Toocie.com, pour mettre en
                œuvre les droits et obligations entre la Société et la Marque, établis dans les Conditions de service et
                autres contrats (le cas échéant). La base juridique du traitement des données à cette fin est l'intérêt
                légitime de la Société (article 6 (1) (f) du GDPR) : intérêt - connaître les données d'une personne
                responsable de la conclusion et de l'exécution du contrat conclu avec la Marque, pour exécuter
                correctement ses obligations contractuelles envers la Marque, et exiger de la Marque qu'elle exécute
                correctement ses obligations contractuelles envers la Société ;</p>
            <p>2. finalité - amélioration et développement de la plateforme Toocie, de ses fonctionnalités, du Site et
                des services de la Société. En analysant les données, la Société acquiert une meilleure compréhension de
                ses services, de l'utilisation de la plateforme Toocie, ce qui aide la Société à améliorer la 4.
                finalité - envoi des offres de marketing direct de la Société au Créateur. La base juridique du
                traitement des données à cette fin est l'intérêt légitime de la Société à commercialiser ses biens et
                services (article 6 (1) (f) GDPR, article 69 (2) LoEC). Les données sont utilisées à cette fin tant que
                le Créateur exprime son désaccord avec la Société pour utiliser les données à cette fin ;</p>
            <p>3. finalité - envoi des offres de marketing direct de la Société au Créateur. La base juridique du
                traitement des données à cette fin est l'intérêt légitime de la Société à commercialiser ses biens et
                services (article 6 (1) (f) GDPR, article 69 (2) LoEC). Les données sont utilisées à cette fin tant que
                le Créateur exprime son désaccord avec la Société pour utiliser les données à cette fin ;</p>
            <p>4. finalité - assurer la communication entre la Société et le Créateur. La base juridique du traitement
                des données du Créateur à cette fin est la conclusion et l'exécution de l'accord avec le Créateur
                (article 6, paragraphe 1, point b) du RGPD) et l'intérêt légitime de la Société à fournir un service
                client de qualité appropriée (article 6, paragraphe 1, point f) du RGPD) ;</p>
            <p>5. finalité - publicité, marketing, présentation publique de la Société (par exemple, utilisation des
                données du Créateur dans les présentations des services de la Société, publicités, annonces publiques
                sur le site Web de la Société, comptes de médias sociaux). Les données du Créateur sont traitées à cette
                fin uniquement avec le consentement distinct du Créateur (article 6, paragraphe 1, point a) du GDPR).
            </p>
            <p>Sources des données</p>
            <p>Les données personnelles du Créateur sont obtenues auprès du Créateur lui-même et générées pour lui à
                l'aide de l'App. Si le Créateur se connecte à l'App en utilisant les logins Google, Apple, Facebook, la
                Société recevra de ces sociétés des données sur les paramètres de connexion du Créateur.</p>
            <p>Période de stockage des données</p>
            <p>Les données du Créateur sont conservées pendant 10 ans à compter de la fin de l'accord entre la Société
                et le Créateur, c'est-à-dire à compter de la suppression (désactivation) du compte du Créateur dans
                l'App.</p>
            <p>Cette période de conservation des données peut être prolongée si les données personnelles sont utilisées
                ou peuvent être utilisées comme preuve ou source d'information dans le cadre d'une enquête préliminaire
                ou autre, y compris dans le cadre d'une procédure civile, administrative ou pénale, ou dans d'autres cas
                prévus par la loi, ou si la poursuite du stockage et du traitement peut être justifiée par l'intérêt
                légitime de la Société ou une autre base juridique. Dans ces cas, les données personnelles peuvent être
                stockées aussi longtemps que nécessaire aux fins du traitement et sont immédiatement détruites lorsque
                les données ne sont plus nécessaires.</p>
            <p>Les données sont une condition nécessaire à la prestation des services de la Société
                Les données personnelles susmentionnées du Créateur sont nécessaires à la Société pour fournir ses
                services au Créateur conformément aux Conditions de service et pour se conformer aux actes juridiques
                connexes. Sans fournir ces données, le Créateur ne sera pas en mesure de s'inscrire et/ou d'utiliser
                l'Application et de recevoir les services connexes de la Société.</p>
            <p>Si les activités de traitement des données personnelles de la Société ne sont pas acceptables pour le
                Créateur, le Créateur ne doit pas utiliser l'Application, supprimer immédiatement son compte de
                l'Application et l'Application elle-même de son appareil mobile.</p>
                <p>Reconnaissance de la politique de confidentialité</p>
                <p>En utilisant l'Application, le Créateur reconnaît qu'il a lu attentivement et compris la Politique de confidentialité, et accepte le traitement de ses données personnelles par l'Application.</p>
                <p class="h2">4.3. Le visiteur du Site (Politique de cookies)</p>
                <p>Cookies</p>
                <p>Lorsqu'un visiteur visite le Site Internet, des cookies sont utilisés pour assurer la qualité du contenu et des fonctionnalités proposés. Les cookies sont de petits fichiers qui sont stockés sur l'ordinateur de l'utilisateur. Ils sont conçus pour contenir une quantité modeste de données spécifiques à un client et à un site web particuliers, et peuvent être consultés soit par le serveur web, soit par l'ordinateur client. Cela permet à la société de vous reconnaître en tant que visiteur du site web, de sauvegarder les informations et de garantir une utilisation plus rapide et plus confortable du site web. Il permet également d'analyser le comportement du visiteur afin d'améliorer les services fournis. À l'aide des cookies, en fonction de l'objectif et de la fonctionnalité du cookie, des données identifiant le visiteur du site Web, telles que le nom, le prénom, l'adresse électronique, l'adresse IP, peuvent également être collectées. Veuillez donc lire attentivement la liste suivante des cookies utilisés sur le site web, leurs fonctions et leurs dates d'expiration.</p>
                <p>Cookies obligatoires (techniques)</p>
               
                    <table class="table table-borderless">
                        <tr>
                            <td>Fournisseur</td>
                            <td>du cookie</td>
                            <td>Objectif</td>
                            <td>Validity period</td>
                        </tr>
                        <tr>
                            <td>HSID</td>
                            <td>Google / Google Analytics</td>
                            <td>Protège les utilisateurs contre les fausses connexions, assure l'authenticité de l'utilisateur.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>SIDCC</td>
                            <td>Google / Google Analytics</td>
                            <td>Assure l'authenticité de l'utilisateur.</td>
                            <td>3 mois</td>
                        </tr>
                        <tr>
                            <td>SID</td>
                            <td>Google / Google Analytics</td>
                            <td>Garantit l'authenticité de l'utilisateur.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>_gid</td>
                            <td>Google / Google Analytics</td>
                            <td>Stocke une valeur unique après chaque visite de page</td>
                            <td>1 jour</td>
                        </tr>
                        <tr>
                            <td>__cfduid</td>
                            <td>Google / Google Analytics</td>
                            <td>Conçu pour accélérer le chargement des pages.</td>
                            <td>3090 jours</td>
                        </tr>
                        <tr>
                            <td>DSID</td>
                            <td>Google / Google Analytics</td>
                            <td>Stocke un identifiant unique crypté.</td>
                            <td>Pendant la navigation sur le site.</td>
                        </tr>
                        <tr>
                            <td>intercom-session-pu1mxg2b</td>
                            <td>Intercom</td>
                            <td>Conçu pour assurer le fonctionnement de l'outil Intercom.</td>
                            <td>1 heure</td>
                        </tr>
                        <tr>
                            <td>_hjid</td>
                            <td>HotJar</td>
                            <td>Défini lorsqu'un utilisateur visite une page, un numéro aléatoire identifiant l'utilisateur est stocké.</td>
                            <td>365 jours</td>
                        </tr>
                        <tr>
                            <td>_hjAbsoluteSessionInProgress</td>
                            <td>HotJar</td>
                            <td>Conçu pour fournir les fonctionnalités de HotJar.</td>
                            <td>Pendant la navigation sur le site.</td>
                        </tr>
                        <tr>
                            <td>auth0</td>
                            <td>Auth0</td>
                            <td>Stocke les informations de connexion de l'utilisateur.</td>
                            <td>3 jours</td>
                        </tr>
                        <tr>
                            <td>did_compat</td>
                            <td>Auth0</td>
                            <td>Stocke les informations sur la dernière activité de connexion de l'utilisateur.</td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>did</td>
                            <td>Auth0</td>
                            <td>Stocke les informations sur la dernière activité de connexion de l'utilisateur.</td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>auth0_compat</td>
                            <td>Auth0</td>
                            <td>Stocke les informations de connexion de l'utilisateur. 3 jours</td>
                            <td>3 jours</td>
                        </tr>
                        <tr>
                            <td>OptanonAlertBoxClosed</td>
                            <td>Auth0</td>
                            <td>Stocke la date à laquelle le message d'information a été fermé.</td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>OptanonConsent</td>
                            <td>Auth0</td>
                            <td>Stocke les informations sur le consentement à la notification d'information.</td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>ga_Rollup</td>
                            <td>Auth0</td>
                            <td>Stocke les informations relatives à la soumission du plugin Auth0.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>__stripe_mid</td>
                            <td>Stripe</td>
                            <td>Stocke une valeur unique associée à l'utilisateur pour assurer le fonctionnement de Stripe.</td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>__stripe_orig_props</td>
                            <td>Stripe</td>
                            <td>Stocke les paramètres du plugin Stripe.</td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>__stripe_sid</td>
                            <td>Stripe</td>
                            <td>Stocke une valeur unique associée à l'utilisateur pour garantir le fonctionnement de Stripe. </td>
                            <td>1 an</td>
                        </tr>
                        <tr>
                            <td>Scfc</td>
                            <td>Stripe</td>
                            <td>des informations pour assurer le fonctionnement du plugin Stripe.</td>
                            <td>1 an</td>
                        </tr>
                    </table>
                    <p>Cookies analytiques</p>
                    <table class="table table-borderless">
                        <tr>
                            <td>Fournisseur</td>
                            <td>du cookie</td>
                            <td>Objectif</td>
                            <td>Validity period</td>
                        </tr>
                        <tr>
                            <td>SAPISID</td>
                            <td>Google / Google Analytics</td>
                            <td>Aide à la collecte d'informations sur les vidéos téléchargées sur YouTube.</td>
                            <td>Permanent</td>
                        </tr>
                        <tr>
                            <td>SSID</td>
                            <td>Google / Google Analytics</td>
                            <td>Aide à la collecte d'informations sur l'utilisation de YouTube et de GoogleMaps.</td>
                            <td>Permanent</td>
                        </tr>
                        <tr>
                            <td>_ga</td>
                            <td>Google / Google Analytics</td>
                            <td>Permet d'identifier de manière unique différents utilisateurs.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>gtm_id</td>
                            <td>Intercom</td>
                            <td>Lie l'utilisateur à l'intercom interne Google Analytics. </td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>_ga</td>
                            <td>Intercom</td>
                            <td>Permet à l'utilisateur d'accéder à l'interface interne de Google Analytics.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>ajs_user_id</td>
                            <td>Hotjar</td>
                            <td>Utilisé par les analystes d'utilisation en ligne.</td>
                            <td>365 jours</td>
                        </tr>
                        <tr>
                            <td>_ga</td>
                            <td>Hotjar</td>
                            <td>Définit Google Analytics, utilisé pour différencier les utilisateurs.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>ajs_group_id</td>
                            <td>Hotjar</td>
                            <td>Utilisé pour regrouper les visites de différents utilisateurs.</td>
                            <td>365 jours</td>
                        </tr>
                        <tr>
                            <td>ajs_anonymous_id</td>
                            <td>Hotjar</td>
                            <td>Généré aléatoirement pour les utilisateurs anonymes.</td>
                            <td>365 jours</td>
                        </tr>
                    </table>
                    <p>Cookies fonctionnels</p>
                    <table class="table table-borderless">
                        <tr>
                            <td>Fournisseur</td>
                            <td>du cookie</td>
                            <td>Objectif</td>
                            <td>Validity period</td>
                        </tr>
                        <tr>
                            <td>CONSENT</td>
                            <td>Google / Google Analytics</td>
                            <td>tocke les paramètres des utilisateurs pour les annonces personnalisées.</td>
                            <td>Permanent</td>
                        </tr>
                    </table>
                   <p>Cookies commerciaux</p>
                    <table class="table table-borderless">
                        <tr>
                            <td>Fournisseur</td>
                            <td>du cookie</td>
                            <td>Objectif</td>
                            <td>Validity period</td>
                        </tr>
                        <tr>
                            <td>__Secure-3PAPISID</td>
                            <td>Google / Google Analytics</td>
                            <td>Crée un profil d'intérêt de l'utilisateur pour afficher des annonces</td>
                            <td>2 ans.</td>
                        </tr>
                        <tr>
                            <td>__Secure-3PSID</td>
                            <td>Google / Google Analytics</td>
                            <td>Crée un profil d'utilisateur pour afficher des annonces</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>NID</td>
                            <td>Google / Google Analytics</td>
                            <td>Détient les paramètres de l'utilisateur liés aux sites google en fonction des recherches récentes.</td>
                            <td>6 mois</td>
                        </tr>
                        <tr>
                            <td>APISID</td>
                            <td>Google / Google Analytics</td>
                            <td>Personnalise les annonces de Google Analytics.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>APISIDCC</td>
                            <td>Google / Google Analytics</td>
                            <td>Aide à la collecte d'informations liées à la diffusion d'annonces.</td>
                            <td>2 ans</td>
                        </tr>
                        <tr>
                            <td>ANID</td>
                            <td>Google / Google Analytics</td>
                            <td>Collecte des informations sur les annonces récemment affichées en fonction des recherches récentes.</td>
                            <td>Permanent</td>
                        </tr>
                        <tr>
                            <td>1P_JAR</td>
                            <td>Google / Google Analytics</td>
                            <td>Permet de diffuser des annonces personnalisées sur les sites Google.</td>
                            <td>1 semaine</td>
                        </tr>
                        <tr>
                            <td>IDE</td>
                            <td>Google / Google Analytics</td>
                            <td>Conçu pour faire fonctionner GoogleDoubleClick.</td>
                            <td>Pendant la navigation sur le site.</td>
                        </tr>
                        <tr>
                            <td>_fbp</td>
                            <td>Facebook</td>
                            <td>Conçu pour fournir des services de publicité sur Facebook.</td>
                            <td>Pendant la navigation sur le site.</td>
                        </tr>
                    </table>
                    <p class="h2">Objectifs et base juridique de l'utilisation des cookies</p>
                    <p>La finalité des cookies obligatoires (techniques) - contribuer à assurer le bon fonctionnement du site Web. Ces cookies sont essentiels pour faire fonctionner le site Web avec succès et de manière fonctionnelle. La base juridique de l'utilisation des cookies (techniques) obligatoires est l'intérêt légitime de la Société à assurer le fonctionnement du site Web de la Société, à garantir la qualité et la sécurité du site Web et à fournir les services de la Société (article 6 (1) (f) du GDPR).</p>
                    <p>L'objectif des cookies analytiques - obtenir des informations et des données sur la façon dont les visiteurs utilisent le site Web. La base juridique de l'utilisation de ces cookies est le consentement du visiteur du site Web (article 6 (1) (a) du GDPR).</p>
                    <p>L'objectif des cookies fonctionnels - aider les visiteurs du site Web à utiliser le site Web de manière efficace, effective et pratique. Ces cookies ne sont pas nécessaires, mais améliorent considérablement la qualité de l'utilisation du Site Internet. La base juridique de l'utilisation de ces cookies est le consentement du visiteur du site Web (article 6 (1) (a) du GDPR).</p>
                    <p>L'objectif des cookies commerciaux - la publicité de la Société ou de tiers. La base juridique de l'utilisation de ces cookies est le consentement du visiteur du site Web (article 6 (1) (a) du GDPR).</p>
                    <p class="h2">Gestion des cookies</p>
                    <p>La plupart des navigateurs web sont configurés pour accepter automatiquement les cookies. Les visiteurs du Site Internet peuvent, à leur discrétion, bloquer ou supprimer les cookies et les identifiants uniques similaires si les paramètres de leur navigateur ou de leur appareil le permettent.</p>
                    <p>Toutefois, veuillez noter que si le visiteur du site Web refuse certains cookies, la Société ne peut pas être sûre de la manière dont le site Web fonctionnera pour ce visiteur, ni même de son fonctionnement.</p>
                    <p>Le visiteur du site web peut accéder, modifier et changer ou annuler ses choix en matière de cookies à tout moment. Cette opération peut être effectuée sur son navigateur internet. De plus amples informations sur les cookies et la manière de les gérer sont fournies sur le site webwww.allaboutcookies.org et dans les pages d'aide des navigateurs internet :</p>
                    <p>Google Chrome -https://support.google.com/chrome/answer/95647?hl=en</p>
                    <p>Firefox - https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</p>
                    <p>Opera -https://help.opera.com/en/latest/web-preferences/#cookies</p>
                    <p>Internet Explorer -https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</p>
                    <p>Safari -https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</p>
                    <p>Nous tenons à vous informer que si vous bloquez certains cookies, le site Web pourrait être modifié, les paramètres précédemment sélectionnés supprimés, tandis que certaines parties du site Web pourraient ne pas être fonctionnelles.
                        Étant donné que la Société utilise des cookies tiers sur le Site Web, nous fournissons des ressources où vous pouvez trouver plus d'informations sur les cookies tiers :</p>
                        <p>"Google Analitics" -</p>
                        <p>https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=lt</p>
                        <p>"Google" - https://policies.google.com/technologies/types?hl=lt</p>
                        <p>Auth0 - https://auth0.com/privacy/</p>
                        <p>Stripe - https://stripe.com/cookies-policy/legal</p>
                        <p>Intercom - https://www.intercom.com/legal/privacy;<br>
                            https://www.intercom.com/legal/cookie-policy</p>
                        <p>Hotjar - https://www.hotjar.com/legal/policies/privacy/;<br>
                            https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookie-Information
                        </p>
                        <p>Facebook - https://www.facebook.com/policies/cookies/, https://www.facebook.com/policy.php</p>
                        <p class = "h2">4.4. Le visiteur des comptes de réseaux sociaux de la Société (Facebook, TikTok, LinkedIn, Twitter)</p>
                        <p>Catégories de données personnelles traitées</p>
                        <p>1. Données d'une personne qui visite les comptes de réseaux sociaux administrés par la Société (Facebook, Instagram, TikTok, LinkedIn, Twitter), en tenant compte des paramètres de confidentialité du compte de la personne et des informations fournies par cette personne, notamment :</p>
                        <p>les données d'identification (nom, prénom, photo, adresse IP) ;</p>
                        <p>données indiquant l'adhésion d'une personne à un compte de réseau social administré par la Société (informations sur les clics tels que "suivre", "envoyer une demande d'ami", "accepter une demande d'ami", "aimer" et autres actions d'adhésion similaires, et autres données indiquant l'implication dans le compte de réseau social administré par la Société, informations sur le moment où la personne a rejoint les comptes de réseau social administrés par la Société) ;</p>
                        <p>les données indiquant l'implication d'une personne dans les comptes de réseaux sociaux de la Société et leur contenu (par exemple, les commentaires sur les messages, les partages de messages, les informations sur les réactions aux messages, les informations fournies, les commentaires, les opinions, l'heure de leur soumission, les réponses aux commentaires, les opinions) ;</p>
                        <p>les données des comptes de réseaux sociaux des personnes, leur contenu (la Société n'a pas stocké ces données dans aucun de ses systèmes, cependant, lorsqu'une personne se connecte à des comptes de réseaux sociaux administrés par la Société, cette dernière peut avoir accès aux données des comptes de réseaux sociaux des personnes) ;</p>
                        <p>données de communication avec la Société (par exemple, message, heure de réception du message, contenu du message, pièces jointes au message, réponse au message, heure de réponse au message) ;</p>
                        <p>des informations sur la participation aux événements de la société ;</p>
                        <p>des informations sur l'évaluation de la société.</p>
                        <p>Finalités et base juridique du traitement des données</p>
                        <p>La finalité du traitement des données énumérées ci-dessus est l'administration des comptes de réseaux sociaux de la Société (Facebook, Instagram, TikTok, LinkedIn, Twitter) (notamment, présentation de la Société, de ses services aux utilisateurs des réseaux sociaux, publication de divers messages, informations, communication avec les utilisateurs des réseaux sociaux). La base juridique du traitement des données à cette fin est un consentement (article 6 (1) (a) du GDPR). Nous considérerons qu'un visiteur des comptes de réseaux sociaux de la Société a donné son consentement au traitement de ses données à cette fin lorsque la personne visite les comptes de réseaux sociaux de la Société, ainsi que clique sur les boutons " J'aime ", " Suivre ", " Envoyer une demande d'ami ", " Accepter une demande d'ami " ou effectue d'autres actions montrant sa volonté de se joindre au compte de réseaux sociaux de la Société.
                            Sources des données</p>
                         <p>La Société, en tant qu'administrateur des comptes de réseaux sociaux, sélectionne les paramètres relatifs en fonction de son public cible et de ses objectifs de gestion et de promotion. Les opérateurs de réseaux sociaux (par exemple, Facebook, Instagram) peuvent restreindre la capacité de l'administrateur de comptes de réseaux sociaux à modifier certains paramètres importants et, par conséquent, la société ne peut pas influencer les informations sur les visiteurs des comptes de réseaux sociaux de la société qui sont collectées par les opérateurs de réseaux sociaux (tels que Facebook, Instagram). Par conséquent, les opérateurs de réseaux sociaux agissent en tant que contrôleurs de données indépendants et ont des objectifs, des méthodes et des outils de traitement des données indépendants.</p>   
                         <p>Tous ces paramètres des opérateurs de réseaux sociaux affectent le traitement des données personnelles des personnes qui utilisent les médias sociaux, visitent les comptes de la Société, lisent les messages de la Société sur les médias sociaux ou communiquent avec la Société à l'aide des réseaux sociaux. En général, les opérateurs de réseaux sociaux traitent les données personnelles (même celles collectées par le choix de la Société de paramètres de compte supplémentaires) à leurs fins indépendantes, conformément aux politiques de confidentialité des opérateurs de réseaux sociaux. Toutefois, lors de l'utilisation du réseau social, de la communication avec la Société par le biais des réseaux sociaux, de la visite des comptes de la Société sur les réseaux sociaux, du suivi des enregistrements dans ces derniers, de la soumission de demandes de renseignements à la Société, la Société reçoit des informations sur ces personnes. La quantité de données reçues dépend des paramètres du compte sélectionnés par la Société, des accords avec les opérateurs de réseaux sociaux sur la commande de services supplémentaires, des cookies installés par les opérateurs de réseaux sociaux.</p>
                         <p>Étant donné que les opérateurs de réseaux sociaux sont des contrôleurs de données indépendants, veuillez lire leurs politiques de confidentialité (accordez une attention particulière aux cookies et aux technologies similaires utilisés par les opérateurs de réseaux sociaux) :</p>
                         <p>Facebook - https://www.facebook.com/privacy/explanation</p>
                         <p>LinkedIn - https://www.linkedin.com/legal/privacy-policy</p>
                         <p>Twitter - https://twitter.com/en/privacy</p>
                         <p>Instagram - https://help.instagram.com/519522125107875</p>
                         <p>TikTok - https://www.tiktok.com/legal/privacy-policy?lang=en</p>
                         <p>Période de conservation des données.</p>
                         <p>Les données seront traitées jusqu'à ce qu'un compte de réseau social spécifique de la Société soit actif, ou aussi longtemps que ces données sont disponibles pour la Société, en fonction des paramètres et des fonctionnalités du réseau social spécifique.</p>
                         <p>Cette période de conservation des données peut être prolongée si les données personnelles sont utilisées ou peuvent être utilisées comme preuve ou source d'information dans une enquête préliminaire ou autre, y compris dans le cadre d'une procédure civile, administrative ou pénale, ou dans d'autres cas prévus par la loi, ou si la poursuite du stockage et du traitement peut être justifiée par l'intérêt légitime de la Société ou une autre base juridique. Dans ces cas, les données à caractère personnel peuvent être conservées aussi longtemps que nécessaire aux fins du traitement et sont immédiatement détruites lorsque les données ne sont plus nécessaires.</p>
                         <p class = "h2">4.5. Le visiteur des comptes de réseaux sociaux de la Société (Facebook, Instagram, TikTok, LinkedIn, Twitter).</p>
                         <p>Catégories de données personnelles traitées</p>
                         <p>Les données fournies par une personne qui soumet des demandes, des requêtes, des plaintes à la Société, y compris :</p>
                         <p>les données d'identification (nom, prénom ; fonction, organisation, entité juridique représentée) ;</p>
                         <p>les coordonnées (par exemple, l'adresse électronique, le numéro de téléphone, l'adresse, selon la source et la méthode de communication) ;</p>
                         <p>le contenu de la demande, de la requête, de la plainte, le contenu de la réponse qui y est apportée, ainsi que les détails de la communication ultérieure
                            et des mesures prises.</p>
                         <p>Finalités et base juridique du traitement des données
                                La finalité du traitement des données est la gestion des demandes, requêtes et plaintes soumises à la Société. La base juridique du
                                Le traitement des données a pour base juridique l'intérêt légitime de la société à gérer les plaintes, les demandes et les requêtes qui lui sont soumises et à communiquer avec les parties intéressées.</p>
                         <p>effectuer la communication avec les parties intéressées (article 6, paragraphe 1, point f) du RGPD).</p>
                         <p>Sources de données</p>
                         <p>Une personne qui soumet des demandes, des requêtes, des plaintes à la société.
                            Durée de conservation des données.</p>
                           <p>Les données sont conservées pendant 3 ans à compter de la date de résolution de l'enquête, de la demande, de la plainte.</p> 
                           <p>Cette période de conservation des données peut être prolongée si les données personnelles sont utilisées ou peuvent être utilisées comme preuve ou source d'information dans une enquête préliminaire ou autre, y compris dans des procédures civiles, administratives ou pénales, ou dans d'autres cas prévus par la loi, ou si la poursuite de la conservation et du traitement peut être justifiée par l'intérêt légitime de la Société ou une autre base juridique. Dans ces cas, les données à caractère personnel peuvent être stockées aussi longtemps que nécessaire aux fins du traitement et sont immédiatement détruites lorsque les données ne sont plus nécessaires.</p>
                           <p class = "h2">4.6. Le représentant du fournisseur et/ou le représentant d'une autre partie (personne morale) au contrat conclu par l'entreprise.</p>
                           <p>Catégories de données personnelles traitées</p>
                           <p>Données du Représentant du Fournisseur et/ou du représentant d'une autre partie (personne morale) au contrat conclu par la Société :</p>
                           <p>informations d'identification (nom, prénom) ;</p>
                           <p>lieu de travail (entité juridique représentée) ; fonction ;</p>
                           <p>coordonnées (numéro de téléphone ; adresse électronique) ;</p>
                           <p>la signature ;</p>
                           <p>les données spécifiées dans la procuration (si un tel document est fourni) ;</p>
                           <p>les données relatives à la prestation de services à l'entité juridique représentée ou à l'exécution du contrat (par exemple, le contenu des e-mails, des communications) ;</p>
                           <p>Finalités et base juridique du traitement des données</p>
                           <p>La Société traite les données personnelles du Représentant de la marque énumérées ci-dessus aux fins suivantes et sur la base juridique suivante :</p>
                           <p>1. Finalité - conclusion et exécution des accords de la Société avec les Fournisseurs ou d'autres personnes morales, exécution et mise en œuvre des droits et obligations en vertu de ces accords. La base juridique du traitement des données à cette fin est l'intérêt légitime de la Société (article 6 (1) (f) du GDPR) : intérêt - connaître les données d'une personne chargée de conclure et d'exécuter le contrat conclu avec le Fournisseur ou une autre entité juridique, afin que la Société exécute correctement ses obligations contractuelles envers le Fournisseur ou une autre entité juridique et exiger du Fournisseur ou de l'autre entité juridique qu'il remplisse dûment ses obligations contractuelles envers la Société ;</p>
                           <p>2. finalité - accomplissement des obligations légales de la Société, ainsi que la protection des intérêts légitimes de la Société. Les données peuvent être utilisées par la Société pour remplir les exigences imposées à la Société par les actes juridiques, ainsi que les instructions obligatoires des autorités étatiques compétentes, et pour défendre ses droits et intérêts légitimes, y compris la réputation, devant les tribunaux et autres autorités compétentes. La base juridique du traitement des données à cette fin est l'intérêt légitime de la Société à se conformer aux exigences des actes juridiques et à protéger ses droits violés et ses intérêts légitimes (article 6 (1) (f) du GDPR) ;</p>
                           <p>3. finalité - assurer la communication entre la Société et le Fournisseur ou une autre entité juridique avec laquelle le contrat est conclu. La base juridique du traitement des données des Représentants de la marque à cette fin est l'intérêt légitime de la Société à assurer la communication avec une partie contractuelle (entité juridique) qui est représentée par des personnes physiques (article 6 (1) (f) du GDPR).
                            Sources des données</p>
                            <p>Les données sont obtenues auprès de la personne concernée et du Fournisseur ou de l'autre entité juridique qu'elle représente, y compris les cas où la Société reçoit les données du représentant du Fournisseur ou de l'autre entité juridique à partir d'un message hors bureau ou d'un autre type de réponse automatique par collègue avec lequel la Société a communiqué, indiquant le représentant comme personne de contact, ou la réponse d'un collègue avec lequel la Société a communiqué à la lettre électronique de la Société, accompagnée (cc) par une personne concernée. Les données peuvent également être obtenues à partir de sources accessibles au public (par exemple, sites web, comptes LinkedIn).</p>
                            <p>Durée de conservation des données.</p>
                            <p>Les données du Représentant du Fournisseur ou du représentant d'une autre entité juridique sont conservées pendant 10 ans à compter de la fin des contrats conclus avec le Fournisseur ou l'autre entité juridique représentée par ce représentant.
                                Cette période de conservation des données peut être prolongée si les données personnelles sont utilisées ou peuvent être utilisées comme preuve ou source d'information dans une enquête préliminaire ou autre, y compris dans le cadre d'une procédure civile, administrative ou pénale, ou dans d'autres cas prévus par la loi, ou si la poursuite de la conservation et du traitement peut être justifiée par l'intérêt légitime de la Société ou une autre base juridique. Dans ces cas, les données à caractère personnel peuvent être stockées aussi longtemps que nécessaire aux fins du traitement et sont immédiatement détruites lorsque les données ne sont plus nécessaires.</p>
                            <p class ="h2">4.7. Le Client potentiel (son représentant)</p>
                            <p>Catégories de données personnelles traitées</p>
                            <p>1. Données publiées sur les comptes Instagram publics du Créateur potentiel :
                                les données qui sont publiquement disponibles sur le compte Instagram, en fonction des paramètres du Créateur potentiel ;
                                adresse électronique (si le Créateur potentiel a fourni une adresse électronique pour le contact) ;</p>
                            <p>communications, y compris la correspondance électronique, données avec les Créateurs potentiels.</p>
                            <p>2. Données du représentant potentiel de la marque :</p>
                            <p>informations d'identification (nom, prénom) (disponibles publiquement ou fournies par la Marque potentielle ou son autre représentant) ;</p>
                            <p>adresse e-mail (disponible publiquement ou fournie par la Marque potentielle ou son autre représentant) ;</p>
                            <p>fonction (disponible publiquement ou fournie par la marque potentielle ou son représentant) ;</p>
                            <p>entité juridique représentée ;</p>
                            <p>communications, y compris la correspondance électronique, détails ;</p>
                            <p>autres données fournies ou accessibles au public par le représentant potentiel de la marque.</p>
                            <p>Finalités et base juridique du traitement des données</p>
                            <p>La Société traite les données personnelles énumérées ci-dessus aux fins suivantes et sur la base juridique suivante :</p>
                            <p>1. finalité - recherche des Clients potentiels (présentation des services de la Société). À cette fin, les données personnelles sont traitées sur la base juridique suivante : (i) le consentement de la personne concernée (article 6 (1) (a) du RGPD), lorsque ce consentement est requis par la loi(par exemple, l'article 69 (1) de la LEC) (sujets de l'UE), ou (ii) la Société a un intérêt légitime à commercialiser ses services (article 6 (1) (f) du RGPD, paragraphe 47 du préambule), lorsque la loi n'exige pas le consentement des personnes concernées ;</p>
                            <p>2. la finalité - l'accomplissement des obligations légales de la Société, ainsi que la protection des intérêts légitimes de la Société. Les données peuvent être utilisées par la Société pour remplir les exigences imposées à la Société par les actes juridiques, ainsi que les instructions obligatoires des autorités étatiques compétentes, et pour défendre ses droits et intérêts légitimes, y compris la réputation, devant les tribunaux et autres autorités compétentes. La base juridique du traitement des données à cette fin est l'intérêt légitime de la Société à se conformer aux exigences des actes juridiques et à protéger ses droits violés et ses intérêts légitimes (article 6 (1) (f) du GDPR).</p>
                            <p>Sources des données</p>
                            <p>La source de données du Créateur potentiel - ses profils de compte Instagram si, en fonction de leurs paramètres de confidentialité, ils sont publics. La source de données du Représentant potentiel de la marque - (i) les données publiées sur les sites Internet de la marque ; (ii) les données publiées sur les comptes de réseaux sociaux de la marque (par ex, LinkedIn) ; (iii) données postées sur le compte LinkedIn du Représentant de marque potentiel ; (iv) bases de données de recherche d'adresses électroniques, y compris celles dans lesquelles des courriels potentiels sont générés à partir de données accessibles au public ; (v) réponse hors bureau ou autre réponse automatique d'un collègue avec lequel la Société a communiqué, avec une personne concernée comme personne de contact ; (vi) réponse d'un collègue avec lequel la Société a communiqué à la lettre électronique de la Société, accompagnée (cc) d'une personne concernée.</p>
                            <p>Durée de conservation des données.</p>
                            <p>Les données sont conservées pendant la période de communication avec le Créateur potentiel ou le Représentant de marque potentiel.</p>
                            <p>Cette période de conservation des données peut être prolongée si les données personnelles sont utilisées ou peuvent être utilisées comme preuve ou source d'information dans le cadre d'une enquête préliminaire ou autre, y compris dans le cadre d'une procédure civile, administrative ou pénale, ou dans d'autres cas prévus par la loi, ou si la poursuite de la conservation et du traitement peut être justifiée par l'intérêt légitime de la Société ou une autre base juridique. Dans ces cas, les données à caractère personnel peuvent être conservées aussi longtemps que nécessaire aux fins du traitement et sont immédiatement détruites lorsque les données ne sont plus nécessaires.</p>
                            <p class ="h2">5. DESTINATAIRES DES DONNÉES</p>
                            <p>Les destinataires des données sont les personnes, entités juridiques, autorités, institutions qui peuvent avoir accès aux données personnelles traitées par la Société. La priorité de la Société est de traiter les données personnelles dans la Société et de ne pas fournir un accès inutile et déraisonnable aux données personnelles à des personnes extérieures à la Société. Toutefois, il existe des cas où cet octroi d'accès est nécessaire pour que la Société puisse assurer la bonne prestation des services, la protection de ses intérêts légitimes ou ce transfert de données est une obligation en vertu de la loi. À cet égard, outre les cas spécifiques énoncés ci-dessus dans la présente Politique de confidentialité, l'accès aux données personnelles traitées par la Société sera (pourra être) accordé aux catégories suivantes de destinataires de données :</p>
                            <p>la Société fait appel à des processeurs de données qui exécutent certaines tâches ou fournissent des services à la Société et ont ainsi accès aux données personnelles traitées par la Société (par exemple, des spécialistes informatiques fournissant des services à la Société, des centres de données, des fournisseurs de services d'hébergement et de cloud, des sociétés de comptabilité).Dans chaque cas, seules les données nécessaires à l'exécution d'une commande spécifique de la Société ou à la fourniture d'un service spécifique sont fournies au processeur de données. Les processeurs de données employés par la Société ne peuvent traiter les données personnelles que conformément aux instructions de la Société. En outre, ils doivent assurer la sécurité des données conformément à la législation applicable et aux accords conclus avec la Société ;</p>
                            <p>les personnes ou entités juridiques avec lesquelles la Société a conclu un accord, et ce transfert de données est dans l'intérêt légitime de la Société, lorsque le droit à la vie privée de la personne concernée ne prévaut pas (par exemple, les avocats ; les consultants ; les partenaires de la Société et les fournisseurs de services qui fournissent et maintiennent les apps et/ou les sites Web ; les auditeurs ; les sociétés postales ; les sociétés de messagerie) ;</p>
                            <p>les institutions étatiques conformément à leurs compétences, ainsi que d'autres personnes, dans la mesure où cette fourniture de données est établie par les exigences des actes juridiques ;</p>
                            <p>les tribunaux et autres organes qui enquêtent sur des litiges ou mènent des enquêtes, les institutions chargées de l'application de la loi, dans la mesure où ce transfert de données est nécessaire à la protection des droits et des intérêts légitimes de la Société ;</p>
                            <p>les données du Créateur (nom) ainsi que le contenu créé (y compris le matériel vidéo, la photo, le texte), sont transférés aux Marques, à qui la tâche est appliquée par le Créateur et/ou dont la tâche a été exécutée par le Créateur. En raison du fait que le contenu créé par le Créateur (y compris la vidéo et/ou la photo, le texte) transmis à la Marque sera publié sur les comptes de réseaux sociaux de la Marque ou d'autres sources accessibles à un cercle indéfini de personnes, le contenu créé par le Créateur deviendra publiquement accessible à un cercle indéfini de personnes ;</p>
                            <p>en cas de réorganisation de la Société, de transfert d'entreprise et d'autres cas similaires, les données peuvent être transférées aux successeurs en titre, aux acquéreurs d'entreprises ;</p>
                            <p>d'autres personnes et/ou entités avec le consentement des personnes concernées, si ce consentement est obtenu dans le cas spécifique.</p>
                            <p>Veuillez noter que dans tous les cas où les données personnelles peuvent être traitées dans des pays où le niveau de protection des données personnelles peut être inférieur à celui de l'Union européenne, la Société prend des mesures supplémentaires pour atteindre un niveau adéquat de protection des données : (i) les données sont transférées vers des pays où la Commission européenne a décidé qu'ils offrent un niveau de protection adéquat (article 45 (1) du GDPR), ou (ii) le destinataire est contracté conformément à des clauses contractuelles types approuvées par la Commission européenne ou l'Inspection nationale de la protection des données (article 46 (2) (c), (d) du GDPR), ou (iii) cela entraîne le consentement séparé de la personne concernée (article 49 (1) (a) du GDPR) ou ce transfert est basé sur une autre condition établie dans l'article 49 (1) du GDPR.</p>
                            <p>Étant donné que les données du Créateur, y compris le contenu créé, peuvent être transférées à une Marque non-EEE dont les tâches sont appliquées par le Créateur lui-même, ainsi que le fait que le contenu créé par le Créateur (y compris le matériel vidéo, la photo, le texte) transféré à la Marque sera publié dans des sources publiques et que ce contenu sera mis publiquement à la disposition d'un nombre indéfini de personnes, y compris celles qui opèrent/résident dans des pays non-EEE, ce transfert de données est basé sur l'article 49 (1) (b) du GDPR.</p>
                            <p>Les serveurs de données utilisés par la Société sont situés en Belgique et au Royaume-Uni. Le serveur est fourni parGoogle LLC (États-Unis). La mesure de sauvegarde mise en œuvre - un contrat a été conclu conformément aux clauses contractuelles types approuvées par la Commission européenne (article 46 (2) (c) du RGPD).</p>
                            <p>Vous pouvez également contacter la société pour obtenir de plus amples informations sur les destinataires des données.</p>
                            <p class ="h2">6. DROITS DES PERSONNES CONCERNÉES</p>
                            <p>Nous vous informons que les personnes concernées ont les droits suivants garantis par le GDPR en ce qui concerne le traitement de leurs données :</p>
                            <p>le droit de recevoir de la Société la confirmation que les données personnelles de la personne concernée sont traitées, et le droit de demander que la personne concernée reçoive des informations sur les données personnelles qui sont traitées par la Société et à quelles fins elle les traite ;</p>
                            <p>le droit d'obtenir de la Société, sans retard excessif, la rectification des données personnelles inexactes la concernant. Compte tenu des finalités du traitement, la personne concernée a le droit de faire compléter des données à caractère personnel incomplètes ;</p>
                            <p>le droit d'obtenir de la Société l'effacement des données à caractère personnel la concernant (" droit à l'oubli ") ;</p>
                            <p>le droit d'obtenir de la Société la limitation du traitement ;</p>
                            <p>le droit de s'opposer au traitement des données personnelles lorsque (i) les données personnelles sont traitées sur la base des intérêts légaux de la Société ou de tiers ; (ii) les données personnelles sont traitées à des fins de marketing direct ;</p>
                            <p>le droit de ne pas faire l'objet d'une décision fondée uniquement sur un traitement automatisé, y compris le profilage, qui produit des effets juridiques le concernant ou l'affecte de manière significative de façon similaire ;</p>
                            <p>le droit de recevoir les données personnelles le concernant, qu'il a fournies à la Société dans un format structuré, couramment utilisé et lisible par machine, et d'avoir le droit de transmettre ces données à un autre responsable du traitement sans que le responsable du traitement auquel les données personnelles ont été fournies ne s'y oppose, lorsque cela est techniquement possible ;</p>
                            <p>le droit de retirer le consentement au traitement des données lorsque le traitement des données à caractère personnel est fondé sur le consentement. Veuillez noter que le retrait du consentement n'affecte pas la légalité du traitement des données personnelles fondé sur le consentement et effectué avant le retrait du consentement.</p>
                            <p>Nous tenons à souligner que la législation établit certaines conditions, restrictions et procédures pour la mise en œuvre de chacun de ces droits. En tenant compte de cela, à la demande de la personne concernée, la Société exercera ces droits lorsque toutes les conditions pour la mise en œuvre de ces droits établies dans les actes juridiques et la procédure et les termes établis par les actes juridiques existent.</p>
                            <p>Les demandes d'exercice des droits doivent être soumises à la Société par écrit (y compris en format électronique)par les contacts spécifiés dans la section 3 " Responsable du traitement des données et les coordonnées " de la présente Politique de confidentialité.</p>
                            <p class = "h2">7. QUESTIONS ET LITIGES</p>
                            <p>La Société estime que toute question, tout malentendu ou tout litige concernant le traitement des données à caractère personnel peut être résolu au mieux par un dialogue entre la Société et la personne concernée.Par conséquent, si vous avez des questions, des observations ou des préoccupations concernant vos données à caractère personnel traitées par la Société, vous pouvez toujours contacter la Société par les contacts mentionnés à la section 3 de la présente Politique de confidentialité " Responsable du traitement des données et coordonnées ".</p>
                            <p>Nous vous informons que vous avez également le droit de vous plaindre des actions (inactions) de la Société auprès de l'Inspection nationale de la protection des données de la République de Lituanie (plus d'informations et contacts : info@toocie.com et auprès du tribunal conformément à la procédure établie par les actes juridiques, ainsi que de faire appel auprès du tribunal des actions (inactions) de l'Inspection nationale de la protection des données de Belgique.</p>
                            <p class="h2">8. MISE A JOUR DE LA POLITIQUE DE CONFIDENTIALITE</p>
                            <p>La présente politique de confidentialité a été mise à jour le 28 avril 2021.</p>








        </div>
    </div>
</section>



<app-outer-footer></app-outer-footer>