.proposalVideo {
    background-color: #1BC5BD;
    color: white;
    padding: 0.8rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

  ul.boxes-wrap li.active {
    border: 2px solid #1c3197 !important;
}

.boxes-wrap li.active  svg, .boxes-wrap li.active  svg path {

    color: #1c3197;
    fill: #1c3197;
}

.block .boxes-wrap li.active  svg, .boxes-wrap li.active  svg g {
    fill: transparent;
    stroke: rgb(74, 14, 251); 
}

.boxes-wrap svg, .boxes-wrap svg g {
    fill: transparent;
    stroke: #751e6d; 
}

.boxes-wrap li {
    height: 100px;
    padding: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    border: 2px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    flex-direction: column;
}
.boxes-wrap span {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    font-weight: 500;
    color: rgb(90, 104, 115);
    font-size: 16px;
}

ul.boxes-wrap {
    display: flex;
    padding: 20px 12.5px;
}

.boxes-wrap svg, .boxes-wrap svg path {
    color: #751e6d;
    fill: #751e6d;
}

ul.videolap li {
    height: 100px;
    padding: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    border: 2px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    flex-direction: column;
}
ul.videolap {
    display: flex;
    padding: 20px 12.5px;
}
ul.videolap li span {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    font-weight: 500;
    color: #5a6873;
    font-size: 16px;
}
.Generate-sales.blockpadding {
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.Generate-sales.blockpadding  h3 {
    margin-bottom: 8px;
    font-size: 20px !important;
    line-height: 27px !important;
    color: rgba(0, 0, 0, 0.87);
    font-family: GTWalsheim, sans-serif;
    font-weight: 500;
}