<div *ngIf="loading" class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          Campagne détail
        </h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-light" routerLink="/creator/campaigns/list">
          <i class="fa fa-arrow-left"></i>Arrière
        </a>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
          <form  class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="apply()">
              <!--- Campaign Details start ------->
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Créer le</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{campaignData.createdAt | date : 'medium'}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Nom de la campagne</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{campaignData.campaignName}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Produit Nom</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{productName}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Objectif de la campagne</label>
                  </div>
                  <div class="col-lg-9">
                    <p *ngFor="let adGoal of adGoals;let i =index;">{{adGoal.value}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Brief</label>
                  </div>
                  <div class="col-lg-9">
                    <p *ngFor="let adMention of adMentions;let i =index;">{{adMention.value}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label  class="pt-17">Plateforme de publication</label>
                  </div>
                  <div class="col-lg-9">
                    <ul class="boxes-wrap">
                      <li *ngIf="activePlatform=='Facebook'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.735 35.735" width="35" height="35"><path data-name="Path 2130" d="M35.735 17.976a17.868 17.868 0 10-20.659 17.759V23.174h-4.538v-5.2h4.538v-3.959c0-4.5 2.668-6.995 6.749-6.995a27.306 27.306 0 014 .351V11.8h-2.254a2.591 2.591 0 00-2.912 2.8v3.372h4.955l-.791 5.2h-4.164v12.563a17.945 17.945 0 0015.076-17.759z" stroke-width="0"></path><path data-name="Path 2131" d="M21.215 35.735z" stroke-width="0"></path></svg>
                        <span>Facebook</span>
                      </li>
                      <li *ngIf="activePlatform=='Instagram'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="35" height="35"><path d="M17.85 1h-9.7A7.157 7.157 0 001 8.15v9.701C1 21.793 4.207 25 8.15 25h9.701c3.942 0 7.15-3.207 7.15-7.15v-9.7C25 4.207 21.793 1 17.85 1zm4.736 16.85a4.735 4.735 0 01-4.735 4.735H8.15a4.735 4.735 0 01-4.735-4.735v-9.7A4.735 4.735 0 018.15 3.415h9.701a4.735 4.735 0 014.735 4.735v9.7z" style="stroke-width: 0;"></path><path d="M13 6.793c-3.423 0-6.207 2.785-6.207 6.207S9.577 19.207 13 19.207s6.207-2.785 6.207-6.207S16.423 6.793 13 6.793zm0 10a3.793 3.793 0 110-7.586 3.793 3.793 0 010 7.586z" style="stroke-width: 0;"></path><circle cx="19.219" cy="6.839" r="1.487" style="stroke-width: 0;"></circle></svg>
                        <span>Instagram</span>
                      </li>
                      <li *ngIf="activePlatform=='YouTube'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="35" height="35"><path d="M19.994 5.325H6.006a4.97 4.97 0 00-4.969 4.969v6.992a4.97 4.97 0 004.969 4.969h13.987a4.97 4.97 0 004.969-4.969v-6.992a4.968 4.968 0 00-4.968-4.969zm-3.361 8.806l-6.542 3.12a.263.263 0 01-.376-.237v-6.436c0-.196.207-.323.381-.234l6.542 3.315a.263.263 0 01-.005.472z" style="stroke-width: 0;"></path></svg>
                        <span>YouTube</span>  
                      </li>
                      <li *ngIf="activePlatform=='TikTok'">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.5 25.9" width="35" height="35"><path d="M11.82.02h4.22a6.72 6.72 0 001.88 4.5 7.6 7.6 0 004.58 1.93v4.35a11.46 11.46 0 01-4.53-1.05 12.57 12.57 0 01-1.75-1v9.44a8.22 8.22 0 01-1.46 4.25 8.14 8.14 0 01-10.8 2.34 8.16 8.16 0 01-3.94-6.16v-1.61a8.13 8.13 0 012.78-5.36A8 8 0 019.43 9.8v4.79a3.71 3.71 0 00-4.73 2.29 4.41 4.41 0 00-.15 1.74 3.68 3.68 0 003.7 3.09 3.62 3.62 0 003-1.76 2.5 2.5 0 00.44-1.14c.11-1.93.06-3.85.08-5.78.04-4.33.01-8.67.05-13.01z" style="stroke-width: 0;"></path></svg>
                        <span>TikTok</span>  
                      </li>
                      <li *ngIf="activePlatform=='Snapchat'">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.6 28.497" width="35" height="35"><path d="M14.787 1.576a7.355 7.355 0 017.287 7.3c0 .933.03 1.792.083 2.583a.906.906 0 001.112.817l1.245-.292a.7.7 0 01.837.517.916.916 0 01-.591 1.062l-1.889.763a1.016 1.016 0 00-.6 1.208c1.516 5.6 5.749 5.02 5.749 5.75 0 .917-3.191 1.046-3.479 1.334s-.013 1.688-.657 1.958a1.371 1.371 0 01-.5.069c-.485 0-1.171-.095-1.894-.095a4.439 4.439 0 00-1.858.337c-1.528.706-3 2.024-4.827 2.024s-3.3-1.318-4.827-2.024a4.438 4.438 0 00-1.858-.337c-.723 0-1.409.095-1.894.095a1.373 1.373 0 01-.5-.069c-.644-.271-.368-1.67-.657-1.958s-3.489-.413-3.489-1.329c0-.73 4.233-.147 5.749-5.75a1.016 1.016 0 00-.6-1.208l-1.889-.763a.916.916 0 01-.591-1.062.7.7 0 01.837-.517l1.245.287a.906.906 0 001.113-.826c.053-.791.081-1.65.083-2.583a7.333 7.333 0 017.26-7.291m0-1.58a8.651 8.651 0 00-3.433.708 9 9 0 00-4.7 4.725 8.751 8.751 0 00-.7 3.436c0 .582-.013 1.148-.036 1.689l-.463-.109a2.274 2.274 0 00-2.74 1.713 2.5 2.5 0 001.568 2.88l1.386.56a5.049 5.049 0 01-3.751 3.722 5.7 5.7 0 00-.813.3A1.825 1.825 0 000 21.289a2.059 2.059 0 00.856 1.651 3.645 3.645 0 001.041.53 13.014 13.014 0 001.8.428 4.091 4.091 0 00.13.639 2.226 2.226 0 001.275 1.5 2.883 2.883 0 001.117.192c.277 0 .569-.022.879-.045.332-.025.676-.05 1.015-.05a2.916 2.916 0 011.2.192c.383.177.79.416 1.22.669a8.322 8.322 0 004.27 1.5 8.322 8.322 0 004.27-1.5c.43-.253.837-.492 1.22-.669a2.915 2.915 0 011.2-.192c.339 0 .683.025 1.015.05.31.023.6.045.879.045a2.883 2.883 0 001.117-.192 2.226 2.226 0 001.275-1.5 4.083 4.083 0 00.13-.639 13.021 13.021 0 001.8-.428 3.645 3.645 0 001.041-.53 2.059 2.059 0 00.856-1.651 1.825 1.825 0 00-1.1-1.661 5.7 5.7 0 00-.813-.3 5.049 5.049 0 01-3.751-3.722l1.386-.56a2.5 2.5 0 001.568-2.88 2.263 2.263 0 00-.821-1.294 2.28 2.28 0 00-1.919-.42l-.463.109a41.551 41.551 0 01-.036-1.689 8.71 8.71 0 00-.71-3.44A9.028 9.028 0 0018.226.71 8.683 8.683 0 0014.79.003z"></path></svg>
                        <span>Snapchat</span>  
                      </li>                                                                                
                  </ul>
                  </div>
               </div>
  
  
               <div class="form-group row">
                <div class="col-lg-3">
                  <label  class="pt-17">Format d'annonce vidéo :</label>
                </div>
                <div class="col-lg-9">
                  <ul class="boxes-wrap">
                    <li *ngIf="activeVideoFormat=='1:1'">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30"><g data-name="Rectangle 621" fill="#fff" stroke-width="2"><rect width="30" height="30" rx="2" stroke-width="0"></rect><rect x="1" y="1" width="28" height="28" rx="1" fill="none"></rect></g></svg>
                      <span>1:1</span>
                    </li>
                    <!-- <li>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30" width="30" height="30"><g data-name="Rectangle 627" fill="#fff" stroke-width="2"><rect width="24" height="30" rx="2" stroke-width="0"></rect><rect x="1" y="1" width="22" height="28" rx="1" fill="none"></rect></g></svg>
                      <span>4:5</span>
                    </li> -->
                    <li *ngIf="activeVideoFormat=='9:16'">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 41" width="23" height="41"><g data-name="Rectangle 628" fill="#fff"><rect width="23" height="41" rx="2"></rect><rect x="1" y="1" width="21" height="39" rx="1"></rect></g></svg>
                      <span>9:16</span>  
                    </li>  
                    <li *ngIf="activeVideoFormat=='16:9'">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 23" width="41" height="23"><g data-name="Rectangle 629" transform="rotate(90 20.5 20.5)" fill="#fff"><rect width="23" height="41" rx="2"></rect><rect x="1" y="1" width="21" height="39" rx="1"></rect></g></svg>
                      <span>16:9</span>  
                    </li>                                                                                                  
                </ul>
                </div>
                <div class="col-lg-3">
                  <label class="pt-17">Durée de l'annonce vidéo :</label>
                </div>
                <div class="col-lg-9">
                  <ul class="videolap">
                    <!-- <li class="active">
                      <div class="icon campaign-create__icon-card-icon" style="fill: rgb(74, 14, 251); stroke: rgb(74, 14, 251); width: 30px; height: 30px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.097 34.097" width="30" height="30"><g data-name="Group 38"><g data-name="timelapse-24px (1)"><path data-name="Path 2282" d="M0 0h34.1v34.1H0z" fill="none" stroke-width="0"></path><path data-name="Path 2283" d="M17.048 2.841a14.207 14.207 0 1014.207 14.207A14.212 14.212 0 0017.048 2.841zm0 25.573a11.366 11.366 0 1111.366-11.366 11.362 11.362 0 01-11.366 11.366z"></path></g><path data-name="Subtraction 3" d="M26 17h-9V8a9.01 9.01 0 019 9z"></path></g></svg></div>
                      <span>Up to 15s</span>
                    </li> -->
                    <li class="active">
                      <div class="icon campaign-create__icon-card-icon" style="fill:rgb(74, 14, 251); stroke: rgb(74, 14, 251); width: 30px; height: 30px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.097 34.097" width="30" height="30"><g data-name="Group 38"><g data-name="timelapse-24px (1)"><path data-name="Path 2282" d="M0 0h34.1v34.1H0z" fill="none" stroke-width="0"></path><path data-name="Path 2283" d="M17.048 2.841a14.207 14.207 0 1014.207 14.207A14.212 14.212 0 0017.048 2.841zm0 25.573a11.366 11.366 0 1111.366-11.366 11.362 11.362 0 01-11.366 11.366z"></path></g><path data-name="Subtraction 1" d="M17 26V8a9 9 0 010 18z"></path></g></svg></div>
                      <span>Up to 30s</span>
                    </li>
                    <!-- <li>
                      <div class="icon campaign-create__icon-card-icon" style="fill: #751e6d; stroke: #751e6d; width: 30px; height: 30px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.097 34.097" width="30" height="30"><g data-name="Group 39" transform="translate(-373 -1193)" stroke-width="0"><g data-name="timelapse-24px (1)"><path data-name="Path 2282" d="M373 1193h34.1v34.1H373z" fill="none"></path><path data-name="Path 2283" d="M396.086 1216.072zm-6.038-20.231a14.207 14.207 0 1014.207 14.207 14.212 14.212 0 00-14.207-14.207zm0 25.573a11.366 11.366 0 1111.366-11.366 11.362 11.362 0 01-11.366 11.366z"></path><path data-name="Path 2284" d="M390.048 1195.841a14.207 14.207 0 1014.207 14.207 14.212 14.212 0 00-14.207-14.207zm0 25.573a11.366 11.366 0 1111.366-11.366 11.362 11.362 0 01-11.366 11.366z"></path></g><circle data-name="Ellipse 5" cx="9" cy="9" r="9" transform="translate(381 1201)"></circle></g></svg></div>
                      <span>Up to 60s</span>
                    </li>                                                                                                   -->
                </ul>
                </div>
                
             </div>
                <!--- Campaign Details end ------->

                <!--- Proposal form start -->
                <!-- <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Un message</label>
                  </div>
                  <div class="col-lg-9">
                    <textarea class="form-control" formControlName="message" name="message" ></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">Video</label>
                  <div class="col-lg-9 col-xl-3">
                    <input class="d-none" id="actual-btn" type="file" formControlName="proposalVideo"  (change)="onFileChange($event)" />
                    <label class="proposalVideo" for="actual-btn">Choisir le fichier</label>
                  </div>
                </div> -->
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Adresse de livraison du produit</label>
                  </div>
                  <div class="col-lg-9">
                    <textarea class="form-control" formControlName="deliveryAddress" name="deliveryAddress" rows="6" [readonly]="alreadyApplied"></textarea>
                  </div>
                </div>
                <div class="float-left">
                  <button *ngIf="!alreadyApplied"
                  type="submit" 
                  class="btn btn-primary font-weight-bold mr-2"
                  [disabled]="formGroup.invalid">Postuler pour cette campagne</button>
                  <span *ngIf="alreadyApplied" class="btn btn-success">Déjà appliqué</span>
                </div>
                <!--- Proposal form end -->

            </form>
        </div>
      </ng-container>
    </div>
  </div>