<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Chat-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-row-auto offcanvas-mobile w-350px w-xl-400px" id="kt_chat_aside">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <!--begin::Body-->
                        <div class="card-body chat-height-users">
                            <!--begin:Search-->
                            <div class="input-group input-group-solid">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="svg-icon svg-icon-lg">
                                            <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path
                                                        d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path
                                                        d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </g>
                                            </svg> -->
                                            <!--end::Svg Icon-->
                                        </span>
                                    </span>
                                </div>
                                <!-- <input type="text" class="form-control py-4 h-auto" placeholder="Email" /> -->
                            </div>
                            <!--end:Search-->
                            <!--begin:Users-->
                            <div class="mt-7 scroll scroll-pull">
                                <!--begin:User-->
                                <div *ngFor="let props of userArr; let i = index;"
                                    class="d-flex align-items-center justify-content-between mb-5" style="padding: 10px;"
                                    [ngClass]="{'active': receiverId == props._id}">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-circle symbol-50 mr-3 symbol-size symbol-sender "
                                            [ngStyle]="{backgroundColor: changeColor(i) }">
                                            <!-- <img alt="Pic" src="assets/media/users/300_12.jpg" /> -->
                                            {{props.firstName[0]|titlecase}}
                                            
                                        </div>
                                        <div class="d-flex flex-column cursor"
                                            (click)="getUserDetail(props._id,props.firstName,props.lastName ,i)">
                                            <a
                                                class="text-dark-75 text-hover-primary cursor font-weight-bold font-size-lg" style="font-size: 16px;">
                                                {{props.firstName|
                                                titlecase}}
                                                {{props.lastName | titlecase}}</a>
                                                
                                            <!-- <span class="text-muted font-weight-bold font-size-sm">Head of
                                                Development</span> -->
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-end">
                                        <span class="badge badge-pill badge-warning">{{props.chatRes.length>0 ? props.chatRes.length :''}}</span>
                                        <!-- <span class="text-muted font-weight-bold font-size-sm">35 mins</span> -->
                                    </div>
                                </div>
                                <!--end:User-->




                                <!--end:User-->
                            </div>
                            <!--end:Users-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8" id="kt_chat_content">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <!--begin::Header-->
                        <div class="card-header align-items-center px-4 py-3">
                            <div class="text-left flex-grow-1">
                                <!--begin::Aside Mobile Toggle-->
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md d-lg-none"
                                    id="kt_app_chat_toggle">
                                    <span class="svg-icon svg-icon-lg">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Adress-book2.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path
                                                    d="M18,2 L20,2 C21.6568542,2 23,3.34314575 23,5 L23,19 C23,20.6568542 21.6568542,22 20,22 L18,22 L18,2 Z"
                                                    fill="#000000" opacity="0.3" />
                                                <path
                                                    d="M5,2 L17,2 C18.6568542,2 20,3.34314575 20,5 L20,19 C20,20.6568542 18.6568542,22 17,22 L5,22 C4.44771525,22 4,21.5522847 4,21 L4,3 C4,2.44771525 4.44771525,2 5,2 Z M12,11 C13.1045695,11 14,10.1045695 14,9 C14,7.8954305 13.1045695,7 12,7 C10.8954305,7 10,7.8954305 10,9 C10,10.1045695 10.8954305,11 12,11 Z M7.00036205,16.4995035 C6.98863236,16.6619875 7.26484009,17 7.4041679,17 C11.463736,17 14.5228466,17 16.5815,17 C16.9988413,17 17.0053266,16.6221713 16.9988413,16.5 C16.8360465,13.4332455 14.6506758,12 11.9907452,12 C9.36772908,12 7.21569918,13.5165724 7.00036205,16.4995035 Z"
                                                    fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </button>
                                <!--end::Aside Mobile Toggle-->

                            </div>
                            <div class="text-center flex-grow-1">
                                <div class="text-dark-75 font-weight-bold font-size-h5">{{receiverName | titlecase}}

                                </div>
                                <div>
                                    <!-- <span class="label label-sm label-dot label-success"></span> -->
                                    <!-- <span class="font-weight-bold text-muted font-size-sm">Active</span> -->
                                </div>
                            </div>
                            <div class="text-right flex-grow-1">
                                <!--begin::Dropdown Menu-->

                                <!--end::Dropdown Menu-->
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div #scrollBottom class="card-body chat-height">
                            <!--begin::Scroll-->
                            <div class="scroll scroll-pull  scroll scroll-pull ps ps--active-y"
                                data-mobile-height="350">
                                <!--begin::Messages-->
                                <div class="messages">
                                    <ng-container *ngFor="let msg of messages; let i = index;">
                                        <!--begin::Message In-->
                                        <div class="d-flex flex-column mb-5 align-items-start"
                                            *ngIf="msg.senderId == receiverId || msg.receiverId == senderId">
                                            <div class="d-flex align-items-center">
                                                <div [ngStyle]="{backgroundColor: changeColor(0) }"
                                                    class="symbol symbol-circle symbol-40 mr-3 symbol-receiver symbol-size symbol-receiver">
                                                    <!-- <img alt="Pic" src="assets/media/users/300_12.jpg" /> -->
                                                    {{receiverNameLogo | titlecase}}
                                                </div>
                                                <div>
                                                    <a href="#"
                                                        class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">{{receiverName
                                                        | titlecase}}
                                                    </a>
                                                    <span class="text-muted font-size-sm margin-l">{{msg.createAt |
                                                        date:'fullDate'}}</span>
                                                </div>
                                            </div>
                                            <div *ngIf="msg.fileUrl == ''"
                                                class="mt-2 rounded p-5 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
                                                {{msg.message}}</div>
                                            <div *ngIf="msg.fileUrl != ''"
                                                class="mt-2 rounded p-5 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
                                                <video width="320" height="240" controls>
                                                    <source [src]="msg.fileUrl" type="video/mp4">
                                                </video>
                                                <div *ngIf="userType == 'Brand'" style="text-align:left;">
                                                    <button class="btn" [disabled]="msg.isApproved"
                                                        (click)="approveVideo(msg._id,i)"
                                                        style="background-color:#007bff;color:#fff; font-weight: 600;">{{(msg.isApproved)?
                                                        'Already Approved':'Approve'}}</button>
                                                </div>
                                                <div  style="text-align:left;">
                                                    <a (click)="saveTextFile(msg.fileUrl)"
                                                        class="btn btn-sm style-btn">Download</a>
                                                </div>

                                            </div>
                                        </div>

                                        <!--end::Message In-->
                                        <!--begin::Message Out-->
                                        <div class="d-flex flex-column mb-5 align-items-end"
                                            *ngIf="msg.senderId == senderId || msg.receiverId == receiverId">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <span class="text-muted font-size-sm ">{{msg.createAt |
                                                        date:'fullDate'}}</span>
                                                    <a
                                                        class="text-dark-75 margin-l text-hover-primary font-weight-bold font-size-h6">You</a>
                                                </div>
                                                <div
                                                    class="symbol symbol-sender symbol-circle symbol-40 ml-3 symbol-size ">
                                                    {{userName | titlecase}}
                                                    <!-- <img alt="Pic" src="assets/media/users/300_21.jpg" /> -->
                                                </div>
                                            </div>

                                            <div *ngIf="msg.fileUrl == ''"
                                                class="mt-2 rounded p-5 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
                                                {{msg.message}}</div>
                                            <div *ngIf="msg.fileUrl != ''"
                                                class="mt-2 rounded p-5 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
                                                <video width="320" height="240" controls>
                                                    <source [src]="msg.fileUrl" type="video/mp4">
                                                </video>
                                                <div *ngIf="userType == 'Brand'" style="text-align:left;">
                                                    <button class="btn style-btn" [disabled]="msg.isApproved"
                                                        (click)="approveVideo(msg._id,i)">{{(msg.isApproved)?
                                                        'Already Approved':'Approve'}}</button>

                                                </div>
                                                
                                                <div  style="text-align:left;">
                                                    <a (click)="saveTextFile(msg.fileUrl)"
                                                        class="btn btn-sm style-btn">Download</a>
                                                </div>


                                            </div>
                                            <!-- <div *ngIf="loading[messageIndex]== false">
                                                <div class="spinner-border"></div>

                                            </div> -->
                                        </div>
                                        <!--end::Message Out-->

                                    </ng-container>
                                </div>
                                <!--end::Messages-->
                            </div>
                            <div class="scrollBottom"></div>
                            <!--end::Scroll-->
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer align-items-center">
                            <!--begin::Compose-->
                            <textarea class="form-control border-0 p-0" (keydown.enter)="addMessage()"
                                [(ngModel)]="message" rows="2" placeholder="Tapez un message"></textarea>
                            <div class="d-flex align-items-center justify-content-between mt-5">
                                <div class="mr-3 image-upload">
                                    <div class="image-upload" *ngIf="userType != 'Brand'">
                                        <label for="file-input">
                                            <a class="btn btn-clean btn-icon btn-md mr-1">
                                                <i class="flaticon2-photograph icon-lg"></i>
                                            </a></label>
                                        <input id="file-input" type="file" accept="video/*"
                                            (change)="onChange($event)" />
                                    </div>
                                </div>
                                <div>
                                    <button type="button" [disabled]="message == ''" (click)="addMessage();
                                    "
                 class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send py-2 px-6">Envoyer</button>
                                </div>
                            </div>
                            <!--begin::Compose-->
                        </div>
                        <!--end::Footer-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Chat-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>