.card-body{
    overflow-y: scroll!important;
}


.chat-height{
    height:500px;
}

.chat-height-users{
    height:650px;

}

.cursor{
    cursor:pointer;
}


.margin-l{
    margin-left:5px;
}

.user-image{
    width: 100%;
    max-width: 50px;
    height: 50px;
}

.symbol-size{
    width: 50px;
    max-width: 50px;
    height: 48px;
    text-align: center;
    font-weight: 600;
    font-size:32px;
}
.symbol-sender{
    background-color: darkolivegreen;
    color:#ffff;   
}


.image-upload > input
{
    display: none;
}

.symbol-receiver{
    background-color: rgb(52, 57, 124);
    color:#fff;

}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #cccccc #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


.active{
  background-color: #E1E9FF;
}

  .style-btn{
    background-color:#007bff;color:#fff; font-weight: 600;
  }