<div *ngIf="loading" class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Createur</h3>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="creaters.length == 0">
        <app-no-record-placeholder title="creator"></app-no-record-placeholder>
      </div>
      <!-- begin:Table -->
      <div  *ngIf="creaters.length != 0" class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Statut</th>
            <th class="text-center">ACTIONS</th>
          </thead>
          <tbody>
            <tr *ngFor="let creater of creaters; let i = index;">
              <td class="selection-cell">
                <a class="mx-2" routerLink="/admin/creator/detail/{{creater._id}}">{{creater.users[0].firstName | titlecase}}</a>
              </td>
              <td class="selection-cell">
                <a class="mx-2" routerLink="/admin/creator/detail/{{creater._id}}">{{creater.users[0].lastName | titlecase}}</a>
               </td>
               <td class="selection-cell">
                {{creater.users[0].email}}
               </td>
               <td class="selection-cell">
                {{creater.users[0].phone}}
               </td>
               <td>
                <span class="label label-lg label-inline" [class.label-light-success]="creater.status === 1"
                [class.label-light-danger]="creater.status === 2" [class.label-light-primary]="creater.status === 0">
                <ng-container *ngIf="creater.status === 0">En attente</ng-container>
                <ng-container *ngIf="creater.status === 1">Approuvé</ng-container>
                <ng-container *ngIf="creater.status === 2">Rejeté</ng-container>
              </span>
               </td>
              <td class="text-center">
                <a class="mx-2" routerLink="/admin/creator/detail/{{creater._id}}"><i class="fa fa-eye"></i></a>
                <!-- <a class="mx-2" routerLink="/admin/creater/edit/{{creater._id}}"><i class="fa fa-edit"></i></a> -->
                <a class="mx-2" [routerLink]="" (click)="deleteData(creater._id,i)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>