
.card.card-custom {
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    border: 0;
    padding: 20px;
}

.Generate-sales-campaign {
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 20%);
    margin-bottom: 48px;
    margin-top: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}




.goal-scenario-area {
    margin-top: 40px;
}

.goal-scenario-text h3{
    margin-bottom: 8px;
    font-size: 20px !important;
    line-height: 27px !important;
    color: rgba(0, 0, 0, 0.87);
    font-family: GTWalsheim, sans-serif;
    font-weight: 500;
}

.Generate-sales{ box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 20%);
    margin-bottom: 48px;
    margin-top: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Generate-sales label {
    position: absolute;
    background-color: #fff;
    top: -8px;
    left: 37px;
    width: 66px;
    text-align: center;
}

    .Generate-sales input {
        height: 50px;
        font-size: 16px;
        color: #000;
        border-color: rgba(0, 0, 0, 0.23);
    }
  .sales-input {
        margin-bottom: 25px;
    }
 
    .button-plus .button {
        background-color: #fff;
        color: rgba(0,0,0,0.6);
        border: 1px solid rgba(112,112,112,0.125);
        border-radius: 37px;
        font-size: 14px;
        font-weight: 400;
        height: 29px;
        line-height: 19px;
        margin: 7px 9px 0 0;
        padding: 4px 8px;
        white-space: nowrap;
        width: 100px;
        text-align: center;
    }
    .button span i {
        padding-left: 12px;
    }


    .creator-criteria-input label {
        position: inherit !important;
        font-size: 18px !important;
        margin-bottom: 8px;
        line-height: 27px !important;
        color: rgba(0, 0, 0, 0.87);
        font-family: GTWalsheim, sans-serif;
        font-weight: 500;
    }
    .creator-criteria-input select {
        height: 50px;
        font-size: 16px;
        color: #000;
        border-color: rgba(0, 0, 0, 0.23);
    }

    .creator-criteria-input-checkbox label {
        position: initial;
    }


    .creator-criteria-input-checkbox label.age-label {
        margin-bottom: 0px !important;
        width: 100%;
        text-align: left;
        font-size: 18px;
        line-height: 27px !important;
        color: rgba(0, 0, 0, 0.87);
        font-family: GTWalsheim, sans-serif;
        font-weight: 500;
    }
    .age-label label {
        position: inherit !important;
        font-size: 18px !important;
        margin-bottom: 8px;
        line-height: 27px !important;
        color: rgba(0, 0, 0, 0.87);
        font-family: GTWalsheim, sans-serif;
        font-weight: 500;
        left: 0 !important;
        text-align: left !important;
    }
    .creator-criteria-input-checkbox label.age-label {
        margin-bottom: 8px !important;
    }

    .creator-criteria-input-checkbox input {
        width: 18px;
        height: 18px;
    }
    .creator-criteria-input-checkbox .form-check-inline label {
        margin-top: 0px !important;
        top: 0 !important;
    }
    .creator-criteria-input-checkbox label {
        position: initial;
        font-size: 16px;
        font-weight: 500;
    }

    .location-input label {
        position: inherit !important;
        font-size: 18px;
        width: 100% !important;
        text-align: left !important;
        margin-top: 26px;
    }
    .location-input select {
        height: 50px;
        font-size: 16px;
        color: #000;
        border-color: rgba(0, 0, 0, 0.23);
    }
    .rem-bt{
        margin-top: 8px;
        padding-top: 10px;
    }
    
    ul.boxes-wrap li.active {
        border: 2px solid #1c3197 !important;
    }

    .boxes-wrap li.active  svg, .boxes-wrap li.active  svg path {
    
        color: #1c3197;
        fill: #1c3197;
    }

    .block .boxes-wrap li.active  svg, .boxes-wrap li.active  svg g {
        fill: transparent;
        stroke: rgb(74, 14, 251); 
    }

    .boxes-wrap svg, .boxes-wrap svg g {
        fill: transparent;
        stroke: #751e6d; 
    }

    .boxes-wrap li {
        height: 100px;
        padding: 10px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
        border: 2px solid transparent;
        border-radius: 4px;
        margin-right: 10px;
        flex-direction: column;
    }
    .boxes-wrap span {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        font-weight: 500;
        color: rgb(90, 104, 115);
        font-size: 16px;
    }

    ul.boxes-wrap {
        display: flex;
        padding: 20px 12.5px;
    }

    .boxes-wrap svg, .boxes-wrap svg path {
        color: #751e6d;
        fill: #751e6d;
    }

    ul.videolap li {
        height: 100px;
        padding: 10px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
        border: 2px solid transparent;
        border-radius: 4px;
        margin-right: 10px;
        flex-direction: column;
    }
    ul.videolap {
        display: flex;
        padding: 20px 12.5px;
    }
    ul.videolap li span {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        font-weight: 500;
        color: #5a6873;
        font-size: 16px;
    }
    .Generate-sales.blockpadding {
        padding-left: 12.5px;
        padding-right: 12.5px;
    }

    .Generate-sales.blockpadding  h3 {
        margin-bottom: 8px;
        font-size: 20px !important;
        line-height: 27px !important;
        color: rgba(0, 0, 0, 0.87);
        font-family: GTWalsheim, sans-serif;
        font-weight: 500;
    }