<!-- begin:: Error -->
<div
  class="d-flex justify-content-center bgi-position-center"
  style="background-image: url('./assets/media/error/bg3.jpg'); height: 100%;"
>
  <div *ngIf="hasError" class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
     <div class="card" style="background-color: #70d3f5; border:2px solid #85989e;min-width:400px;text-align: center;">
      <div class="fa fa-exclamation-triangle fa-5x mt-10 d-flex justify-content-md-center">404</div>
      <div class="card-body">
        <h5 class="card-title">Invalid Link</h5>
        <p class="card-text">Either invalid link or link has expired.</p>        
      </div>
    </div>
  </div>

  <div *ngIf="hasSuccess" class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
    <div class="card" style="background-color: #70d3f5; border:2px solid #85989e;min-width:400px;text-align: center;">
      <div class="card-body">
       <h5 class="card-title">Congartulations!!</h5>
       <p class="card-text">Your account hase been successfully verified.</p>
       <a href="/#/auth/login" class="btn btn-warning">Go to Login</a>
     </div>
   </div>
 </div>
  
</div>
<!-- end:: Error -->
