<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Tags</h3>
    </div>
    <div class="card-toolbar">
      <a class="btn btn-primary" routerLink="/admin/tags/add">Add</a>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="tags.length == 0">
      <app-no-record-placeholder title="tag"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="tags.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Tag Name
          </th>
          <th class="text-center">ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let tag of tags; let i = index;">
            <td class="selection-cell">
              {{tag.name |titlecase}}
            </td>
            <td class="text-center">
              <a class="mx-2" routerLink="/admin/tags/edit/{{tag._id}}"><i class="fa fa-edit"></i></a>
              <a class="mx-2" [routerLink]="" (click)="deleteData(tag._id,i)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>