<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Propositions </h3>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="proposals.length == 0">
      <app-no-record-placeholder title="proposal"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="proposals.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Created At
          </th>
          <th>
            Marque 
          </th>
          <th>
            Campagne 
          </th>
          <th>
            Produit 
          </th>
          <!-- <th>
                Video
            </th> -->
          <!-- <th>
            Un message
          </th> -->
          <th>
            Statut
          </th>
          <!-- <th>
            Offre reçue
          </th> -->
          <!-- <th>
            Offre cceptée
          </th> -->
          <th class="text-center">ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let proposal of proposals">
            <td class="selection-cell">
              {{proposal.createdAt | date : 'medium'}}
            </td>
            <td class="selection-cell">
              {{proposal.brandRs.companyName| titlecase}}
            </td>
            <td class="selection-cell">
              {{proposal.campaignRs.campaignName| titlecase}}
            </td>
            <td class="selection-cell">
              {{proposal.productRs.productName| titlecase}}
            </td>
            <!-- <td class="selection-cell">
                {{proposal.proposalVideo}}
               </td> -->
            <!-- <td class="selection-cell">
              {{proposal.message | titlecase}}
            </td> -->
            <td>
              <span class="label label-lg label-inline" [class.label-light-success]="proposal.status === 1"
                [class.label-light-danger]="proposal.status === 2" [class.label-light-primary]="proposal.status === 0">
                <ng-container *ngIf="proposal.status === 0">Pending</ng-container>
                <ng-container *ngIf="proposal.status === 1">Approuvée</ng-container>
                <ng-container *ngIf="proposal.status === 2">Rejetée</ng-container>
              </span>
            </td>
            <!-- <td class="selection-cell">
              <span *ngIf="proposal.offerSent == true">Yes ({{ proposal.offerSentAt | date : 'medium'}})</span>
              <span *ngIf="proposal.offerSent == false">No</span>
            </td> -->
            
            <!-- <td class="selection-cell">
              <span *ngIf="proposal.offerAccepeted == true">Yes ({{ proposal.offerAcceptedAt | date : 'medium'}})</span>
              <span *ngIf="proposal.offerAccepeted == false">No</span>
            </td> -->
            <td class="text-center">

              <div style="display:flex; justify-content:space-between;">
                <div *ngIf="!proposal.isreview">

                </div>

                <a class="mx-2" *ngIf="proposal.offerAccepeted == true && proposal.isreview"
                  routerLink="/review/view-rating/{{proposal._id}}" routerLinkActive="menu-item-active"><button
                    class="btn btn-sm btn-primary menu-text">
                    <!-- View Rating -->
                    voir la note
                  </button></a>

                  <a class="mx-2" routerLink="/creator/proposals/{{proposal._id}}/video" routerLinkActive="menu-item-active" ><i class="fa fa-video"></i></a>
                <a class="mx-2" routerLink="/creator/proposals/detail/{{proposal._id}}"><i class="fa fa-eye"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>