<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Campagnes </h3>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="campaigns.length == 0">
      <app-no-record-placeholder title="campaign"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="campaigns.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Créer le
          </th>
          <th>
            Nom
          </th>
          <th>
            Produit 
          </th>
          <th>
            Voir le produit
          </th>
          <!-- <th>
            Montante
          </th> -->
          <th class="text-center">ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let campaign of campaigns">
            <td class="selection-cell">
              {{campaign.createdAt | date : 'medium'}}
            </td>
            <td class="selection-cell">
              {{campaign.campaignName | titlecase}}
            </td>
            <td class="selection-cell">
              {{campaign.productRs.productName| titlecase}}
            </td>
            <td>
              <a *ngIf="campaign.productRs.productUrl" href="{{campaign.productRs.productUrl}}" target="_blank">Voir</a>
            </td>
            <!-- <td>
              {{campaign.campaignCost|currency:'EUR':true}}
            </td> -->
            <td class="text-center">
              <a class="mx-2" routerLink="/creator/campaigns/detail/{{campaign._id}}"><i class="fa fa-eye"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>