<!--begin::Reset Password-->
<div class="login-form login-signin">
    <!--begin::Form-->
    <form
      class="form"
      [formGroup]="resetPasswordForm"
      novalidate="novalidate"      
      (ngSubmit)="submit()"
    >
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Reset Password
        </h3>       
      </div>
      <!--end::Title-->
    
      <!--begin::Form group-->
      <div class="form-group">
        <div class="d-flex justify-content-between mt-n5">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5"
            >New Password</label
          >          
        </div>  
        <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password"
        name="password"
        autocomplete="off"
        formControlName="password"
        [ngClass]="{ 'is-invalid': resetPasswordForm.controls['password'].invalid }"
      />
      <!-- <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Password should have at least 3 symbols',
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Password should have maximum 50 symbols',
          control: resetPasswordForm.controls['password']
        }"
      ></ng-container> -->
      </div>
      <!--end::Form group-->
  
      <!--begin::Form group-->
      <div class="form-group">
        <div class="d-flex justify-content-between mt-n5">
          <label class="font-size-h6 font-weight-bolder text-dark pt-5"
            >Confirm New Password</label
          >          
        </div>  
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
          type="password"
          name="confirmPassword"
          autocomplete="off"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': resetPasswordForm.controls['confirmPassword'].invalid }"
        />
        <!-- <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Confirm Password is required',
            control: resetPasswordForm.controls['confirmPassword']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Confirm Password should have at least 6 symbols',
            control: resetPasswordForm.controls['confirmPassword']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Confirm Password should have maximum 50 symbols',
            control: resetPasswordForm.controls['confirmPassword']
          }"
        ></ng-container> -->
      </div>
      <!--end::Form group-->
  
      <!--begin::Action-->
      <div class="pb-lg-0 pb-5">
        <button
          type="submit"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
          [disabled]="resetPasswordForm.invalid"
        >
          Set Password
        </button>
  
      </div>
      <!--end::Action-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Reset Password-->  


<ng-template
#formError
let-control="control"
let-message="message"
let-validation="validation"
>
<ng-container
  *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
>
  <div class="fv-plugins-message-container">
    <div class="fv-help-block">
      {{ message }}
    </div>
  </div>
</ng-container>
</ng-template>