<div class="card card-custom gutter-b">
  <ng-container *ngIf="isLoading$ | async">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>

  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <ng-container>
          {{ id ? "Edit" : "New" }} Tag
        </ng-container>
      </h3>
    </div>
    <div class="card-toolbar">
      <a class="btn btn-light" routerLink="/admin/tags/list">
        <i class="fa fa-arrow-left"></i>Back
      </a>
      <button class="btn btn-secondary ml-2" (click)="reset()">
        <i class="fa fa-redo"></i>Reset
      </button>
    </div>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="mt-5" >
        <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
          <div class="form-group row">
            <div class="col-lg-4">
              <label>Name</label>
              <input 
                type="text" 
                class="form-control form-control-lg form-control-solid" 
                autocomplete="off"
                placeholder="Tag Name" 
                name="name" 
                formControlName="name" 
                [ngClass]="{
                  'is-invalid': formGroup.controls['name'].invalid
                }"
                />
            </div>
          </div>
          <div class="float-left">
            <a 
            class="btn btn-default font-weight-bold mr-2" 
            (click)="reset()">Cancel</a>
            <button 
              type="submit" 
              class="btn btn-primary font-weight-bold mr-2"
              [disabled]="formGroup.invalid">Save</button>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>