<!--begin::Topbar-->

<!-- <ng-container *ngIf="extraSearchDisplay">
  <ng-container *ngIf="extrasSearchLayout === 'offcanvas'">
    
    <div class="topbar-item">
      <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1" id="kt_quick_search_toggle">
        <span [inlineSVG]="'./assets/media/svg/icons/General/Search.svg'" cacheSVG="true"
          class="svg-icon svg-icon-xl"></span>
      </div>
    </div>
    
  </ng-container>

  <ng-container *ngIf="extrasSearchLayout === 'dropdown'" id="kt_quick_search_toggle">
    <div class="dropdown" id="kt_quick_search_toggle" autoClose="outside" ngbDropdown>
      
      <div class="topbar-item" ngbDropdownToggle>
        <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1">
          <span [inlineSVG]="'./assets/media/svg/icons/General/Search.svg'" cacheSVG="true"
            class="svg-icon svg-icon-xl"></span>
        </div>
      </div>
      
      <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg" ngbDropdownMenu>
        <app-search-dropdown-inner></app-search-dropdown-inner>
      </div>
      
    </div>
  </ng-container>
</ng-container> -->

<!-- <ng-container *ngIf="extrasNotificationsDisplay">
  <ng-container *ngIf="extrasNotificationsLayout === 'offcanvas'">
    
    <div class="topbar-item">
      <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1 pulse pulse-primary"
        id="kt_quick_notifications_toggle">
        <span [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'" cacheSVG="true"
          class="svg-icon svg-icon-xl"></span>
        <span class="pulse-ring"></span>
      </div>
    </div>
    
  </ng-container>

  <ng-container *ngIf="extrasNotificationsLayout === 'dropdown'">
    
    <div class="dropdown" ngbDropdown placement="bottom">
      
      <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px" ngbDropdownToggle>
        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1 pulse pulse-primary">
          <span [inlineSVG]="'./assets/media/svg/icons/Code/Compiling.svg'" cacheSVG="true"
            class="svg-icon svg-icon-xl"></span>
          <span class="pulse-ring"></span>
        </div>
      </div>
      
      <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-lg">
        <form>
          <app-notifications-dropdown-inner></app-notifications-dropdown-inner>
        </form>
      </div>
      
    </div>
    
  </ng-container>
</ng-container> -->

<!-- <ng-container *ngIf="extrasQuickActionsDisplay">
  <ng-container *ngIf="extrasQuickActionsLayout === 'offcanvas'">
    
    <div class="topbar-item">
      <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1" id="kt_quick_actions_toggle">
        <span [inlineSVG]="'./assets/media/svg/icons/Media/Equalizer.svg'" cacheSVG="true"
          class="svg-icon svg-icon-xl"></span>
      </div>
    </div>
    
  </ng-container>
  <ng-container *ngIf="extrasQuickActionsLayout === 'dropdown'">
   
    <div class="dropdown" ngbDropdown placement="bottom">
      
      <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px" ngbDropdownToggle>
        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
          <span [inlineSVG]="'./assets/media/svg/icons/Media/Equalizer.svg'" cacheSVG="true"
            class="svg-icon svg-icon-xl"></span>
        </div>
      </div>
     
      <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-lg" ngbDropdownMenu>
        <app-quick-actions-dropdown-inner></app-quick-actions-dropdown-inner>
      </div>
     
    </div>
   
  </ng-container>
</ng-container> -->

<!-- <ng-container *ngIf="extrasCartDisplay">
  <ng-container *ngIf="extrasCartLayout === 'offcanvas'">
    
    <div class="topbar-item">
      <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1" id="kt_quick_cart_toggle">
        <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Cart3.svg'" cacheSVG="true"
          class="svg-icon svg-icon-xl"></span>
      </div>
    </div>
  
  </ng-container>
  <ng-container *ngIf="extrasCartLayout === 'dropdown'">
    
    <div class="dropdown" ngbDropdown placement="bottom">
      
      <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px" ngbDropdownToggle>
        <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
          <span [inlineSVG]="'./assets/media/svg/icons/Shopping/Cart3.svg'" cacheSVG="true"
            class="svg-icon svg-icon-xl"></span>
        </div>
      </div>
     
      <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-xl dropdown-menu-anim-up">
        <form>
          <app-cart-dropdown-inner></app-cart-dropdown-inner>
        </form>
      </div>
      
    </div>
    
  </ng-container>
</ng-container> -->

<!-- <ng-container *ngIf="extrasQuickPanelDisplay">
  
  <div class="topbar-item">
    <div class="btn btn-icon btn-hover-transparent-white btn-lg mr-1" id="kt_quick_panel_toggle">
      <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'" cacheSVG="true"
        class="svg-icon svg-icon-xl"></span>
    </div>
  </div>
  
</ng-container> -->

<!-- <ng-container *ngIf="extrasLanguagesDisplay">
  <app-language-selector style="margin-top: 20px"></app-language-selector>
</ng-container> -->

<ng-container *ngIf="extrasUserDisplay">
  <ng-container *ngIf="extrasUserLayout === 'offcanvas'">
    <!-- <ng-container *ngIf="user$ | async as _user"> -->
    <!--begin::User-->
    <div class="topbar-item">
      <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto"
        id="kt_quick_user_toggle">
        <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
        <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">james</span>
        <span class="symbol symbol-35">
          <span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">J</span>
        </span>
      </div>
    </div>
    <!--end::User-->
    <!-- </ng-container> -->
  </ng-container>

  <ng-container *ngIf="extrasUserLayout === 'dropdown'">
 
    <div class="topbar-item" *ngIf="userType=='Creater' ">
      <span class="text-white menu-text">Balance:&nbsp;{{balance|currency:'EUR':true}}&nbsp;</span>
      <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
        <span
        class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">
        
        <a  (click)="Withdraw()" routerLinkActive="active" title="Widthraw Money">
          <span class="menu-text"> 
            <i class="fa fa-wallet"></i>
            <i class="fa fa-arrow-down" style="position: absolute;padding-left: 2px;"></i>
        </span>
        </a>
       
      </span>
     
       
      </div>
    </div>
    <div class="topbar-item" *ngIf="userType=='Brand' ">
      <span class="text-white menu-text">Balance:&nbsp;{{balance|currency:'EUR':true}}&nbsp;</span>
      <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
       
        <span class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">

          <a style="color: #fff!important;" routerLink="/user-profile/wallet" routerLinkActive="active" title="Add Money">
            <span class="menu-text"> 
              <i class="fa fa-wallet"></i>
              <i class="fa fa-arrow-up" style="position: absolute;padding-left: 2px;"></i>
          </span>
          </a>

        </span>
       
      </div>
    </div>

    <!--begin::User-->
    <!-- <ng-container *ngIf="user$ | async as _user"> -->
    <div class="dropdown" ngbDropdown placement="bottom-right">
      <div class="topbar-item"  data-offset="0px,0px" ngbDropdownToggle>
        <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
          <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
          <span
            class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{userName}}</span>
          <span class="symbol symbol-35">
            <!-- <span
                class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">J</span> -->
          </span>
        </div>
      </div>
      <!--end::Toggle-->
      <!--begin::Dropdown-->
      <div ngbDropdownMenu class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0">
        <app-user-dropdown-inner></app-user-dropdown-inner>
      </div>
    </div>
    <!--end::Dropdown-->
    <!-- </ng-container> -->
    <!--end::User-->
  </ng-container>
</ng-container>

<!--end::Topbar-->