<div *ngIf="loading" class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
            <!-- Proposal Detail -->
            Payment Détail
        </h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-light" routerLink="/creator/payments/list">
          <i class="fa fa-arrow-left"></i>Arrière
        </a>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
            
              <!--- Proposals Details start ------->
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Created At</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{paymentData.createdAt | date : 'medium'}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Account Holder Nom</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{paymentData.accountHolderName}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Account Number/IBAN</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{paymentData.accountNumber}}</span>
                  </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Routing Number</label>
                    </div>
                    <div class="col-lg-9">
                        <span>{{paymentData.routingNumber}}</span>
                      </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Amount</label>
                    </div>
                    <div class="col-lg-9">
                        <span>{{paymentData.amount}}</span>
                      </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Payment Date</label>
                    </div>
                    <div class="col-lg-9">
                        <span>{{paymentData.paymentDate}}</span>
                      </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Statut</label>
                    </div>
                    <div class="col-lg-9">
                        <span class="label label-lg label-inline" [class.label-light-success]="paymentData.status === 'Completed'"
                            [class.label-light-primary]="paymentData.status === 'Pending'">
                            <ng-container *ngIf="paymentData.status === 'Pending'">En attente</ng-container>
                            <ng-container *ngIf="paymentData.status === 'Completed'">Completed</ng-container>
                        </span>
                      </div>
                </div>

        </div>
      </ng-container>
    </div>
  </div>