<app-outer-header></app-outer-header>

<!-- ======= HEREO SECTION START HERE ======= -->
<!-- <section id="hero" class="creator-banner d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column justify-content-center text-center text-white">
                <h1 data-aos="fade-up">Sell More with Creator</h1>
            </div>

        </div>
    </div>
</section> -->
<!-- ======= HEREO SECTION END HERE ======= -->

<!-- ======= HEREO SECTION START HERE ======= -->
<section id="hero" class="creator-banner d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center text-white"
      >
        <h1 data-aos="fade-up" style="font-size: 45px !important;font-weight: 700;">
          Inscris-toi sur Toocie, test des produits et crées du contenu vidéo ou
          photo pour tes marques préférées
        </h1>

        <h2 data-aos="fade-up" data-aos-delay="400">
          Toocie aide les créateurs et créatrices de contenu à tester des
          produits, à produire du contenu authentique en échange d’une
          rémunération et de produits gratuits.
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-lg-start">
            <a
              routerLink="/auth/registration-creator"
              class="
                btn-get-started
                scrollto
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
                ml-5
              "
            >
              <span>JE M'INSCRIS</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            <a
              routerLink="/auth/login"
              class="
                btn-get-started
                scrollto
                d-inline-flex
                align-items-center
                justify-content-center
                align-self-center
                ml-5
              "
            >
              <span>JE ME CONNECTE</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>

        <!-- close new button -->
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <div class="banner-video-area">
          <div class="banner-video-image">
            <img
              src="assets/website/img/creator-banner.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= HEREO SECTION END HERE ======= -->

<div class="container">
  <section id="steps">
    <!-- <div class="text-center mb-5">
            <h1 class="font-weight-bold display-4 ">Connectez-vous avec des marques & Boutiques à la recherche de créateurs de contenu </h1>
            <h2>Qu’est ce qu’un conteu UGC ?</h2>
            <h3>Pourquoi s’inscrire sur TOOCIE? </h3>
            <p>Ton inscription sur TOOCIE, te permets d’arrondir tes fins du mois, de t'améliorer dans la création de contenu, de recevoir des produits gratuits, un agent à ta disposition, plus de partenariats et d’augmenter sa visibilité sur les réseaux et pleins d’autres avantages.</p>
        </div> -->
    <div class="text-center mb-5">
      <h2
        class="font-weight-bold display-4"
        style="
          padding-bottom: 20px !important;
          font-size: 50px !important;
          font-weight: 600 !important;
        "
      >
        Comment ça <span style="">marche?</span>
      </h2>
      <p>
        Peu importe ton niveau d’expertise dans la création de contenu sur les
        réseaux, ton univers, tes réseaux sociaux préférés ou la taille de ta
        communauté, tous les profils sont acceptés sur Toocie. Grâce à Toocie,
        tu peux gratuitement tester des produits de ton choix, créer du contenu
        et être remunéré. T’inscrire sur Toocie te permet, et permet aux
        marques, de t’identifier et de te solliciter dans le cadre des campagnes
        de création de contenu. Tu verras des annonces de création sur ton
        Dashboard et tu pourras directement postuler sur chaque annonce de
        création.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="bg-light position-relative px-3 my-5">
          <div
            class="
              font-weight-bold
              circle
              text-white
              rounded-circle
              d-flex
              align-items-center
              justify-content-center
              mx-auto
              position-relative
              border border-white
            "
            style="
              width: 80px;
              height: 80px;
              top: -30px;
              border-width: 4px !important;
            "
          >
            1
          </div>
          <div class="px-3 text-center pb-3">
            <p class="font-weight-light my-3">
              À ton inscription, une fois ton profil approuvé, sur ton tableau
              de bord > Campagnes tu verras les annonces en cours et tu pourras
              postuler sur les annonces de Marques de ton choix .
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-light position-relative px-3 my-5">
          <div
            class="
              font-weight-bold
              circle
              text-white
              rounded-circle
              d-flex
              align-items-center
              justify-content-center
              mx-auto
              position-relative
              border border-white
            "
            style="
              width: 80px;
              height: 80px;
              top: -30px;
              border-width: 4px !important;
            "
          >
            2
          </div>
          <div class="px-3 text-center pb-3">
            <p class="font-weight-light my-3">
              Une fois que la marque valide ta candidature, elle t'enverra le
              produit directement chez toi. T’auras 1 à 4 jours ouvrés pour
              produire et soumettre le contenu.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bg-light position-relative px-3 my-5">
          <div
            class="
              font-weight-bold
              circle
              text-white
              rounded-circle
              d-flex
              align-items-center
              justify-content-center
              mx-auto
              position-relative
              border border-white
            "
            style="
              width: 80px;
              height: 80px;
              top: -30px;
              border-width: 4px !important;
            "
          >
            3
          </div>
          <div class="px-3 text-center pb-3">
            <p class="font-weight-light my-3">
              Après avoir soumis le contenu authentique, la marque le valide et
              Toocie vous rémunère.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="believe-sec" class="believe-toochie">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="believe-wrap">
          <h2>
            Connectez-vous avec des marques & Boutiques à la recherche de
            créateurs de contenu.
          </h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="believe-wrap">
          <h1 style="font-size: 40px !important">
            Qu’est ce qu’un conteu UGC ?
          </h1>
          <p style="font-size: 20px !important">
            Pourquoi s’inscrire sur TOOCIE?
          </p>
          <p style="font-size: 18px !important; font-weight: 100">
            Ton inscription sur TOOCIE, te permets d’arrondir tes fins du mois,
            de t'améliorer dans la création de contenu, de recevoir des produits
            gratuits, un agent à ta disposition, plus de partenariats et
            d’augmenter sa visibilité sur les réseaux et pleins d’autres
            avantages.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FAQ VIDEO start -->
<section id="latest-video-ads" class="latest-video-ads">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Vidéos témoinages</h2>
      <div class="border-line"></div>
    </header>
    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div>
            <video
              #videoPlayer1
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source src="assets/website/video/video_1.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div>
            <video
              #videoPlayer2
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source src="assets/website/video/video_2.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="video-area">
          <div>
            <video
              #videoPlayer3
              class="img-fluid-video"
              controls
              controlsList="nodownload"
            >
              <source src="assets/website/video/video_3.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FAQ video End -->
<section class="faq-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="faq-title text-center pb-3">
          <h2>FAQ</h2>
        </div>
      </div>

      <div class="col-md-10 offset-md-1">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-1"
                  data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1"
                >
                  <span class="badge">1</span
                  ><b style="font-size: 18px"
                    >Qu'est ce que Toocie et Pourquoi travailler avec Toocie
                    ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-1"
              class="collapse"
              aria-labelledby="faqHeading-1"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Toocie est la première platforme francophone de création de
                  contenu vidéos & Photos UGC. Toocie met en relations des
                  créateurs de contenu et des marques. Quelques avantages à
                  travailler avec Toocie, c’est de tester plus de produits
                  gratuitement avec une rémunération contrairement aux autres
                  plateformes, et une fois le contenu produit aucune publication
                  ou tag de la marque n’est requise sur vos réseaux sociaux.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-2"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-2"
                >
                  <span class="badge">2</span>
                  <b style="font-size: 18px"
                    >Que se passe-t-il après mon inscription ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-2"
              class="collapse"
              aria-labelledby="faqHeading-2"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Une fois inscrit sur Toocie, votre profil est approuvé, sur
                  votre tableau de bord > rubriques "campagnes" tu verras les
                  annonces encours auxquelles tu pourras postuler. Après
                  sélection, la marque t’envoies le produit. Ensuite, il ne te
                  restera plus qu'à créer le contenu et nous l’envoyé Pour
                  augmenter tes chances d'être sélectionné, veilles à remplir
                  correctement tes informations, Un profil complet fera
                  certainement la différence 😉.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-3"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-3"
                >
                  <span class="badge">3</span>
                  <b style="font-size: 18px"
                    >Dois-je poster le contenu sur mes réseaux ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-3"
              class="collapse"
              aria-labelledby="faqHeading-3"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Contrairement aux placements produits et aux autres
                  plateformes, avec Toocie tu n’es pas obligé de publier ou de
                  tagger la marque.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-4"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-4"
                >
                  <span class="badge">4</span>
                  <b style="font-size: 18px"
                    >Puis-je faire confiance aux marques ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-4"
              class="collapse"
              aria-labelledby="faqHeading-4"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Toocie agit comme un tiers de confiance et gère le tracking,
                  la fraude, la contractualisation, la facturation, le paiement
                  ainsi que l'arbitrage en cas de litige. C'est le moyen le plus
                  sûr de conclure un partenariat de création de contenu, avec
                  une marque, directement depuis l'interface.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-5">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-toggle="collapse"
                  data-target="#faqCollapse-5"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-5"
                >
                  <span class="badge">5</span>
                  <b style="font-size: 18px"
                    >Combien vais-je gagner, comment et quand je serai payer
                    ?</b
                  >
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-5"
              class="collapse"
              aria-labelledby="faqHeading-5"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Pour chaque Vidéo de 30 secondes ou Photo UGC produit, Toocie
                  te reverse 50€ ou plus en commission et ce en plus des
                  produits offerts par la marque. Le paiement se fera
                  automatiquement par virement bancaire (sur ton profil, tu peux
                  rajouter ton compte bancaire) et ce dès validation du contenu
                  par la marque.
                  <br />
                  <br />
                  Pour toutes autres questions n’hésites pas à nous contacter
                  via Whatsap ou directement sur notre page Instagram, nous
                  sommes à ta disposition 24/7.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-outer-footer></app-outer-footer>
