*{opacity: 1 !important;}
@media (min-width: 992px) {
.header {
    position: fixed !important;
} 
}
.img-fluid-video{
    max-width: 100%;
    height: 380px;
    border-radius: 10px;
    width: 100%;
  }