/* No CSS *//*# sourceMappingURL=personal-information.component.css.map */

.start-button,
.download-button {
  background-color: #7ffe9f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

.stop-button {
  background-color: rgba(118, 146, 254, 0.69); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

.cancel-button {
  background-color: #af7541; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
  width: 600px;
  margin: 0px auto;
}
