<ng-container *ngIf="loading">
  <div class="card card-custom card-stretch" [formGroup]="formGroup">
    <!-- begin::Loading -->

    <!-- <ng-container >
      <div class="progress progress-modal">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container> -->

    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Informations personnelles</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Mettez à jour vos informations personnelles</span>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <!--begin::Body-->
      <div class="card-body">
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">informations de l'utilisateur</h5>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
          <div class="col-lg-9 col-xl-6">
            <div class="image-input image-input-outline"
              id="kt_profile_avatar"
              [class.image-input-empty]="!user.pic"
              [style.backgroundImage]="'url(./assets/media/users/blank.png)'"
            >
              <div class="image-input-wrapper" [style.backgroundImage]="getPic()"></div>
              <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="change"
                data-toggle="tooltip"
                title=""
                data-original-title="Change avatar"
              >
                <i class="fa fa-pen icon-sm text-muted"></i>
                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"  />
                <input type="hidden" name="profile_avatar_remove" formControlName="pic" />
              </label>
              <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
                <i class="ki ki-bold-close icon-xs text-muted"></i>
              </span>
              <span *ngIf="user.pic"
                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                (click)="deletePic()"
                data-action="remove" data-toggle="tooltip" title="" data-original-title="Remove avatar">
                <i class="ki ki-bold-close icon-xs text-muted"></i>
              </span>
            </div>
            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Prénom</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid"
              type="text"
              placeholder="First Name"
              formControlName="firstName"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Nom</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid"
              type="text"
              placeholder="Last Name"
              formControlName="lastName"              
            />
          </div>
        </div>
        <div class="form-group row" *ngIf="userType=='Brand'">
          <label class="col-xl-3 col-lg-3 col-form-label">Nom de la compagnie</label>
          <div class="col-lg-9 col-xl-6">
            <input class="form-control form-control-lg form-control-solid"
              type="text"
              placeholder="Company Name"
              formControlName="companyName"
            />
            <span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your
              full name.</span>
          </div>
        </div>
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mt-10 mb-6">Coordonnées</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Numéro du contact</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <input type="text"
                class="form-control form-control-lg form-control-solid" 
                placeholder="Phone"
                formControlName="phone"
              />
            </div>
            <span class="form-text text-muted">We'll never share your email with anyone else.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-at"></i>
                </span>
              </div>
              <input type="email"
                class="form-control form-control-lg form-control-solid"
                placeholder="Email"
                formControlName="email"
              />
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="userType=='Brand'">
          <label class="col-xl-3 col-lg-3 col-form-label">site Web d'entreprise</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <input type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Company Website"
                formControlName="website"
                />
            </div>
          </div>
        </div>
        <ng-container *ngIf="userType=='Creater'">
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">Boite aux lettres</label>
              <div class="col-lg-9 col-xl-6">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Address Line 1"
                  autocomplete="off"
                  formControlName="line1"   
                  [ngClass]="{
                    'is-invalid': formGroup.controls['line1'].invalid
                  }"           
                />              
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">Boite aux lettres</label>
              <div class="col-lg-9 col-xl-6">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Address Line 1"
                  autocomplete="off"
                  formControlName="line2"   
                  [ngClass]="{
                    'is-invalid': formGroup.controls['line2'].invalid
                  }"           
                />              
              </div>
            </div>

            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">ville</label>
              <div class="col-lg-9 col-xl-6">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="City"
                  autocomplete="off"
                  formControlName="city"   
                  [ngClass]="{
                    'is-invalid': formGroup.controls['city'].invalid
                  }"           
                />              
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">code postal</label>
              <div class="col-lg-9 col-xl-6">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Postal Code"
                  autocomplete="off"
                  formControlName="postal_code"   
                  [ngClass]="{
                    'is-invalid': formGroup.controls['postal_code'].invalid
                  }"           
                />              
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">Pays</label>
              <div class="col-lg-9 col-xl-6">
                <select formControlName="country" 
                    class="form-control"                  
                    [ngClass]="{
                      'is-invalid': formGroup.controls['country'].invalid
                    }"
                    (change)="getStates($event)"
                    >
                    <option value ="">Sélectionner Pays</option>
                    <!-- <option value="US">USA</option>
                    <option value ="BE">BELGIUM</option> -->
                    <option *ngFor="let country of countryList" [value]="country.isoCode">{{country.name}}</option>  
                </select>            
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">État</label>
              <!-- <div class="col-lg-9 col-xl-6">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="État"
                  autocomplete="off"
                  formControlName="state"   
                  [ngClass]="{
                    'is-invalid': formGroup.controls['state'].invalid
                  }"           
                />              
              </div> -->
              <div class="col-lg-9 col-xl-6">
                <select formControlName="state" 
                    class="form-control"                  
                    [ngClass]="{
                      'is-invalid': formGroup.controls['state'].invalid
                    }"
                    >
                    <option value ="">Select State</option>
                    <option *ngFor="let states of statesList;let i=index;" [value]="states.isoCode">{{states.name}}</option>
                </select>            
              </div>
            </div>
            <div class="form-group row">
              <label class="col-xl-3 col-lg-3 col-form-label text-alert">Date de naissance</label>
              <div class="col-lg-9 col-xl-6">
                <input 
                class="form-control" 
                (click)="d.toggle()" 
                placeholder="yyyy-mm-dd"
                [minDate]="minDate" 
                [maxDate]="maxDate"
                formControlName="dob"   
                  name="dob" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <!-- <div class="input-group-append">
                    <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"></button>
                  </div>              -->
              </div>
            </div>            
        </ng-container>
        <div class="row" *ngIf="userType=='Creater'">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mt-10 mb-6">Showcase your skill through video</h5>
          </div>
        </div>
        <div class="form-group row" *ngIf="userType=='Creater'">
          <label class="col-xl-3 col-lg-3 col-form-label">Profile Video</label>

          <div class="col-lg-9 col-xl-9">
            <input class="d-none"
            id="actual-btn"
              type="file"
              formControlName="profileVideo"
              (change)="onFileChange($event)"
            />
           
            <div class="video">
              <video controls (click)="toggleVideo()" #videoPlayer *ngIf="videoSourceDislay" class="d-none" style="width:300px;" [ngClass]="{'d-inline': videoSourceDislay }">
                  <source [src]="videoSource" type="video/mp4" />
                  Browser not supported
              </video>
              <video #videoElement style="width: 461px; margin: 0px auto;" class="d-none" [ngClass]="{'d-inline': isVideoRecording }">
                  <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl" style="width: 461px;border: 2px solid black;">
                </video>

                <div class="row">
                  <div class="col-lg-3 col-xl-3">
                    <label class="profileVideo" for="actual-btn">Choose File</label>
                  </div>
                  <div class="col-lg-3 col-xl-3">
                    <button class="btn btn-success" *ngIf="!isVideoRecording && !videoBlobUrl" (click)="startVideoRecording()">Commencer l'enregistrement</button>
                  </div>
                  <div class="col-lg-6 col-xl-6"></div>
                </div>
            </div>
            <!-- <span class="form-text text-muted">Showcase your skill through video.</span> -->
          </div>

          
          
         
        </div>
        <div>
          
          <!-- <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <button class="start-button" *ngIf="!isVideoRecording && !videoBlobUrl" (click)="startVideoRecording()">Start Video Recording</button>
                <button class="cancel-button" *ngIf="!isVideoRecording && videoBlobUrl" (click)="clearVideoRecordedData()">Clear Video Recording</button>
                <h3>
                  <video #videoElement style="width: 461px;
                  margin: 0px auto;">
                    <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl" style="width: 461px;border: 2px solid black;">
                  </video>
                  <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl"> {{ videoRecordedTime }} </div>
                </h3>
              </div>
            </div>
          </div> -->
          
        <div *ngIf="url">
          <video [src]="url" *ngIf="url" height="200"></video> 
        </div>
        </div>
        <div class="card-header py-3">
          <div class="card-toolbar">
            <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">Sauvegarder</button>
            <button type="reset" class="btn btn-secondary" (click)="cancel()">Annuler</button>
          </div>
        </div>
      </div>
      <!--end::Body-->
    </div>
    <!--end::Form-->
  </div>
</ng-container>