<app-outer-header></app-outer-header>
<section id="hero-2" class=" d-flex align-items-center" >
   
</section>
<section >
    <div class="container" data-aos="fade-up">
       <header class="section-header">
          <h2>Programme d'affiliation</h2>
       </header>
       
       <div class="" style="font-size: 16px;">
         <p>Devenez un partenaire affilié de Toocie !</p>
         <p>Rejoignez notre équipe d'affiliés et gagnez jusqu'à 20 % sur les commandes passées grâce à vos parrainages !</p>
         <p>Aidez les entreprises d'eCommerce à développer leurs marques</p>   
         <p>Rejoignez le réseau d'affiliation de Toocie
            Commencez en remplissant un formulaire rapide.</p>
         <p>Devenez un affilié Partagez votre lien personnel et attirez de nouveaux clients.</p>  
         <p>arn de l'argent Recevez une commission importante sur les achats effectués par le biais de votre lien.</p> 
         <p>Obtenez payé à temps.Oubliez les retards ennuyeux. Les affiliés de Toocie sont payés à temps pour leurs résultats.</p>
         <p>Au-dessus de taux du marché Obtenez les meilleurs taux de commission du marché.</p>
         <p>Suivez de près de vos ventes Profitez de rapports mensuels vous indiquant vos résultats.</p>
         <p>Êtes-vous prêt à rejoindre le programme d'affiliation de Toocie ? Rejoignez notre équipe d'affiliés et gagnez jusqu'à 20 % sur les commandes reçues par le biais de vos références !</p>  
           
        </div>
         <!--begin::Form-->
         <div class="login-form login-signin">              
            <form
              class="form"
              [formGroup]="loginForm"
              novalidate="novalidate"
              id="kt_login_signin_form"
              (ngSubmit)="submit()"
            >
              <ng-container *ngIf="hasError">
                <div
                  class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
                >
                  <div class="alert-text">Something went wrong</div>
                </div>
              </ng-container>
              <div class="row">
               <div class="col-xl-6">
                  <div class="form-group">
                     <label class="font-size-h6 font-weight-bolder text-dark">Nom</label>
                     <input
                       class="form-control form-control-solid h-auto py-3 px-3 rounded-lg"
                       type="text"
                       name="name"
                       formControlName="name"
                       autocomplete="off"
                       [ngClass]="{ 'is-invalid': loginForm.controls['name'].invalid }"
                     />
                     <ng-container
                       [ngTemplateOutlet]="formError"
                       [ngTemplateOutletContext]="{
                         validation: 'required',
                         message: 'Name is required',
                         control: loginForm.controls['name']
                       }"
                     ></ng-container>      
                     <ng-container
                       [ngTemplateOutlet]="formError"
                       [ngTemplateOutletContext]="{
                         validation: 'email',
                         message: 'Name is invalid',
                         control: loginForm.controls['name']
                       }"
                     ></ng-container>
                     <ng-container
                       [ngTemplateOutlet]="formError"
                       [ngTemplateOutletContext]="{
                         validation: 'minLength',
                         message: 'Name should have at least 3 symbols',
                         control: loginForm.controls['name']
                       }"
                     ></ng-container>                  
                   </div>
                    <div class="form-group">
                      <label class="font-size-h6 font-weight-bolder text-dark">E-mail</label>
                      <input
                        class="form-control form-control-solid h-auto py-3 px-3 rounded-lg"
                        type="email"
                        name="email"
                        formControlName="email"
                        autocomplete="off"
                        [ngClass]="{ 'is-invalid': loginForm.controls['email'].invalid }"
                      />
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'Email is required',
                          control: loginForm.controls['email']
                        }"
                      ></ng-container>      
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'email',
                          message: 'Email is invalid',
                          control: loginForm.controls['email']
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'minLength',
                          message: 'Email should have at least 3 symbols',
                          control: loginForm.controls['email']
                        }"
                      ></ng-container>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'maxLength',
                          message: 'Email should have maximum 360 symbols',
                          control: loginForm.controls['email']
                        }"
                      ></ng-container>
                    </div>
                 </div>
                 <div class="col-xl-6">
                  <div class="form-group">
                     <div class="d-flex justify-content-between mt-n5">
                       <label class="font-size-h6 font-weight-bolder text-dark pt-5">Un message</label>
                     </div>
               
                     <textarea
                       class="form-control form-control-solid h-auto py-3 px-3 rounded-lg"
                       name="message"
                       autocomplete="off"
                       formControlName="message"
                       [ngClass]="{ 'is-invalid': loginForm.controls['message'].invalid }"
                       rows="6"
                     >
                     </textarea>
                     <ng-container
                       [ngTemplateOutlet]="formError"
                       [ngTemplateOutletContext]="{
                         validation: 'required',
                         message: 'message is required',
                         control: loginForm.controls['message']
                       }"
                     ></ng-container>  
                   </div>
                 </div>
              </div>
              
             
              
              <!--end::Form group-->
          
              <!--begin::Action-->
              <div class="pb-lg-0 pb-5 text-center">
                <button
                  type="submit"
                  id="kt_login_signin_submit"
                  class="btn btn-primary font-weight-bolder font-size-h6 px-5 py-3 my-3 mr-3"
                  [disabled]="loginForm.invalid"
                >
                Envoyer 
                </button> 
              </div>               
            </form>
          </div>
          <!-- Form End -->
    </div>
 </section>
 <ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
<app-outer-footer></app-outer-footer>

