<div *ngIf="loading" class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          <ng-container>
            détails du produit
          </ng-container>
        </h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-light" routerLink="/brand/campaigns/list">
          <i class="fa fa-arrow-left"></i>Arrière
        </a>
        <button class="btn btn-secondary ml-2" (click)="reset()">
          <i class="fa fa-redo"></i>Réinitialiser
        </button>
        <!-- <button class="btn btn-secondary ml-2" (click)="reset()">
          <i class="fa fa-redo"></i>Reset
        </button> -->
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
          <div class="form-group row">
            <div>
              Campagne {{campaignData?.campaignName}}
            </div>
          </div>
          <div class="form-group row">
            <div>
              Produit {{productData?.productName}}
            </div>
          </div>
          <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
            <div class="form-group row">
              <div class="col-lg-6">
                <!-- <label>Courier Vendor Name</label> -->
                <label>Nom du transporteur</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Courier Vendor Name" 
                  name="courierVendorName" 
                  formControlName="courierVendorName" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['courierVendorName'].invalid
                  }"
                  />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Numéro de suivi</label>
                <!-- <label>Tracking Number</label> -->
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Tracking Number" 
                  name="trackingNumber" 
                  formControlName="trackingNumber" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['trackingNumber'].invalid
                  }"
                  />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <span style="float: left;padding-top: 10px;padding-right: 10px;">Adresse de livraison</span>
                <span>
                  <textarea class="form-control form-control-lg form-control-solid" disabled rows="6" style="overflow:hidden;resize: none;">{{proposalData?.deliveryAddress}}</textarea>
                </span>
                  
              </div>
            </div>
            <div class="float-left">
              <a 
              class="btn btn-default font-weight-bold mr-2" 
              (click)="reset()">Annuler</a>
              <button 
                type="submit" 
                class="btn btn-primary font-weight-bold mr-2"
                [disabled]="formGroup.invalid">sauvegarder</button>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>