.creators-section {
    padding-top: 50px;
}

.creator-inner-box {
    padding: 25px;
    background-color: #f5f5f5 !important;
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
    border-radius: 5px;
    min-height: 200px;
}
.creator-inner-box h4 { color: #000;font-size: 22px;    margin: 0px;    margin-bottom: 5px;    font-weight: 500 !important;}
.creator-inner-box p { color: #d20a42; font-size: 23px; margin: 0px;    font-weight: 400;}

.row-botttom {
    margin-top: 20px;
}

.creator-inner-box.creator-bottom {
    min-height: 300px;
}
.approve-area {
    // padding-top: 100px;
    text-align: center;
}
.approve-area h3 {
    font-size: 26px;
    font-weight: 700;
    color: #1c3197;
	    min-height: 50px;
}
.approve-area a {
    background-color: #d20a42;
    width: 100%;
    max-width: 181px;
    padding: 12px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
	    margin-top: 12px;
}
.approve-area a:hover{background-color: #000;}
.approve-area p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}


