    <div  *ngIf="loading" class="creators-section">
        <div class="container">
          <!--For admin-->
        <ng-container *ngIf="loading && userType ==='Admin'" >
          <div class="row">
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Createur</h4>
                 <!-- <p>{{dashboardRes.creator}}</p> -->
                 <p><a  routerLink="/admin/creator/list" >{{dashboardRes.creator}}</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Marque</h4>
                 <!-- <p>{{dashboardRes.brand}}</p> -->
                 <p><a  routerLink="/admin/brand/list" >{{dashboardRes.brand}}</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Campagne</h4>
                 <!-- <p>{{dashboardRes.campaign}}</p> -->
                 <p><a  routerLink="/admin/campaigns/list">{{dashboardRes.campaign}}</a></p>
              </div>
            </div>
            
        </div>
        
        
        <div class="row row-botttom">
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                <div  class="d-flex align-items-center justify-content-between mb-10">
                  <div  class="d-flex align-items-center mr-2">
                    <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                      <div class="symbol-label">
                        <span
                        [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'"
                        class="svg-icon svg-icon-3x"
                      ></span>
                      </div>
                    </div>
                    <div >
                      <a
                        href="#"
                        class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                        >Haut Createur</a
                      >
                      <div class="font-size-sm text-muted font-weight-bold mt-1">
                        {{dashboardRes.topCreator.firstName}}
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center justify-content-between mb-10">
                  <div class="d-flex align-items-center mr-2">
                    <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                      <div class="symbol-label">
                        <span
                        [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'"
                        class="svg-icon svg-icon-3x"
                      ></span>
                      </div>
                    </div>
                    <div>
                      <a
                        href="#"
                        class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                        >Haut Marque</a
                      >
                      <div class="font-size-sm text-muted font-weight-bold mt-1">
                        {{dashboardRes.topBrand.firstName}}
                      </div>
                    </div>
                  </div>
                
                </div>
                 
                 <!-- <div class="approve-area">
                   <h3>Create a Task for creator to apply</h3>
                   <a href="#">Create a Tasks</a>
                 </div> -->
                 
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                <h4>Propositions</h4>
                <p style="color: #6993FF;">{{dashboardRes.proposal}}</p>
             </div>
            
              
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                 <h4> Videos</h4>
                 <p style="color: #6993FF;">{{dashboardRes.video.total}}</p>
              </div>
            </div>
            
        </div>
        </ng-container>

        <!--For brand-->
        <ng-container *ngIf="loading && userType ==='Brand'" >
          <div class="row">
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Campagne</h4>
                 <!-- <p>{{dashboardRes.campaign.total}}</p> -->
                 <p><a  routerLink="/brand/campaigns/list" >{{dashboardRes.campaign.total}}</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Paiement</h4>
                 <!-- <p>{{dashboardRes.payment.amount}}</p> -->
                 <p><a routerLink="/transactions/list">{{dashboardRes.payment.amount}}</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Produit</h4>
                 <!-- <p>{{dashboardRes.product}}</p> -->
                 <p><a routerLink="/brand/products/list">{{dashboardRes.product}}</a></p>
              </div>
            </div>
            
        </div>
        
        
        <div class="row row-botttom">
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                 <h4>Propositions</h4>
                  <!-- <p>{{dashboardRes.proposal.accepted}}</p> -->
                  <p><a routerLink="/brand/proposals/list">{{dashboardRes.proposal.accepted}}</a></p>
                 
                 <div class="approve-area">
                   <h3>Vous voulez que le créateur postule sur la campagne</h3>
                   <a routerLink="/brand/campaigns/add">créer Campagne</a>
                 </div>
                 
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                 <h4>video</h4>
                 <p style="color: #6993FF;">{{dashboardRes.video.approved}}</p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                <div  class="d-flex align-items-center justify-content-between mb-10">
                  <div  class="d-flex align-items-center mr-2">
                    <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                      <div class="symbol-label">
                        <span
                        [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'"
                        class="svg-icon svg-icon-3x"
                      ></span>
                      </div>
                    </div>
                    <div >
                      <a
                        href="#"
                        class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                        >Haut Createur</a
                      >
                      <div class="font-size-sm text-muted font-weight-bold mt-1">
                        {{dashboardRes.topCreator.firstName}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        </ng-container>

        <!--For creator-->
        <ng-container *ngIf="loading && userType ==='Creater'" >
          <div class="row">
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Paiement</h4>
                 <!-- <p>{{dashboardRes.payment.amount}}</p> -->
                 <p><a routerLink="/transactions/list">{{dashboardRes.payment.amount}}</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Video</h4>
                 <!-- <p>{{dashboardRes.video.total}}</p> -->
                 <p style="color: #6993FF;">{{dashboardRes.video.total}}</p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box">
                 <h4>Approuvé Video</h4>
                 <p style="color: #6993FF;">{{dashboardRes.video.approved}}</p>
              </div>
            </div>
            
        </div>
        
        
        <div class="row row-botttom">
          <div class="col-md-4 col-lg-4 dashboard-tile-margin">
            <div class="creator-inner-box creator-bottom">             
              <div  class="d-flex align-items-center justify-content-between mb-10">
                <div  class="d-flex align-items-center mr-2">
                  <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                    <div class="symbol-label">
                      <span
                      [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'"
                      class="svg-icon svg-icon-3x"
                    ></span>
                    </div>
                  </div>
                  <div >
                    <a
                      href="#"
                      class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                      >Haut Createur</a
                    >
                    <div class="font-size-sm text-muted font-weight-bold mt-1">
                      {{dashboardRes.topCreator.firstName}}
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Item-->
              <!--begin::Item-->
              <div class="d-flex align-items-center justify-content-between mb-10">
                <div class="d-flex align-items-center mr-2">
                  <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
                    <div class="symbol-label">
                      <span
                      [inlineSVG]="'./assets/media/svg/icons/Communication/Group.svg'"
                      class="svg-icon svg-icon-3x"
                    ></span>
                    </div>
                  </div>
                  <div>
                    <a
                      href="#"
                      class="font-size-h6 text-dark-75 text-hover-primary font-weight-bolder"
                      >Haut Marque</a
                    >
                    <div class="font-size-sm text-muted font-weight-bold mt-1">
                      {{dashboardRes.topBrand.firstName}}
                    </div>
                  </div>
                </div>
              
              </div>
               
            </div>
          </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin">
              <div class="creator-inner-box creator-bottom">
                 <h4>Propositions</h4>
                 <!-- <p>{{dashboardRes.proposal.accepted}}</p> -->
                 <p><a routerLink="/creator/proposals/list">{{dashboardRes.proposal.accepted}}</a></p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 dashboard-tile-margin ">
              <div class="creator-inner-box creator-bottom">
                 <h4>Complété Propositions</h4>
                 <!-- <p>{{dashboardRes.proposal.completed}}</p> -->
                 <p><a routerLink="/creator/proposals/list">{{dashboardRes.proposal.completed}}</a></p>
              </div>
            </div>
            <!-- <div class="col-md-4 col-lg-4 ">
              <div class="creator-inner-box creator-bottom">
                 <h4>Approve Videos</h4>
                 <div class="approve-area">
                   <h3>No Product to ship</h3>
                  <p>Something show up here once you approve the creator you wanna work with.</p>
                 </div>
              </div>
            </div> -->
            
        </div>
        </ng-container>
            
            
            
            
            
        </div>
    
    </div>
    
    
    
    
    
    