<div class="card card-custom gutter-b">
    <!-- <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">video </h3>
        </div>
    </div> -->
    
    <div class="card-body">       
        <div *ngIf="videos.length == 0">
            <app-no-record-placeholder title="video"></app-no-record-placeholder>
        </div>
        <!-- begin:Table -->
        <div *ngIf="videos.length != 0" class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th>Created At</th>                    
                    <th>Video</th>
                    <th>Statut</th>
                    <th>Approved/Rejection Date</th>
                    <th>Rejection Reason</th>
                    <th class="text-center">ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let video of videos">
                        <td class="selection-cell">
                            {{video.createdAt | date : 'medium'}}
                        </td>
                        <td class="selection-cell">
                            <video controls width="200" height="auto">
                                <source src="{{video.fileUrl}}" type="video/mp4" />
                                Browser not supported
                              </video>
                        </td>
                        <td>
                            <span class="label label-lg label-inline" [class.label-light-success]="video.status === 1"
                                [class.label-light-danger]="video.status === 2"
                                [class.label-light-primary]="video.status === 0">
                                <ng-container *ngIf="video.status === 0">Pending</ng-container>
                                <ng-container *ngIf="video.status === 1">Approuvée</ng-container>
                                <ng-container *ngIf="video.status === 2">Rejetée</ng-container>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="video.status==1">{{video.approvedDate | date : 'medium'}}</span>
                            <span *ngIf="video.status==2">{{video.rejectedDate | date : 'medium'}}</span>
                        </td>
                        <td>
                            {{video.rejectionReason}}
                        </td>
                        <td class="text-center">  
                                <span>
                                    <button class="mx-2" class="btn btn-primary btn-sm" (click)="updateStatus(video._id,'1')" title="Approve" [disabled]="(video.status === 1 || video.status === 2)"><i
                                        class="fa fa-thumbs-up"></i></button>
                                </span>
                                <span class="pl-5" >
                                    <button class="mx-2" class="btn btn-primary btn-sm" (click)="updateStatus(video._id,'2')" title="Reject" [disabled]="(video.status === 1 || video.status === 2)"><i
                                        class="fa fa-thumbs-down"></i></button>
                                </span>                             
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>