<div class="card card-custom gutter-b">
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
          style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </ng-container>
  
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          <ng-container>
            {{ id ? "Mettre à jour" : "Nouveau" }} produit 
          </ng-container>
        </h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-light" routerLink="/brand/products/list">
          <i class="fa fa-arrow-left"></i>Arrière
        </a>
        <button class="btn btn-secondary ml-2" (click)="reset()">
          <i class="fa fa-redo"></i>Réinitialiser
        </button>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
          <form class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
            <div class="form-group row">
              <div class="col-lg-4">
                <label>Nom du produit</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Nom du produit" 
                  name="productName" 
                  formControlName="productName" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['productName'].invalid
                  }"
                  />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>URL du produit</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="URL du produit" 
                  name="productUrl" 
                  formControlName="productUrl" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['productUrl'].invalid
                  }"
                  />
              </div>
            </div>

            <div class="float-left">
              <a 
              class="btn btn-default font-weight-bold mr-2" 
              (click)="reset()">Annuler</a>
              <button 
                type="submit" 
                class="btn btn-primary font-weight-bold mr-2"
                [disabled]="formGroup.invalid">Sauvegarder </button>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>