<div *ngIf="loading" class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Marque </h3>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="brands.length == 0">
      <app-no-record-placeholder title="Brand"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="brands.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>téléphone</th>
          <th>Nom de la compagnie </th>
          <th class="text-center">ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let brand of brands; let i = index;">
            <td class="selection-cell">
              <a class="mx-2" routerLink="/admin/brand/detail/{{brand._id}}">{{brand.users[0].firstName | titlecase}}</a>
            </td>
            <td class="selection-cell">
              {{brand.users[0].lastName | titlecase}}
            </td>
            <td class="selection-cell">
              {{brand.users[0].email}}
            </td>
            <td class="selection-cell">
              {{brand.users[0].phone}}
            </td>
            <td class="selection-cell">
              <a class="mx-2" routerLink="/admin/brand/detail/{{brand._id}}">{{brand.companyName | titlecase}}</a>
            </td>
            <td class="text-center">
              <a class="mx-2" routerLink="/admin/brand/detail/{{brand._id}}"><i class="fa fa-eye"></i></a>
              <a class="mx-2" [routerLink]="" (click)="deleteData(brand._id,i)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>