<div *ngIf="loading" class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        Marque Détail
      </h3>
    </div>
    <div class="card-toolbar">
      <a class="btn btn-light" routerLink="/admin/brand/list">
        <i class="fa fa-arrow-left"></i>Arrière
      </a>
    </div>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="mt-5">
        <div class="form-group row">
          <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-lg-6"></label>
              <div class="col-lg-6">
                <h5 class="font-weight-bold mb-6">Informations de l'utilisateur</h5>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Prénom</label>
              </div>
              <div class="col-lg-6">
                <span>{{brandData.users[0].firstName |titlecase}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Nom</label>
              </div>
              <div class="col-lg-6">
                <span>{{brandData.users[0].lastName| titlecase}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Company</label>
              </div>
              <div class="col-lg-6">
                <span>{{brandData.companyName | titlecase}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-6"></label>
              <div class="col-lg-6">
                <h5 class="font-weight-bold mb-6">Coordonnées</h5>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Phone</label>
              </div>
              <div class="col-lg-6">
                <span>{{brandData.users[0].phone}}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Email</label>
              </div>
              <div class="col-lg-6">
                <span>{{brandData.email }}</span>
              </div>
            </div>
            
            <div class="form-group row">
              <div class="col-lg-6">
                <label>Website</label>
              </div>
              <div class="col-lg-6">
                <span>{{brandData.website}}</span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>