<ng-container *ngIf="loading && userType ==='Admin'">
  <div class="row">
    <div class="col-xl-4">
      <div class="card card-custom bg-" style="background-color:#3548d0;" [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/admin/campaigns/list">Campagnes</a> </span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                <!-- {{data.campaign}} -->
              {{data.campaign}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le
                total</a>
            </div>

            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.completedCampaign}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                Completed</a>
            </div> -->

          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-4 dashboard-tile-margin-top">
      <div class="card card-custom bg-" style="background-color: rgb(52, 210, 188);"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style dashboard-tile-margin"><a [ngClass]="textInverseCSSClass" routerLink="/brand/proposals/list">Propositions</a> </span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
             
                {{data.proposal}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">Le total
              </a>
            </div>

            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.completedproposal}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Completed
              </a>
            </div> -->

          </div>

        </div>
      </div>
    </div>
  
    <div class="col-xl-4 dashboard-tile-margin-top">
      <div class="card card-custom bg-" style="    background-color: chocolate;
    ;" [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style dashboard-tile-margin"><a [ngClass]="textInverseCSSClass" routerLink="/admin/brand/list"> Marque</a> </span>
          <div style="display:flex; justify-content:space-between;">

            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                <!-- {{data.brand}} -->
               {{data.brand}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le
                total</a>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="col-xl-4 dashboard-tile-margin-top dashboard-tile-mt">
      <div *ngIf="loading && userType ==='Admin'" class="card card-custom bg-" style="background-color:rgb(17, 59, 78);"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/admin/creator/list">Createur</a></span>
          <div style="display:flex; justify-content:space-between;">

            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
               
                {{data.creator}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le
                total</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-4 dashboard-tile-margin-top dashboard-tile-mt">
      <div *ngIf="loading " class="card card-custom bg-" style="background-color:darkcyan;"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/admin/videos/list">Vidéos</a></span>
          <div style="display:flex; justify-content:space-between;">
            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.video.approved}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                approuvée</a>
            </div> -->
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                
                {{data.tototalvideo}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le
                total</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--advideo-->
</ng-container>

<!--BRAND-->
<ng-container *ngIf="loading && userType ==='Brand'">
  <div class="row">
    <div class="col-xl-4">
      <div class="card card-custom bg-" style="background-color:rgb(45 51 95);"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/brand/campaigns/list">Campagnes</a></span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.campaign.total}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1"> Le total </a>
            </div>
            <div [ngClass]="textInverseCSSClass">
              <!-- <p>Créer une tâche pour le créateur</p> -->
              <a style="margin-top: 30px !important;" class="btn btn-sm btn-primary" routerLink="/brand/campaigns/add">créer Campagne</a>
            </div>

            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.campaign.completed}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1"> Completed </a>
            </div> -->


          </div>
          
        </div>
      </div>
    </div>


    <div class="col-xl-4 dashboard-tile-margin-top">

      <div class="card card-custom bg-" style="background-color: #e29259;" [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/transactions/list">Paiement</a></span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.payment.amount|currency:'EUR':true}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1"> Total Amount</a>
            </div>

            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.payment.count}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1"> Count</a>
            </div> -->


          </div>

        </div>
      </div>
    </div>
  
    <div class="col-xl-4 dashboard-tile-margin-top">
      <div class="card card-custom bg-" style="background-color: #7781b7;" [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/brand/products/list">Produit</a> </span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.product}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le total
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="col-xl-4 dashboard-tile-mt">
      <div class="card card-custom bg-" style="background-color:rgb(86, 117, 117);margin-bottom: 25px;"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/brand/videos/list">Vidéos</a></span>
          <div style="display:flex; justify-content:space-between;">
            
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.video.total}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le
                total</a>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!--BRAND END-->

<!--Creator Start -->
<ng-container *ngIf="loading && userType ==='Creater'">
  <div class="row">
    <div class="col-xl-4">
      <div class="card card-custom bg-" style="background-color: #c41e83;" [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/transactions/list">Paiement</a></span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.payment.amount|currency:'EUR':true}}
              </div>
              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Total
                Amount</a>
            </div>
           
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-4 dashboard-tile-margin-top">
      <div *ngIf="loading " class="card card-custom bg-" style="background-color:darkcyan;margin-bottom: 25px;"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/creator/videos/list">Vidéos</a></span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.video.approved}}
              </div>

               <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                le Total</a> 
            </div>
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.video.total}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Le
                total</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-4">
      <div class="card card-custom bg-" style="background-color:#b9a172 !important;margin-bottom: 25px;"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/creator/proposals/list">Propositions</a> </span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.proposal.accepted}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                le Total</a>
            </div>
            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.proposal.rejected}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Rejeté</a>
            </div> -->
            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.proposal.completed}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                Complété</a>
            </div> -->

          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-4">
      <div class="card card-custom bg-" style="background-color:#349BBB !important;margin-bottom: 25px;"
        [ngStyle]="{ height: widgetHeight }">
        <div class="card-body">
          <span [inlineSVG]="'./assets/media/svg/icons/Layout/Layout-4-blocks.svg'"
            class="svg-icon svg-icon-3x svg-icon-white ml-n2"></span><span [ngClass]="textInverseCSSClass"
            class="font-weight-bold font-size-lg mt-1 font-style"><a [ngClass]="textInverseCSSClass" routerLink="/creator/campaigns/list">Campagnes</a> </span>
          <div style="display:flex; justify-content:space-between;">
            <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.campaign.total}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                le Total</a>
            </div>
            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.proposal.rejected}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner"> Rejeté</a>
            </div> -->
            <!-- <div>
              <div [ngClass]="textInverseCSSClass" class="font-weight-bolder font-size-h2 mt-3">
                {{data.proposal.completed}}
              </div>

              <a [ngClass]="textInverseCSSClass" class="font-weight-bold font-size-lg mt-1 font-style-inner">
                Complété</a>
            </div> -->

          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
<!--CreatorEND-->