<div class="card card-custom gutter-b">

  
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          <ng-container>
            Paramètres
          </ng-container>
        </h3>
      </div>      
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
          <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
            <div class="form-group row">
              <div class="col-lg-4">
                <label>Tax</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Tax" 
                  name="tax" 
                  formControlName="tax" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['tax'].invalid
                  }"
                  />
              </div>

              <div class="col-lg-4">
                <label>Email</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Email" 
                  name="email" 
                  formControlName="email" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['email'].invalid
                  }"
                  />
              </div>

              <div class="col-lg-4">
                <label>Commision</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Commision Percentage" 
                  name="commission" 
                  formControlName="commission" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['commission'].invalid
                  }"
                  />
              </div>

              <div class="col-lg-4">
                <label>Campaign Cost</label>
                <input 
                  type="text" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Commision Cost" 
                  name="campaignCost" 
                  formControlName="campaignCost" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['campaignCost'].invalid
                  }"
                  />
              </div>

            </div>
            <div class="float-left">
              <a 
              class="btn btn-default font-weight-bold mr-2" 
              (click)="reset()">Cancel</a>
              <button 
                type="submit" 
                class="btn btn-primary font-weight-bold mr-2"
                [disabled]="formGroup.invalid">Save</button>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>