<app-outer-header></app-outer-header>

<section id="hero-2" class="d-flex align-items-center"></section>

<section class="hero-3 d-flex align-items-center">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>A Propos</h2>
    </header>

    <div class="" style="font-size: 16px">
      <p style="font-size: 30px">
        <b
          >Bienvenu Chez Toocie, nous serons plus que ravis de travailler avec
          vous !
        </b>
      </p>

      <p style="font-size: 20px"><b>A propos de l’entreprise</b></p>
      <p>
        Née d’une frustration et d’une envie d’apporter de nouvelles solutions à
        l’élaboration de contenu UGC notamment, le CEO actuel et fondateur de
        l’entreprise décida de fonder Toocie, une plateforme mettant en relation
        des créateurs de contenu avec des marques. En effet, par le manque de
        plateforme francophone proposant ce genre de service lui vint
        naturellement l’idée de réaliser sa propre plateforme.
      </p>
      <p>
        Passionnés par l’Ecommerce, la création de contenu et la publicité en
        ligne, nous vous proposons un panel de services à un prix abordable.
      </p>

      <p style="font-size: 20px"><b>A propos de notre équipe</b></p>
      <p>
        L’entreprise est dirigée par une équipe basée à Bruxelles en pleine
        croissance, composée de membres uniques valorisant la <b>confiance</b>,
        l’<b>apprentissage</b>, l’<b>empathie</b> et la <b>sensibilisation</b>.
        En d’autres termes, nous sommes un team dynamique prêt à collaborer avec
        vous afin de concrétiser vos projets.
      </p>
      <p>
        Nous fonctionnons sur le principe du « télé-travail » ; c’est-à-dire que
        chaque membre à la possibilité de travailler depuis chez lui.
        Travaillant à distance des uns des autres, nous apprécions
        particulièrement nous réunir afin de passer du temps ensemble pour
        renforcer notre esprit d’équipe.
      </p>
      <p>
        Le fil conducteur nous reliant est la <b>passion</b> pour ce que nous
        faisons.
      </p>

      <p style="font-size: 20px"><b>Nos buts & missions</b></p>
      <p>
        Nous souhaitons vous accompagner dans vos projets, vous conseiller et
        réaliser avec succès vos demandes. Le but étant de produire du contenu
        de grande qualité, authentique et unique correspondant à vos marques et
        shops. En tant qu’entreprise en développement, nous vous encadrons aussi
        en tant que nouveau créateur, de débutant à avancé, en vous offrant une
        source de revenu et du travail fascinant.
      </p>

      <p>Toocie est là pour vous !</p>

      <p>N’hésitez plus à nous contacter !</p>

      <p class="mt-20">
        Bien à vous,<br />
        L’équipe de Toocie!
      </p>

      <!-- <p>Enchanté de vous rencontrer ! Nous sommes une équipe de personnes sympas derrière ce service incroyable.</p>

         <p>Toocie est née est d'une frustration et d'une envie d'apporter de nouvelles solutions du fondateur & CEO actuel, étant constamment en recherche de contenus UGC produit par des créateurs francophone pour ses marques d'Ecommerce, il faisait face à un désert car il n'y a aucune autre plateforme qui met en rélation des marques avec des créateurs de contenus UGC en France.</p>
         
         <p>Passionée par le ecommerce, la création du contenu et la publicité en ligne, je rencontrais un problème, il n'avait pas de platforme de créateurs de contenu francophones. Suite à ce problème j'ai décidé d'en créer une pour permettre à des milliers de marques qui sont dans mon cas de pouvoir trouver des créateurs francophones à un prix abordable</p> 
         
         
         
         <p>Toocie est dirigé par une équipe en pleine croissance de personnes qui valorisent la confiance, l'apprentissage, l'empathie et la sensibilisation. En d'autres termes, nous sommes des gens bien qui aiment passer du temps ensemble et parler de la vie, de la nourriture, du sport et de tout ce qui nous intéresse. Parce qu'il est bon de se sentir comme une personne, et pas seulement comme un employé.</p>
         
         <p>Notre équipe est entièrement basée sur Bruxelles,  Tout en travaillant à domicile, nous jouons à des jeux, faisons du yoga et profitons des pauses café ensemble. Même si nous sommes une équipe entièrement à distance, nous apprécions les sorties en personne dans les villes où résident les membres de notre équipe.</p>
         
         <p>Le fil conducteur qui nous relie est l'amour de ce que nous faisons. Nous avons une équipe formidable de professionnels du succès client, des ventes, du marketing et du développement de produits qui sont passionnés par la poursuite de la croissance de Toocie et la mise en relation de plus de marques et de créateurs de vidéos. Si vous pensez que nous pouvons vous correspondre, consultez nos offres d'emploi et contactez-nous !</p>
         -->
    </div>
  </div>
</section>

<app-outer-footer></app-outer-footer>
