<div *ngIf="loading" class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
            <!-- Proposal Detail -->
            Propositions Détail
        </h3>
      </div>
      <div class="card-toolbar">
        <a class="btn btn-light" routerLink="/creator/proposals/list">
          <i class="fa fa-arrow-left"></i>Arrière
        </a>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
            
              <!--- Proposals Details start ------->
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Created At</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{porposalData.createdAt | date : 'medium'}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Campagne Nom</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{porposalData.campaignRs.campaignName}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Produit Nom</label>
                  </div>
                  <div class="col-lg-9">
                    <span>{{porposalData.productRs.productName}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Ad Goals</label>
                  </div>
                  <div class="col-lg-9">
                    <p *ngFor="let adGoal of porposalData.campaignRs.adGoals;let i =index;">{{adGoal.value}}</p>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Ad Mentions</label>
                  </div>
                  <div class="col-lg-9">
                    <p *ngFor="let adMention of porposalData.campaignRs.adMentions;let i =index;">{{adMention.value}}</p>
                  </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Marque</label>
                    </div>
                    <div class="col-lg-9">
                        <span>{{porposalData.brandRs.companyName}}</span>
                      </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Un message</label>
                    </div>
                    <div class="col-lg-9">
                        <span>{{porposalData.message}}</span>
                      </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Video</label>
                    </div>
                    <div class="col-lg-9">
                        <div class="video">
                            <video controls (click)="toggleVideo()" #videoPlayer>
                                <source src="{{videoSource}}" type="video/mp4" />
                                Browser not supported
                            </video>
                          </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Statut</label>
                    </div>
                    <div class="col-lg-9">
                        <span class="label label-lg label-inline" [class.label-light-success]="porposalData.status === 1"
                            [class.label-light-danger]="porposalData.status === 2" [class.label-light-primary]="porposalData.status === 0">
                            <ng-container *ngIf="porposalData.status === 0">En attente</ng-container>
                            <ng-container *ngIf="porposalData.status === 1">Approuvé</ng-container>
                            <ng-container *ngIf="porposalData.status === 2">Rejeté</ng-container>
                        </span>
                      </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-3">
                    <label>Offre reçue</label>
                  </div>
                  <div class="col-lg-9">
                      <span *ngIf="porposalData.offerSent == true">Oui ({{porposalData.offerSentAt | date : 'medium'}})</span>
                      <span *ngIf="porposalData.offerSent == false">Non</span>
                    </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label>Offre acceptée</label>
                </div>
                <div class="col-lg-9">
                  <span *ngIf="porposalData.offerAccepeted == true">Oui ({{porposalData.offerAcceptedAt | date : 'medium'}})</span>
                  <span *ngIf="porposalData.offerAccepeted == false">Non</span>
                  </div>
            </div>
            <ng-container>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label>Nom du transporteur</label>
                </div>
                <div class="col-lg-9">
                    {{porposalData.campaignRs.courierVendorName | titlecase}}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label>Numéro de suivi</label>
                </div>
                <div class="col-lg-9">
                    {{porposalData.campaignRs.trackingNumber | titlecase}}
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-3">
                  <label>Adresse de livraison</label>
                </div>
                <div class="col-lg-9">
                    {{porposalData.deliveryAddress }}
                </div>
              </div>
            </ng-container>


                <!--- Propasls Details end ------->
                <!-- <form  class="form form-label-right" [formGroup]="formGroup">
                  <div class="form-group row">
                    <div class="col-lg-3">
                      <label>Message</label>
                    </div>
                    <div class="col-lg-9">
                      <textarea *ngIf="porposalData.campaignRs.isCompleted !=true" class="form-control" formControlName="message" name="message" ></textarea>
                      <span *ngIf="porposalData.campaignRs.isCompleted ==true">{{porposalData.message}}</span>
                    </div>
                  </div> 
                  <div class="form-group row" *ngIf="porposalData.addressRequired===true">
                    <div class="col-lg-3">
                      <label>Address</label>
                    </div>
                    <div class="col-lg-9">
                      <textarea *ngIf="porposalData.campaignRs.isCompleted !=true" class="form-control" formControlName="deliveryAddress" name="deliveryAddress" ></textarea>
                      <span *ngIf="porposalData.campaignRs.isCompleted ==true">{{porposalData.deliveryAddress}}</span>
                    </div>
                  </div>
                     
                  <div class="float-left" *ngIf="porposalData.campaignRs.isCompleted !=true">
                    <button *ngIf="porposalData.offerAccepeted != true"
                    class="btn btn-danger font-weight-bold mr-2" 
                    (click)="accept()" [disabled]="formGroup.invalid">Accepter l'offre</button>
                    <button 
                    (click)="reject()"
                    class="btn btn-primary font-weight-bold mr-2"
                    [disabled]="formGroup.invalid">Rejeter l'offre</button>                    
                  </div>
                </form> -->
                

        </div>
      </ng-container>
    </div>
  </div>