<app-outer-header></app-outer-header>
<section id="hero-2" class=" d-flex align-items-center">

</section>
<section>
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h2>Conditions d'utilisation de Toocie</h2>
        </header>
        <p class="h2">ACCEPTATION DES CONDITIONS DE SERVICE</p>
        <div class="" style="font-size: 16px;">
            <p>Dernière mise à jour : 24 août 2021</p>
            <p>1.1. Toocie, Toocie S.A (ci-après dénommée Toocie, nous, notre ou nos) possède et exploite certains sites
                web, y compris https://toocie.com, y compris https://toocie.co et les applications mobiles de Toocie
                (collectivement, la " Plateforme ") et met à disposition des services de marketing et de promotion (les
                Services Toocie). Toute utilisation des Services Toocie et de la Plateforme est soumise aux termes et
                conditions contenus dans le présent Contrat d'utilisation, tel que modifié de temps à autre (Contrat).
                Veuillez lire attentivement ce Contrat. En accédant, créant un compte, naviguant ou utilisant de toute
                autre manière les Services Toocie, vous reconnaissez avoir lu, compris et accepté d'être lié par ce
                Contrat. Si vous n'acceptez pas les termes et conditions de ce Contrat, vous ne devez pas accéder,
                naviguer ou utiliser les Services Toocie.</p>
            <p>1.2 Le présent Contrat expose l'intégralité de l'accord des parties concernant l'objet des présentes,
                remplace tous les accords existants entre elles concernant cet objet, et peut être modifié à tout moment
                sans préavis. Toute modification du présent accord sera publiée sur cette page et indiquera la dernière
                révision. Vous pouvez lire une copie actuelle et effective de cette convention en tout temps en visitant
                https://Toocie/condition. Toocie vous informera de toute modification de ce Contrat par le biais d'une
                fenêtre contextuelle, d'un e-mail ou de tout autre moyen raisonnable. Nous ne sommes pas responsables
                des notifications perdues. Ces modifications entreront en vigueur au plus tôt trente (30) jours après
                leur publication, à l'exception des modifications apportées aux fonctionnalités et aux services de Toocie
                ou pour des raisons juridiques qui entrent en vigueur immédiatement. En continuant à naviguer sur les
                sites Web de Toocie et/ou à utiliser les services de Toocie, vous acceptez les modifications apportées au
                contrat. En cas de conflit de termes entre le présent Contrat et tout autre terme et condition, contrat
                de licence d'utilisateur final ou politique de confidentialité, les termes du présent Contrat
                prévaudront.</p>
            <p>1.3. Conditions supplémentaires. En outre, lors de l'utilisation de Toocie, vous serez soumis à toutes
                les conditions supplémentaires applicables à nos services qui peuvent être publiées sur les sites et/ou
                services de Toocie de temps à autre, y compris, sans limitation, la Politique de Confidentialité de
                Toocie située à https://Toocie/privacypolicy/ (la "Politique de Confidentialité"), les conditions
                supplémentaires applicables aux Marques et Créateurs. Tous ces termes et conditions sont incorporés par
                référence dans le présent Contrat.</p>
            <p>1.4 ARBITRAGE. VEUILLEZ LIRE ATTENTIVEMENT LA PRÉSENTE CONVENTION, CAR ELLE CONTIENT UNE CONVENTION
                D'ARBITRAGE ET D'AUTRES RENSEIGNEMENTS IMPORTANTS CONCERNANT VOS DROITS, RECOURS ET OBLIGATIONS
                JURIDIQUES. LA SECTION 10 DU PRÉSENT CONTRAT CONTIENT UNE CONVENTION D'ARBITRAGE QUI, À QUELQUES
                EXCEPTIONS PRÈS, VOUS OBLIGE À SOUMETTRE LES RÉCLAMATIONS QUE VOUS AVEZ CONTRE NOUS À UN ARBITRAGE
                CONTRAIGNANT ET DÉFINITIF. EN VERTU DE LA CONVENTION D'ARBITRAGE, (A) VOUS NE SEREZ AUTORISÉ À
                POURSUIVRE DES RÉCLAMATIONS CONTRE Toocie QUE SUR UNE BASE INDIVIDUELLE, ET NON EN TANT QUE DEMANDEUR OU
                MEMBRE D'UNE ACTION OU D'UNE PROCÉDURE COLLECTIVE OU REPRÉSENTATIVE, (B) VOUS NE SEREZ AUTORISÉ À
                DEMANDER UNE RÉPARATION (Y COMPRIS UNE RÉPARATION MONÉTAIRE, INJONCTIVE ET DÉCLARATOIRE) QUE SUR UNE
                BASE INDIVIDUELLE, ET (C) IL SE PEUT QUE VOUS NE PUISSIEZ PAS FAIRE RÉSOUDRE LES RÉCLAMATIONS QUE VOUS
                AVEZ CONTRE NOUS PAR UN TRIBUNAL.
                INTRODUCTION</p>
            <p>2.1 L'objectif de la plateforme Toocie est de mettre en relation des entreprises (les "Marques") avec la
                communauté d'utilisateurs sur les médias sociaux (les "Créateurs") et de permettre le marketing sur les
                médias sociaux, le contenu généré par les utilisateurs et d'autres campagnes : créer et gérer des
                relations, organiser des cadeaux de produits/services, permettre l'achat et la distribution de contenu
                généré par les utilisateurs sur les médias sociaux ; sous réserve du respect des présentes Conditions de
                service. Dans les présentes Conditions de service, les Marques et les Créateurs sont collectivement et
                individuellement désignés par les termes " utilisateurs " ou " vous ", selon le contexte.</p>
            <p>2.2 Votre accès et votre utilisation de la Plateforme Toocie sont conditionnés par votre accord et votre
                acceptation des présentes Conditions de Service. La poursuite de l'utilisation de la plateforme Toocie
                est considérée comme une acceptation des présentes conditions d'utilisation. Si vous ne souhaitez pas
                être lié par ces conditions de service, n'utilisez pas la plateforme.</p>
            <p>Obtenez payé à temps.Oubliez les retards ennuyeux. Les affiliés de Toocie sont payés à temps pour leurs
                résultats.</p>
            <p>2.3 Toocie peut à tout moment réviser ces conditions de service en mettant à jour cette page. Les
                révisions prendront effet immédiatement et peuvent affecter votre capacité à utiliser la Plateforme.
                Puisque vous êtes lié par les présentes Conditions d'utilisation chaque fois que vous utilisez la
                Plateforme Toocie, vous devez vérifier les révisions des présentes Conditions d'utilisation chaque fois
                que vous l'utilisez et chaque fois que vous êtes invité à le faire. Votre utilisation de la Plate-forme
                Toocie après la publication de toute révision des présentes Conditions d'utilisation constitue votre
                acceptation de ces révisions.</p>
            <p>2.4 Toocie se réserve le droit de modifier la Plateforme de la manière qu'elle juge appropriée. Même si
                vous avez un Compte, votre capacité à accéder et à utiliser la Plateforme Toocie peut être résiliée à
                tout moment sans préavis.</p>
            <p>2.5 Tous les frais liés à l'utilisation de la Plateforme Toocie restent à votre charge et dépendent du
                prestataire de services utilisé.
                utilisation de la plateforme toocie
            </p>
            <p>3.1 La Plateforme Toocie permet aux Marques de se connecter à la communauté d'utilisateurs sur les médias
                sociaux et/ou d'acheter du contenu généré par les utilisateurs afin de :</p>
            <p>3.1.1 Acquérir du contenu vidéo et audio de Créateurs, créé spécifiquement pour la Marque ("Contenu")
                conformément à une demande soumise par la Marque sur la Plateforme ;</p>
            <p>3.1.2 Fournir aux Créateurs des commissions d'affiliation, basées sur les ventes réalisées par les canaux
                des Créateurs.</p>
            <p>3.2 "Droits de Propriété Intellectuelle" signifie tous les droits de propriété intellectuelle présents ou
                futurs de quelque nature que ce soit, partout dans le monde, y compris, mais sans s'y limiter, les
                droits relatifs à ou en relation avec les droits d'auteur, les marques de commerce, les marques de
                service, les noms commerciaux, les noms de domaine, le droit de publicité, les brevets, les dessins et
                modèles, et les droits similaires, qu'ils soient ou non enregistrés ou susceptibles d'être enregistrés,
                et comprend le droit de demander l'enregistrement de ces droits, partout dans le monde. La Marque
                acquiert tout droit, titre et intérêt dans tous les Droits de Propriété Intellectuelle sur le Contenu,
                créé par le Créateur et téléchargé sur la Plateforme Toocie qui se rapporte au produit de la Marque.
                Sous réserve de la licence accordée par la Marque à Toocie au paragraphe 5.5.2.2, ce Contenu, créé par
                le Créateur et téléchargé sur la Plateforme Toocie, peut également être utilisé par Toocie pour les
                médias sociaux, la publicité et d'autres fins de Toocie à l'intérieur et à l'extérieur de la plateforme
                Toocie.</p>
            <p>3.3 La Marque concernée est seule responsable de :</p>
            <p>3.3.1 de fournir au Créateur une description précise et complète de ses besoins en matière de Contenu ("
                Brief de Campagne ") ;</p>
            <p>3.3.2 de s'assurer de la gratuité des cadeaux de produits ou des essais de services ;</p>
            <p>3.3.4 d'approuver les participants à la campagne et le contenu créé pour la Marque en temps voulu ;</p>
            <p>3.3.5 payer en temps utile le Contenu téléchargé sur la Plateforme Toocie.</p>
            <p>3.4 La Plateforme Toocie permet aux Créateurs de participer au marketing des médias sociaux et/ou aux
                campagnes générées par les utilisateurs en :</p>
            <p>3.4.1 en fournissant des campagnes de marketing sur les médias sociaux et/ou de contenu généré par les
                utilisateurs sur mesure avec des exigences précises et complètes ;</p>
            <p>3.4.2 en créant du Contenu pour les Marques conformément au Brief de la Campagne et/ou à d'autres
                exigences, fournies à l'avance.
            </p>
            <p>3.5 Le Créateur est seul responsable de :</p>
            <p>3.5.1 fournir des informations personnelles, de contact et de compte de médias sociaux exactes et à jour.
                Cela inclut les informations de compte Paypal ou bancaire pour que Toocie puisse transférer les
                commissions gagnées au Créateur ;</p>
            <p>3.5.2 assurer la conformité avec le dossier de campagne et/ou d'autres exigences, fournies à l'avance.
                Toocie se réserve le droit de refuser le travail des Créateurs jusqu'à ce que les exigences fournies
                correspondent aux normes souhaitées ;</p>
            <p>3.5.3 la livraison dans les délais, conformément au dossier de campagne et/ou à d'autres exigences,
                fournies à l'avance ;</p>
            <p>3.5.4 inclure les informations nécessaires, requises par Toocie, la Marque ou la loi en vigueur lors de
                la publication sur les canaux de médias sociaux, si cela a été convenu par la Marque, y compris, mais
                sans s'y limiter, les avertissements publicitaires.</p>
            <p>3.6. Les Créateurs et les Marques conviennent qu'ils ne tenteront pas de négocier les conditions ou le
                paiement de la campagne de marketing sur les médias sociaux ou du contenu généré par les utilisateurs.
            </p>
            <p>3.7. Vous ne pouvez pas décompiler, faire de l'ingénierie inverse, désassembler, convertir ou autoriser
                un tiers à décompiler, faire de l'ingénierie inverse, désassembler ou convertir de toute autre manière
                tout élément de la Plateforme Toocie en une forme perceptible par l'homme ; distribuer ou republier tout
                élément de la Plateforme Toocie de quelque manière que ce soit ; revendre, louer ou prêter tout élément
                de la Plateforme Toocie ; contourner, désactiver ou contourner toute fonction de sécurité de la
                Plateforme Toocie ; ou transférer tout élément de la Plateforme Toocie à un tiers.</p>
            <p>3.8 Pour utiliser la Plateforme Toocie, les utilisateurs doivent être autorisés à utiliser les
                plateformes de médias sociaux (conformément aux conditions générales en vigueur sur les plateformes
                concernées). En utilisant des applications ou des fonctionnalités de médias sociaux sur la Plateforme
                Toocie, le Créateur consent et accepte également d'être lié par les conditions d'utilisation
                particulières de la plateforme de médias sociaux.</p>
            <p>3.9 Le Créateur est seul responsable des interactions du Créateur avec les autres utilisateurs de la
                Plateforme Toocie. Le Créateur accepte que Toocie et la Marque ne soient pas responsables de la conduite
                de tout utilisateur.</p>
            <p>3.10 Vous ne devez pas vous engager dans l'exploration, le grattage, la mise en cache ou tout autre accès
                à tout contenu de la Plateforme Toocie par des moyens automatisés, sauf avec le consentement écrit de
                Toocie.</p>
            <p>3.11 Rien dans les présentes Conditions de service n'est destiné à créer ou ne crée un partenariat, une
                agence, un emploi ou une relation fiduciaire entre Toocie et tout utilisateur.</p>
            <p>&nbsp;</p>
            <p>3.12 Sous réserve du respect respectif de la Marque et du Créateur des présentes Conditions Générales
                d'Utilisation, il est accordé à la Marque et au Créateur une licence limitée, non exclusive, révocable
                et non transférable pour accéder et utiliser la Plateforme Toocie de la manière prévue dans les
                présentes Conditions Générales d'Utilisation. Tous les coûts associés à l'accès et à l'utilisation de la
                Plateforme Toocie restent généralement la responsabilité respective de la Marque et du Créateur et
                dépendent du fournisseur de service utilisé. La Marque et le Créateur sont tenus de s'assurer que le
                système informatique ou l'appareil mobile respectif que la Marque ou le Créateur utilise pour accéder à
                la Plateforme Toocie est compatible avec la Plateforme Toocie et répond à toutes les spécifications
                techniques pertinentes nécessaires pour obtenir le bénéfice de la Plateforme Toocie.</p>
            <p>&nbsp;</p>
            <p>3.13 La Plateforme Toocie peut contenir des liens vers d'autres sites non gérés par Toocie (" Sites liés
                "). Toocie n'est pas responsable du contenu des Sites liés, que Toocie soit affilié ou non aux Sites
                liés. Toocie n'approuve en aucune façon les sites liés et n'est pas responsable de la qualité ou de la
                livraison des produits ou services offerts, accessibles ou annoncés par ces sites liés. Dans la mesure
                où ces Sites Liés recueillent des informations ou des contributions personnelles du Créateur, Toocie
                n'assume aucune responsabilité quant à la manière dont ces informations ou contributions sont utilisées
                ou exploitées. Les sites liés sont uniquement destinés à la commodité du Créateur et le Créateur accepte
                d'y accéder à ses propres risques.</p>
            <p>3.14 Vous reconnaissez et consentez également à ce que la Plateforme Toocie accède aux informations que
                vous avez pu partager avec la plateforme de médias sociaux particulière et vous contacte via la
                plateforme de médias sociaux ou via les informations que vous avez partagées (par exemple, en vous
                envoyant directement un courriel à l'adresse électronique fournie à la plateforme de médias sociaux),
                conformément aux autorisations que vous avez accordées via la plateforme de médias sociaux. Nous vous
                encourageons à consulter les conditions d'utilisation de chaque plateforme de médias sociaux avant de
                vous engager ou d'interagir avec les liens, applications ou fonctionnalités de médias sociaux sur la
                Plateforme Toocie. La Plateforme Toocie n'est en aucun cas sponsorisée, approuvée ou administrée par, ou
                associée à, une quelconque plateforme de médias sociaux.
            </p>
            ENREGISTREMENT D'UN COMPTE
            <p>4.1 Afin d'utiliser la Plateforme Toocie, les utilisateurs doivent enregistrer un compte via la
                Plateforme de la manière requise et comme indiqué dans les présentes Conditions d'Utilisation.</p>
            <p>4.2 Toocie se réserve le droit de refuser ou d'annuler l'enregistrement d'un compte pour toute raison à
                sa seule discrétion.</p>
            <p>4.3 Toutes les informations fournies lors de l'enregistrement d'un Compte doivent être actuelles,
                correctes et complètes. Les enregistrements de Comptes incomplets, inéligibles ou incompréhensibles ne
                seront pas valides. Vous devez être connecté à votre Compte de la manière requise chaque fois que vous
                souhaitez utiliser la Plateforme Toocie. Vous ne pouvez jamais utiliser le Compte d'une autre personne
                sans autorisation.</p>
            <p>4.4 Vous êtes responsable du maintien de la stricte confidentialité des détails de votre Compte et de
                toute activité effectuée sur votre Compte. Vous acceptez d'informer immédiatement Toocie de toute
                utilisation non autorisée de votre Compte ou de toute autre violation de la sécurité. Il est de votre
                seule responsabilité de contrôler l'accès à votre Compte et son utilisation et d'informer Toocie lorsque
                vous souhaitez annuler votre Compte. Toocie ne sera pas responsable de toute perte ou de tout dommage
                résultant de votre manquement à cette disposition.</p>
            <p>4.5 Toocie conserve le droit et la discrétion absolue de résilier votre Compte et/ou l'accès à la
                Plateforme Toocie (ou tout élément de celle-ci) si elle estime que vous abusez ou trafiquez la Plateforme
                Toocie (ou tout élément de celle-ci) de quelque manière que ce soit, que vous avez enfreint les
                présentes Conditions de service, ou que vous vous êtes engagé dans une conduite illégale, contraire à
                l'éthique, antisportive ou toute autre conduite calculée pour compromettre la bonne administration de la
                Plateforme Toocie (ou tout élément de celle-ci).</p>
            <p>4.6 L'utilisation de tout logiciel automatisé ou de tout autre moyen mécanique ou électronique permettant
                à un membre de créer des Comptes est interdite. Toocie se réserve le droit de suspendre ou de résilier
                votre Compte si elle estime que vous vous livrez à une telle activité.</p>
            <p>4.7 Les utilisateurs comprennent qu'en créant un Compte, ils fournissent leurs informations à Toocie et
                non à une quelconque plateforme de médias sociaux. Les utilisateurs de la Plateforme Toocie (qu'il
                s'agisse de Créateurs ou de Marques) sont seuls responsables et redevables de tout Contenu ou
                information qu'ils transmettent respectivement aux autres utilisateurs de la Plateforme Toocie. Dans la
                mesure permise par la loi, chaque utilisateur de la Plateforme Toocie accepte d'indemniser, de défendre
                et de dégager à jamais de toute responsabilité, toutes les plateformes de médias sociaux et leurs
                agences et sociétés associées, contre toutes les pertes, actions, réclamations, coûts, dépenses et
                dommages (de toute nature) qui pourraient être encourus par l'utilisateur en raison de son utilisation
                de la Plateforme Toocie. Toute question, commentaire ou plainte concernant la Plateforme Toocie doit
                être adressée à Toocie et non à un média ou une plateforme de médias sociaux.</p>

            <strong>CONDITIONS APPLICABLES AUX CREATEURS</strong>
            <p>5.1 Admissibilité des Créateurs</p>
            <p>5.1.1 Toute personne doit avoir 18 ans ou plus pour enregistrer un Compte Créateur sur la Plateforme
                Toocie.</p>
            <p>5.1.2 Afin de participer à toute Campagne et de gagner une rémunération via Toocie, les Créateurs doivent
                répondre aux normes minimales suivantes :</p>
            <p>5.1.2.1 leurs canaux de médias sociaux (y compris, mais sans s'y limiter, Instagram et Facebook) ne
                doivent pas contenir de contenu inapproprié, contraire à l'éthique, irrespectueux ou contraire aux
                présentes Conditions d'utilisation ou aux conditions d'utilisation de la plateforme de médias sociaux
                concernée des canaux de médias sociaux du Créateur.</p>
            <p>5.2 Autres conditions pour les comptes de Créateur</p>
            <p>5.2.1. Si le Créateur ne satisfait pas à la norme minimale, il se peut que le Créateur ne puisse pas
                participer à la campagne ou accéder à l'ensemble des fonctionnalités de la Plateforme.</p>
            <p>5.2.2. Pour enregistrer un Compte Créateur, le Créateur doit se connecter à la Plateforme avec son compte
                Instagram, Facebook ou d'une autre manière fournie. Afin de participer aux campagnes, le Créateur doit
                connecter son compte Instagram de la manière requise. La Plateforme Toocie ne publiera aucun contenu au
                nom du Créateur sur les canaux de médias sociaux détenus.</p>
            <p>5.3 Rémunération des Créateurs</p>
            <p>5.3.1 Les Créateurs sont rémunérés pour le Contenu qu'ils créent après que le Contenu est téléchargé sur
                la Plateforme et accepté par la Marque.</p>
            <p>5.3.2 Le Créateur accepte qu'en téléchargeant le Contenu sur la Plateforme, le Créateur transfère à la
                Marque tous les droits, titres et intérêts de tous les Droits de Propriété Intellectuelle sur le
                Contenu, et ne doit pas publier ce Contenu sur les propres canaux de médias sociaux du Créateur, sauf
                autorisation de la Marque.</p>
            <p>5.4 Conditions de participation à une campagne</p>
            <p>5.4.1 Le contenu doit respecter les exigences contenues dans les présentes Conditions d'Utilisation, et
                les exigences imposées par la Marque et Toocie au moment de la soumission du contenu pour approbation.
                La Marque ou Toocie peut rejeter le Contenu qui ne respecte pas cette condition jusqu'à ce que toutes les
                exigences soient satisfaites.</p>
            <p>5.4.2 Le Créateur garantit, pour chaque Contenu créé pour les Campagnes, que :</p>
            <p>5.4.2.1 Le Créateur a l'âge légal pour créer, posséder et exploiter des canaux de médias sociaux ;</p>
            <p>5.4.2.2 le Créateur possède les droits de propriété intellectuelle sur le Contenu et a le droit, le cas
                échéant, de céder les droits de propriété intellectuelle sur le Contenu à la Marque de la manière prévue
                dans les présentes Conditions Générales d'Utilisation ;</p>
            <p>5.4.2.3 le Contenu ne viole pas les droits à la vie privée, les droits contractuels ou autres droits (y
                compris les Droits de Propriété Intellectuelle) de toute personne, société ou entité ;</p>
            <p>5.4.2.4 le contenu ne contient aucune fausse déclaration ou suggestion selon laquelle le Créateur ou un
                tiers a l'approbation ou le parrainage d'une autre partie, ce qui n'est pas le cas du Créateur ou de ce
                tiers ;</p>
            <p></p>
            <p>5.4.2.5 toutes les déclarations dans le Contenu concernant l'utilisation et l'expérience du Créateur de
                la Marque ou des produits ou services de la Marque sont vraies et correctes et représentent l'opinion du
                Créateur, que le Créateur soit payé ou non pour ce contenu, et représentent équitablement l'utilisation
                et l'expérience du Créateur et le Créateur informera rapidement Toocie si l'opinion du Créateur sur la
                Marque change par rapport à celle qu'il a exprimée à ce jour ;
            </p>
            <p>5.4.2.6 le Contenu concerné ne contient aucune déclaration ou élément que le Créateur sait ou soupçonne
                (ou aurait dû raisonnablement savoir ou soupçonner) d'être faux, trompeur ou mensonger ;
            </p>
            <p>5.4.2.7 le contenu pertinent est original et ne contient pas d'éléments qui ont été précédemment
                diffusés, diffusés en continu, publiés, postés sur un canal de médias sociaux ou autrement communiqués
                au public par le Créateur de quelque manière que ce soit, et ne contient pas d'éléments qui ont été
                utilisés dans des documents de marketing ou des promotions antérieurs pour un tiers ou qui violent
                autrement les droits d'un tiers ;
            </p>
            <p>5.4.2.8 le Créateur n'a pas conclu d'autres accords, arrangements ou ententes avec une guilde, un
                syndicat, une organisation industrielle ou un autre tiers qui empêchent ou limitent le Créateur
                d'adhérer aux présentes Conditions de service, d'exécuter ses obligations ou d'accorder les droits et
                avantages énoncés aux présentes, ou qui entraînent un conflit d'intérêts ;
            </p>
            <p>5.4.2.9 l'utilisation du Contenu et l'exercice des Droits de Propriété Intellectuelle sur le Contenu par
                la Marque et Toocie ne porteront pas atteinte aux Droits de Propriété Intellectuelle ou autres droits
                légaux de toute personne ou entité, ni ne donneront lieu à une responsabilité ou à une obligation de
                payer une compensation à toute personne ou entité.
            </p>
            <p>5.5. Droits sur le Contenu
            </p>
            <p>5.5.1. Tous les droits, titres et intérêts de tous les Droits de propriété intellectuelle sur le Contenu
                créé seront transférés à la Marque. Toocie se réserve le droit d'utiliser également le Contenu créé à des
                fins de marketing et de publicité propres à Toocie, tant sur la Plateforme Toocie qu'en dehors.
            </p>
            <p>5.5.2 En contrepartie du paiement du Contenu, le Créateur accepte de concéder pour chaque élément du
                Contenu :
            </p>
            <p>5.5.2.1 le droit d'éditer et de reformater le contenu dans les formats ou versions destinés à être
                utilisés par la Marque dans les médias requis par la Marque conformément à la présente clause ;


            </p>
            <p>5.5.2.2 un transfert et une cession à la Marque de tous les droits, titres et intérêts de tous les droits
                de propriété intellectuelle sur le Contenu, créé par le Créateur et téléchargé sur la Plateforme Toocie
                qui se rapporte au produit de la Marque, sans autre notification ou consentement du Créateur ou autre
                compensation payable au Créateur. La Marque accorde à Toocie une licence libre de redevance, perpétuelle,
                mondiale, irrévocable, non exclusive et transférable pour utiliser, éditer et reformater le Contenu dans
                le seul but de commercialiser et promouvoir la Marque et/ou Toocie (et les produits et services Toocie
                auxquels ce Contrat se rapporte), sans autre notification ou consentement du Créateur ou autre
                compensation payable au Créateur ;
            </p>
            <p>5.5.2.3 le droit d'utiliser l'identité et les performances du Créateur dans le Contenu et de communiquer
                le Contenu au public dans toutes les langues, dans tous les médias, y compris, mais sans s'y limiter :
                tous les médias payants en ligne (y compris, mais sans s'y limiter, les bannières numériques) ; dans
                tous les médias propriétaires en ligne (y compris, mais sans s'y limiter, le site internet de Toocie et
                les communications internes de Toocie) ; dans tous les médias sociaux (y compris, mais sans s'y limiter,
                les canaux de médias sociaux de la Marque) ; et dans tout média gagné ou activité de relations publiques
                publiée par un tiers (y compris, mais sans s'y limiter, les médias imprimés, numériques et/ou sociaux) ;
            </p>
            <p>5.5.2.4 le droit de partager, commenter et réafficher de manière organique le contenu pertinent dans le
                canal de médias sociaux sur lequel le contenu a été publié ;
            </p>
            <p>5.5.3 Le Créateur reconnaît et accepte que la Marque ne sera pas tenue de retirer de ses canaux de médias
                sociaux tout Contenu ou tout commentaire, partage ou réaffichage du Contenu.
            </p>
            <p>5.5.4 Le Créateur reconnaît et accepte qu'en téléchargeant le Contenu sur la Plateforme, le Contenu et
                tous les Droits de Propriété Intellectuelle subsistant dans le Contenu deviennent irrévocablement la
                propriété de la Marque). Cette cession est absolue, mondiale et pour tous les usages et toutes les fins,
                y compris, sans s'y limiter, la réaffectation du Contenu à toute autre personne ou entité, la concession
                de licences sur le Contenu à toute autre personne ou entité, la réalisation de toute modification,
                amélioration, adaptation ou version du Contenu, la création d'œuvres dérivées, et y compris toute
                diffusion du post sur tout support. Le Créateur accepte que le Créateur, à la demande de Toocie, exécute
                tous les documents et fournisse toutes les informations nécessaires pour parfaire le titre de la Marque
                dans tous les droits de propriété intellectuelle du Contenu. Le Créateur libère la Marque et Toocie,
                leurs administrateurs, dirigeants, employés, successeurs et ayants droit de toute responsabilité en cas
                de réclamation du Créateur en rapport avec le Contenu téléchargé à la demande de la Marque ou de Toocie.
            </p>
            <p>5.5.5 Le Créateur reconnaît et accepte que le Contenu ne doit pas être publié sur les chaînes du Créateur
                ou publié d'une autre manière, quelles que soient les circonstances, y compris le fait de réafficher ou
                de commenter le contenu après qu'il ait été publié ou partagé par Toocie ou une Marque.
            </p>
            <p>5.5. 6 En téléchargeant du contenu sur la Plateforme, les Créateurs accordent à la Marque et à Toocie et à
                ses successeurs, licenciés et ayants droit, dans la mesure maximale autorisée par la loi, une
                renonciation inconditionnelle et irrévocable à tous les Droits Moraux sur le contenu, et un consentement
                authentique à la Marque et à Toocie et aux successeurs, Toocie et les successeurs, licenciés et ayants
                droit de Brand et Toocie, à utiliser, traiter, reproduire, publier, transmettre, adapter, éditer,
                changer, modifier ou déplacer le Contenu, que ce soit en totalité ou en partie, et que ce soit seul ou
                en combinaison avec tout autre matériel, y compris lorsque ces actes impliquent une violation de tout
                Droit moral subsistant dans le Contenu.
            </p>
            <p>5.7 Restrictions du Créateur
            </p>
            <p>5.7.1 Le Créateur s'engage à ne pas :
            </p>
            <p>5.7.1.1 parodier, dénigrer, faire des commentaires négatifs ou se moquer de la Marque ou de ses produits
                ou services en général de quelque manière que ce soit ;
            </p>
            <p>5.7.1.2 créer des messages contextuels ou environnants ou d'autres éléments sur une chaîne qui, d'une
                manière ou d'une autre, portent atteinte au contenu, à la marque ou à ses produits ou services, ou en
                diluent l'effet.
            </p>
            <p>5.7.2 Le Créateur reconnaît que les restrictions contenues dans la clause ci-dessus sont raisonnables en
                termes de portée et de durée compte tenu des intérêts de la Marque et de Toocie et que les présentes
                Conditions d'Utilisation ne vont pas plus loin que ce qui est raisonnablement nécessaire pour protéger
                les intérêts de la Marque et de Toocie.
            </p>
            <p>CONDITIONS SUPPLEMENTAIRES POUR LES MARQUES

            </p>
            <p>6.1 Conditions supplémentaires pour les Comptes de Marques
            </p>
            <p>6.1.1 Pour enregistrer un Compte de Marque, la Marque doit accéder à la Plateforme Toocie et se connecter
                de la manière requise, notamment en fournissant le nom complet de la Marque, son adresse e-mail,
                l'adresse de son bureau, son numéro de téléphone et les détails de sa carte de crédit. La Marque ne sera
                pas facturée pour créer un Compte de Marque.
            </p>
            <p>6.1.2 La Marque sera facturée à l'avance pour chaque Tâche que la Marque crée (plusieurs tâches si vous
                choisissez l'un des plans d'abonnement de Toocie). Plus d'informations sur la tarification et les frais
                de Toocie peuvent être trouvées sur notre page de tarification, située à https://Toocie/prix/

            </p>
            <p>6.1.3 Les Marques doivent adhérer aux dépenses minimales (le cas échéant) mises en œuvre par toocie et
                jointes sur les Sites Internet et la Plateforme. Toocie peut, à sa seule discrétion, modifier les
                dépenses minimales pour les Comptes de Marques.
            </p>
            <p>6.1.4 Les Marques peuvent créer des campagnes de médias sociaux sur la Plateforme (" Campagnes "). La
                Marque accepte que les informations fournies sur le produit/service dans une Campagne soient exactes.
            </p>
            <p>6.1.5 En ce qui concerne les Campagnes, la Marque reconnaît et accepte que l'utilisation par la Marque de
                tout Contenu est strictement conditionnée par le paiement de la Campagne et uniquement en accord avec
                les présentes Conditions de Service.
            </p>
            <p>6.1.6 Toocie se réserve le droit de ne pas approuver les Campagnes et/ou les Marques qui promeuvent la
                nudité, les croyances religieuses, la violence, les substances interdites, ainsi que les Marques qui
                pourraient causer un quelconque conflit d'intérêts. Par conséquent, Toocie se réserve également le droit
                de rejeter le Contenu qui promeut la nudité, les croyances religieuses, la violence et les substances
                interdites.
            </p>
            <p>6.2 Conditions de paiement pour les Marques
            </p>
            <p>6.2.1 Vous acceptez de payer à Toocie tous les frais et charges effectués sur votre Compte de Marque pour
                toutes les Tâches créées et approuvées, conformément aux présentes Conditions de Service.
            </p>
            <p>6.2.2 Vous devez payer tous les frais de la manière convenue lors de la création de la Campagne. Si aucun
                mode de paiement n'est indiqué, le paiement doit être effectué par carte de crédit auprès d'un
                prestataire autorisé par Toocie. Toocie se réserve le droit de facturer un supplément pour carte de
                crédit.
            </p>
            <p>6.2.3 Les Marques peuvent demander à Toocie d'émettre une facture pour les frais et charges prévus par la
                Marque au cours d'une Campagne ("Facture"), avant le début de la Campagne.
            </p>
            <p>6.2.4 Les Marques peuvent se voir demander un paiement anticipé supplémentaire pour la Campagne, si :
            </p>
            <p>6.2.4.1 Les Créateurs sont tenus d'acheter des produits/services des Marques avant de créer du Contenu
                pour la Campagne ;
            </p>
            <p>6.2.4.2 Toocie, à sa seule discrétion, identifie une menace pour les intérêts du Créateur.
            </p>
            <p>6.2.5 Toocie se réserve le droit de refuser toute demande de Facture à sa seule discrétion.
            </p>
            <p>6.2.6 Si aucune condition de paiement n'est indiquée sur une facture ou si aucun autre accord écrit n'a
                été conclu avec Toocie, les conditions de paiement standard suivantes s'appliquent :
            </p>
            <p>6.2.6.1 Les transactions effectuées par carte de crédit sont facturées à l'avance ;
            </p>
            <p>6.3. Le paiement de toutes les factures est dû conformément aux présentes Conditions de service.
            </p>
            <p>6.4 Lorsque vous créez une Campagne pour votre Marque, vous vous engagez à être un utilisateur autorisé
                de la carte ou du compte (selon le cas) désigné sur votre Compte de marque et à payer les frais
                applicables, que les détails de la carte fournis sont actuels, corrects et complets et que votre carte
                ou compte désigné (selon le cas) couvrira le montant total des frais. Vous ne devez pas payer, ou tenter
                de payer, les frais par des moyens frauduleux ou illégaux. À la réception de votre campagne, nous
                pouvons effectuer un contrôle standard de pré-autorisation de votre carte ou compte désigné (selon le
                cas) afin de vérifier les détails fournis et de nous assurer que les fonds sont suffisants pour remplir
                le budget de la campagne. La Campagne en question ne peut pas être lancée tant que ce contrôle de
                pré-autorisation n'a pas été effectué.
            </p>
            <p>6.5 Si vous ne payez pas les frais ou si nous ne sommes pas en mesure de traiter avec succès votre
                paiement des frais dans les délais requis (selon le cas), nous nous réservons le droit de facturer des
                frais de retard calculés à un taux de dix pour cent (10 %) par an, mais pas moins de 10,00 par mois. Ce
                montant représente une estimation réelle et raisonnable de ces coûts et dépenses associés à la gestion
                et au traitement des paiements en retard. Nous nous réservons également le droit de retirer les
                facilités de crédit (le cas échéant) à tout moment ou de supprimer votre accès à la Plateforme Toocie.
                Sans limiter nos droits, dans le cas où vous ne payez pas les frais dans les délais et de la manière
                requise, nous nous réservons le droit de suspendre ou de résilier votre accès à la Plateforme Toocie ou
                de suspendre ou de résilier toute Campagne en cours.
            </p>
            <p>6.6. Conditions des Campagnes
            </p>
            <p>6.6.1 Toocie, à sa seule discrétion, se réserve le droit de rejeter les Campagnes qui ne sont pas
                conformes aux présentes Conditions de Service ou à la loi applicable.
            </p>
            <p>6.6.2 Lors de la création de la Campagne, vous acceptez le prix calculé par Contenu et confirmez le
                budget de la Campagne.
            </p>
            <p>6.6.3 Vous ne devez pas essayer d'instruire, de contraindre ou de manipuler le Créateur pour cacher la
                relation commerciale entre la Marque (Annonceur) et le Créateur. De telles tentatives peuvent entraîner
                le retrait immédiat de la Marque de la Plateforme Toocie.
            </p>
            <p>6.6.4 Vous reconnaissez et acceptez que votre droit d'utiliser le Contenu est strictement limité
                conformément aux présentes Conditions de service.
            </p>
            <p>6.6.5 Vous garantissez que :
            </p>
            <p>6.6.5.1 vous êtes propriétaire des droits de propriété intellectuelle sur le Contenu que vous téléchargez
                sur la Plateforme Toocie et que vous avez le droit d'accorder une licence sur le Contenu à Toocie et aux
                Créateurs de la manière prévue par les présentes Conditions Générales de Service ; ou
            </p>
            <p>6.6.5.2 vous avez le droit de concéder une licence sur le Contenu à Toocie et aux Créateurs de la manière
                prévue par les présentes Conditions Générales de Service ; et

            </p>
            <p>6.6.5.3 vous n'encouragerez ni ne faciliterez aucune fausse représentation ou suggestion que la Marque ou
                toute entité a l'approbation ou le parrainage de toute autre entité, ce que la Marque ou l'entité n'a
                pas ;
            </p>
            <p>6.6.5.4 tout Contenu que vous téléchargez sur la Plateforme Toocie ne contient aucune représentation ou
                matériel que vous savez ou soupçonnez (ou auriez dû raisonnablement savoir ou soupçonner) d'être faux,
                trompeur ou mensonger.
            </p>
            <p>6.6.6 La Marque reconnaît que les Créateurs sont des tiers indépendants et ne sont pas directement
                contrôlés par Toocie. En conséquence, tout Contenu risquera par nature des commentaires négatifs ou peu
                flatteurs sur le contenu, les produits ou les services de la Marque.
            </p>
            <p>6.6.7 Vous reconnaissez que Toocie n'a donné aucune garantie quant au succès de toute Campagne en ce qui
                concerne votre entreprise ou la performance commerciale ou autre de tout Contenu, Campagne, canal ou
                autre média, canal de communication marketing, campagne marketing ou publicitaire, promotion ou
                publicité.
            </p>
            <p>PROPRIÉTÉ INTELLECTUELLE de Toocie

            </p>
            <p>7.1 Tous les éléments de Toocie sur la Plateforme Toocie sont protégés par toutes les lois applicables, y
                compris les lois sur le droit d'auteur et les marques déposées, sauf mention contraire spécifique, et ne
                peuvent être utilisés que de la manière autorisée par les présentes Conditions Générales d'Utilisation.
                Rien dans les présentes Conditions d'Utilisation ne sera considéré comme constituant un transfert, une
                cession ou un octroi de droits de propriété sur les droits de propriété intellectuelle des matériaux
                Toocie à une Marque ou un Créateur.
            </p>
            <p>7.2 Tous les droits, titres et intérêts dans tous les Droits de Propriété Intellectuelle sur les marques,
                logos, images, boutons, codes, mises en page, textes, contenus et produits et services de Toocie tels
                qu'affichés sur la Plateforme Toocie ("les Caractéristiques des Marques") sont la propriété de Toocie et
                resteront ou seront dévolus à Toocie à tout moment. Votre utilisation de la Plateforme Toocie ne pourra
                en aucun cas être considérée comme un transfert, une cession ou un octroi de droits de propriété sur les
                marques ou la Plateforme Toocie. Toocie, au cas par cas et dans la mesure nécessaire, vous accorde une
                licence limitée et non exclusive pour utiliser les Caractéristiques de la Marque uniquement dans le but,
                et dans la mesure nécessaire, pour vous permettre d'utiliser la Plateforme Toocie.
            </p>
            <p>DÉCLARATIONS ET GARANTIES DES CRÉATEURS ET DES MARQUES

            </p>
            <p>8.1 Les Créateurs et les Marques participant à la Plateforme Toocie garantissent, déclarent et s'engagent
                à ce que :
            </p>
            <p>8.1.1 toutes les informations que vous fournissez à Toocie lors de l'enregistrement d'un Compte sont
                vraies, exactes, complètes et non trompeuses ;
            </p>
            <p>8.1.2 tous les comptes de médias sociaux tiers auxquels vous liez le téléchargement du Contenu sont :
            <p>8.1.2.1 vos propres comptes ;</p>
            <p>8.1.2.2 si le Compte fait référence à une Marque, que vous êtes le représentant autorisé de la Marque
                avec le droit d'accéder à ses comptes de médias sociaux et de représenter ses intérêts ; et</p>
            <p>8.1.2.3 si le Compte fait référence à un individu autre que vous, que vous êtes le représentant autorisé
                de cet individu avec le droit d'accéder à ses comptes de médias sociaux et de contrôler ses intérêts ;
            </p>
            <p>8.1.3 Vous avez le droit et l'autorité de créer un Compte et d'accepter les présentes Conditions de
                service, y compris, le cas échéant, l'autorité d'une Marque ou d'un individu pour créer un Compte,
                accepter les présentes Conditions de service et utiliser la Plateforme Toocie en son nom ;</p>
            <p>8.1.4 Vous êtes autorisé à soumettre du Contenu, le cas échéant, de la manière invitée via la Plateforme
                Toocie ;</p>
            <p>8.1.5 Tout Contenu que vous soumettez à la Plate-forme Toocie ne contiendra rien qui :</p>
            <p>8.1.5.1 est illégal ou contraire à toute loi, code industriel applicable ou aux exigences ou directives
                des régulateurs concernés ;</p>
            <p>8.1.5.2 est copié ou adapté, entièrement ou substantiellement, à partir de tout autre travail ou
                matériel ;</p>
            <p>8.1.5.3 est indécent, obscène, menaçant, discriminatoire, harcelant, constitue un abus de confiance, est
                diffamatoire, offensant ou répréhensible ou contient, dépeint ou fait allusion à ou promeut un
                comportement agressif, indiscipliné, antisocial, lubrique ou illégal ou des images sexuellement
                suggestives ;</p>
            <p>8.1.5.4 parodie, dénigre ou se moque de Toocie ou de ses produits ou services ou de Toocie en général de
                quelque manière que ce soit ;</p>
            <p>8.1.5.5 solliciter des mots de passe ou des informations personnelles à des fins commerciales ou
                illégales ou fournir des numéros de téléphone, des adresses postales, des noms de famille, des URL ou
                des adresses électroniques (sauf si cela fait partie d'une Campagne)</p>
            <p>8.1.5.6 promeut une copie illégale ou non autorisée d'une œuvre protégée par le droit d'auteur d'une
                autre personne, par exemple en fournissant des programmes informatiques piratés ou des liens vers
                ceux-ci, en fournissant des informations permettant de contourner les dispositifs de protection contre
                la copie installés par le fabricant ou en fournissant des documents piratés ;</p>
            <p>8.1.5.7 implique la transmission de courrier indésirable, de chaînes de lettres, de mailing de masse non
                sollicité ou de spam ; ou</p>
            <p>8.1.5.8 enfreindre les droits à la vie privée, les droits contractuels ou autres droits (y compris les
                droits de propriété intellectuelle) de toute personne, société ou entité.
                EXIGENCES DE LA FTC</p>

            <p>9.1 Les règles de la FTC concernant les témoignages dans la publicité ne s'appliquent pas à Toocie, la
                Marque est donc seule responsable de leur respect.</p>

            <p>9.2. Pour se conformer aux règles de la FTC concernant les témoignages dans la publicité, il est
                conseillé à toutes les Marques de suivre les directives de la FTC, qui peuvent être trouvées ici.</p>
            <p>9.3 Les règles de la FTC concernant les témoignages dans la publicité s'appliquent aux Créateurs dans la
                mesure où les Créateurs soutiennent le produit de la Marque. En pratique, cela signifie que les
                Créateurs ne peuvent pas faire de déclarations fausses ou trompeuses dans le cadre de leur soutien et
                qu'ils doivent divulguer les liens matériels entre eux et l'annonceur. Il n'y a aucune garantie que les
                messages soumis seront positifs. Tous les commentaires sur les produits doivent refléter les convictions
                sincères du Créateur.</p>

            REMERCIEMENTS

            <p>10.1 La Marque et le Créateur reconnaissent que :</p>
            <p>10.1.1 La Marque peut s'arranger pour envoyer au Créateur un échantillon de produit ou choisir de
                rembourser au Créateur le coût associé à l'achat du produit/service. Dans les deux cas, l'essai du
                produit ou du service est gratuit pour le Créateur.</p>
            <p>10.1.2 Toocie ne sera pas responsable de quelque manière que ce soit de la livraison tardive ou de la
                non-arrivée de tout produit envoyé par une Marque à un Créateur.</p>
            <p>10.1.4 Les droits de propriété sur les droits de propriété intellectuelle du Contenu créé sont
                transférés à la Marque.</p>
            <p>10.1.5 aucune disposition des présentes Conditions d'Utilisation n'accorde au Créateur de droits de
                propriété sur les Droits de Propriété Intellectuelle de la Marque ; et</p>
            <p> 10.1.6 rien dans ces Conditions d'Utilisation n'oblige la Marque à faire usage de l'un des droits
                accordés à la Marque par le Créateur en vertu du présent Contrat.</p>
            <p>10.2 Le Créateur accepte d'indemniser, et doit défendre et dégager de toute responsabilité, Toocie et
                ses personnes morales apparentées, son personnel, ses préposés et son agent, de et contre toute perte,
                tout dommage et toute dépense, y compris les frais d'avocat raisonnables, résultant de toute
                réclamation, demande, action, poursuite ou procédure intentée par un tiers en relation avec :</p>
            <p>10.2.1 l'accès à la Plateforme Toocie en violation du présent Contrat ;</p>>
            <p>10.2.2 la violation par le Créateur des présentes conditions d'utilisation ou de l'une des garanties ou
                engagements donnés ou pris par le Créateur ;</p>
            <p>10.2.3 votre Contenu, si ce Contenu n'est pas conforme aux termes d'un Brief de Campagne ou d'autres
                instructions fournies par la Marque ;</p>
            <p>10.2.4 votre violation des lois, règles ou règlements applicables ; et</p>
            <p>10.2.5 toute fausse déclaration de votre part.</p>
            <p>10.3 La Marque accepte d'indemniser, et doit défendre et dégager de toute responsabilité Toocie, ses
                affiliés, et leurs directeurs, responsables, employés, successeurs, agents et cessionnaires respectifs
                contre toute perte, tout dommage et toute dépense, y compris les frais d'avocat raisonnables, résultant
                de toute réclamation, demande, action, poursuite ou procédure intentée par un tiers en relation avec :
            </p>
            <p>10.3.1 l'accès à la Plateforme Toocie en violation du présent Contrat ;</p>
            <p>10.3.2 la violation par la Marque des présentes Conditions d'Utilisation ou de l'une quelconque des
                garanties ou engagements donnés ou pris par la Marque ;</p>
            <p>10.3.3 toute réclamation ou allégation selon laquelle votre Contenu enfreint les droits d'un tiers, y
                compris les droits de propriété intellectuelle ; et</p>
            <p>10.3.4 votre violation de toute loi, règle ou réglementation applicable.</p>
            <p>10.4. Toocie déclare, garantit et s'engage à ce que (a) Toocie possède ou dispose autrement de droits
                suffisants sur la Plateforme pour assurer un accès et une utilisation licites de la Plateforme par vous
                conformément aux termes du présent Contrat ; (b) la Plateforme, ou l'utilisation de la Plateforme, ne
                viole pas et ne violera pas les brevets, droits d'auteur, droits contractuels ou autres droits de
                propriété intellectuelle d'un tiers.</p>
            <p>10.5. Toocie accepte d'indemniser, de défendre et de dégager de toute responsabilité la Marque, ses
                affiliés, et ses administrateurs, dirigeants, employés, successeurs, agents et cessionnaires respectifs
                contre toute perte, dommages et dépenses, y compris les honoraires d'avocat raisonnables, résultant de
                toute réclamation, demande, action, poursuite ou procédure intentée par un tiers en relation avec (a) la
                violation par Toocie de toute représentation, garantie, engagement ou obligation en vertu du présent
                Accord ; (b) la violation d'un brevet, d'un droit d'auteur, d'un secret commercial, d'une marque ou de
                tout autre droit de propriété intellectuelle découlant de l'utilisation par la Marque de la Plateforme
                conformément aux termes du présent Contrat ; et (c) la violation par Toocie de toute loi, règle ou
                réglementation applicable.</p>

            <p>10.6. La partie qui cherche à obtenir une indemnisation en vertu des articles 10.2 à 10.5 du présent
                accord (la "partie indemnisée") fera des efforts commercialement raisonnables pour fournir à l'autre
                partie (la "partie indemnisante") une notification écrite rapide de toute réclamation pour laquelle la
                partie indemnisée cherche à obtenir une indemnisation. La Partie indemnisée coopérera raisonnablement à
                la défense d'une telle réclamation, aux seuls frais de la Partie indemnisante. La Partie indemnisante ne
                peut pas régler une réclamation contre la Partie indemnisée sans le consentement écrit exprès préalable
                de la Partie indemnisée, lequel consentement ne sera pas refusé, conditionné ou retardé de manière
                déraisonnable. La partie indemnisée peut participer à la défense d'une réclamation par l'intermédiaire
                d'un avocat de son choix et à ses propres frais ; toutefois, si la partie indemnisée détermine
                raisonnablement que la partie indemnisante ne veut pas ou ne peut pas défendre les intérêts de la partie
                indemnisée, alors la partie indemnisée peut assumer la défense contre toute réclamation aux seuls frais
                de la partie indemnisante. Les obligations d'indemnisation des Parties survivent à la résiliation du
                Contrat.</p>

            LIMITATION DE RESPONSABILITÉ

            <p>11.1 En utilisant la Plateforme Toocie, vous pouvez être exposé à un Contenu qui est nuisible, obscène,
                trompeur ou inexact. En aucun cas, Toocie ne sera responsable de quelque manière que ce soit de tout
                Contenu, y compris, mais sans s'y limiter, de toute erreur ou omission dans ce Contenu ou de toute perte
                ou dommage de quelque nature que ce soit résultant de l'utilisation du Contenu posté, transmis ou
                autrement mis à disposition via la Plateforme Toocie.</p>
            <p>11.2 Sauf en ce qui concerne les obligations d'indemnisation ou de confidentialité d'une partie, la
                responsabilité de l'une ou l'autre partie en rapport avec les présentes Conditions de service, quelle
                que soit la forme ou la cause de l'action, sera limitée au montant effectivement payé par la Marque à
                Toocie pour les services liés à la Campagne la plus récente de la Marque ou à 20 000 €, le montant le
                plus bas étant retenu. Toocie ne sera pas responsable envers le Créateur des dommages de toute nature
                résultant de l'utilisation par le Créateur de la Plateforme Toocie. Sans limiter ce qui précède, et sauf
                en ce qui concerne les obligations d'indemnisation ou de confidentialité d'une partie, en aucun cas
                l'une ou l'autre des parties ne sera responsable des dommages directs, indirects, spéciaux, accessoires,
                consécutifs, punitifs ou exemplaires, découlant de, ou en relation avec, la Plateforme Toocie, les
                présentes Conditions d'Utilisation ou tout Contenu ou Campagne. Les limitations précédentes s'appliquent
                que la responsabilité présumée soit basée sur un délit, un contrat, une négligence ou toute autre base,
                même si Toocie ou toute autre partie a été informée de la possibilité de tels dommages.</p>

            SURVEILLANCE/ CONFIDENTIALITÉ

            <p>12.1 Toocie se réserve le droit de surveiller la Plateforme Toocie en général et toute l'activité du
                Compte. Si votre Compte présente des signes de fraude, d'abus ou d'activité suspecte, Toocie peut fermer
                ou geler le Compte immédiatement. Toocie conserve le droit et la discrétion absolue de suspendre ou de
                résilier votre Compte, et/ou l'accès à la Plateforme Toocie en général sans préavis si Toocie estime que
                vous avez abusé de tout privilège qui vous est accordé en tant que participant à la Plateforme Toocie,
                fourni des informations trompeuses ou fait de fausses déclarations à Toocie en relation avec la
                Plateforme Toocie, altéré la Plateforme Toocie de quelque manière que ce soit, violé les présentes
                Conditions d'Utilisation, ou commis toute autre conduite illégale ou inappropriée calculée pour
                compromettre la bonne administration de la Plateforme Toocie. Toocie se réserve le droit de supprimer
                tout Contenu qu'elle considère comme violant les présentes Conditions d'Utilisation. En cas de
                résiliation ou de suspension de votre Compte conformément aux présentes Conditions Générales, vous
                n'aurez plus accès à votre Compte pendant la durée de la suspension ou du tout en cas de résiliation.
                Les droits légaux de Toocie à recouvrer des dommages et intérêts ou toute autre compensation de votre
                part sont réservés.</p>


            <p>12.2 Pendant la durée du contrat, chaque partie peut recevoir certaines informations et certains
                documents non publics concernant les activités, la technologie et les produits de l'autre partie, qui
                sont exclusifs et ont une valeur substantielle pour cette partie ("Informations confidentielles").
                Chaque partie n'utilisera pas et ne divulguera pas à un tiers les informations confidentielles, sauf
                dans les cas autorisés par le présent accord ou par le consentement écrit préalable de l'autre partie.
                Chaque partie fera des efforts raisonnables pour maintenir la confidentialité de toutes ces Informations
                Confidentielles, et aucune partie ne fera moins d'efforts qu'elle n'en fait habituellement pour ses
                propres informations confidentielles. Ce qui précède n'empêchera pas l'une ou l'autre partie de
                divulguer des Informations Confidentielles conformément à l'ordonnance ou à l'exigence d'un tribunal,
                d'une agence administrative ou d'un autre organisme gouvernemental (à condition que la partie tenue de
                procéder à une telle divulgation donne un préavis raisonnable à l'autre partie pour contester cette
                ordonnance ou cette exigence), ou sur une base confidentielle à ses conseillers juridiques ou
                financiers, ou à des acquéreurs ou investisseurs potentiels. Les informations confidentielles excluent
                les informations qui : (a) sont ou deviennent généralement connues du public sans faute de la part du
                destinataire ; (b) sont légitimement et légalement connues du destinataire au moment de la divulgation
                sans obligation de confidentialité ; (c) sont développées indépendamment par le destinataire sans
                utilisation ou accès aux Informations Confidentielles de la partie divulgatrice ; ou (d) sont
                légitimement et légalement obtenues d'un tiers sans restriction de divulgation.</p>



            TERMES GÉNÉRAUX

            <p>13. 1. Si la Plateforme Toocie n'est pas en mesure de fonctionner comme prévu pour toute raison hors du
                contrôle raisonnable de Toocie, y compris en raison d'une guerre, d'un acte de terrorisme, d'un état
                d'urgence ou d'une catastrophe (y compris une catastrophe naturelle), d'une infection par un virus
                informatique, de bogues, d'une falsification, d'une intervention non autorisée, de défaillances
                techniques ou de tout ce qui corrompt ou affecte l'administration, sécurité, l'équité, l'intégrité ou la
                bonne conduite de la Plateforme Toocie, ou si une plateforme de médias sociaux modifie ses conditions de
                service, d'accès ou de permission d'une manière qui affecte la Plateforme Toocie, Toocie se réserve le
                droit, à son entière discrétion, d'annuler, de résilier, de modifier ou de suspendre la Plateforme
                Toocie.</p>
            <p>13.2 Aucun accord supplémentaire avec un Créateur ou une Marque ou d'autres conditions (y compris les
                conditions relatives aux bons de commande ou aux ordres d'insertion) ne peut être imposé à Toocie, sauf
                accord écrit de Toocie et, dans ce cas, si les conditions d'un accord avec un Créateur ou une Marque ou
                d'autres conditions sont incompatibles avec les présentes Conditions de Service, les présentes
                Conditions de Service prévaudront dans la mesure de cette incompatibilité.</p>
            <p>13.3 Si vous utilisez la Plateforme Toocie pour le compte d'une personne morale, vous déclarez que vous
                êtes autorisé à conclure un contrat pour le compte de cette personne morale. Les présentes Conditions de
                service constituent l'intégralité de l'accord entre vous et Toocie et régissent votre utilisation de la
                Plateforme Toocie, remplaçant tout accord antérieur entre vous et Toocie. Vous ne céderez aucun droit ou
                obligation en vertu des présentes Conditions d'utilisation, en tout ou en partie, à un tiers sans le
                consentement écrit préalable de Toocie. Toocie lo peut céder ses droits ou obligations en vertu des
                présentes à sa seule discrétion.</p>

            <p>13.4 Si une clause ou une partie d'une clause est de quelque manière que ce soit inapplicable, invalide
                ou illégale, elle doit être lue et modifiée de manière à être applicable, valide et légale. Si cela
                n'est pas possible, la clause (ou, si possible, la partie incriminée) doit être supprimée des présentes
                conditions d'utilisation sans que cela n'affecte le caractère exécutoire, la validité ou la légalité des
                autres clauses (ou parties de ces clauses) qui resteront pleinement en vigueur.</p>

            RÉSOLUTION DES LITIGES

            <p>14.1 Accord d'arbitrage. La présente section est désignée sous le nom de "convention d'arbitrage".
                Vous acceptez que tous les litiges ou réclamations qui sont survenus ou qui pourraient survenir entre
                vous
                et Toocie, qu'ils soient liés à cet Accord (y compris toute violation présumée de celui-ci), aux Services
                Toocie, à toute publicité, à tout aspect de la relation entre nous ou autre, seront résolus exclusivement
                par
                un arbitrage final et contraignant, plutôt que par un tribunal, conformément aux termes de cette
                convention
                d'arbitrage, sauf que vous pouvez faire valoir des réclamations individuelles devant un tribunal des
                petites
                créances, si vos réclamations sont admissibles. En outre, la présente convention d'arbitrage ne vous
                empêche
                pas de porter les problèmes à l'attention des agences fédérales, étatiques ou locales, et ces agences
                peuvent, si la loi le permet, demander réparation contre nous en votre nom. Vous convenez qu'en
                concluant
                cet accord, vous et Toocie renoncez chacun au droit à un procès devant un jury ou à la participation à un
                recours collectif. Vos droits seront déterminés par un arbitre neutre, et non par un juge ou un jury. La
                loi
                fédérale sur l'arbitrage régit l'interprétation et l'application de cette convention d'arbitrage.</p>



            <p>14.2 VOUS ET Toocie CONVIENEZ QUE NOUS POUVONS L'UN ET L'AUTRE INTRODUIRE DES RÉCLAMATIONS CONTRE
                L'AUTRE UNIQUEMENT SUR UNE BASE INDIVIDUELLE ET NON EN TANT QUE PLAIGNANT OU MEMBRE D'UN GROUPE DANS UNE
                ACTION OU PROCÉDURE COLLECTIVE OU REPRÉSENTATIVE. SAUF SI VOUS ET Toocie EN CONVENEZ AUTREMENT, L'ARBITRE
                NE
                PEUT PAS CONSOLIDER OU JOINDRE LES RÉCLAMATIONS DE PLUS D'UNE PERSONNE OU D'UNE PARTIE ET NE PEUT PAS
                AUTREMENT PRÉSIDER UNE FORME QUELCONQUE DE PROCÉDURE CONSOLIDÉE, REPRÉSENTATIVE OU COLLECTIVE. DE PLUS,
                L'ARBITRE PEUT ACCORDER DES RÉPARATIONS (Y COMPRIS DES RÉPARATIONS MONÉTAIRES, INJONCTIVES ET
                DÉCLARATOIRES)
                SEULEMENT EN FAVEUR DE LA PARTIE INDIVIDUELLE QUI DEMANDE RÉPARATION ET SEULEMENT DANS LA MESURE
                NÉCESSAIRE
                POUR FOURNIR LES RÉPARATIONS RENDUES NÉCESSAIRES PAR LA OU LES RÉCLAMATIONS INDIVIDUELLES DE CETTE
                PARTIE,
                SAUF QUE VOUS POUVEZ POURSUIVRE UNE RÉCLAMATION ET L'ARBITRE PEUT ACCORDER DES RÉPARATIONS INJONCTIVES
                PUBLIQUES EN VERTU DE LA LOI APPLICABLE DANS LA MESURE REQUISE POUR L'APPLICABILITÉ DE CETTE
                DISPOSITION.</p>
            <p>14.3 Toocie est toujours intéressé par la résolution de tout litige à l'amiable et de manière
                efficace, et la plupart des préoccupations des utilisateurs concernant la Plateforme Toocie et/ou les
                Services Toocie peuvent être résolues rapidement et à la satisfaction de l'utilisateur en envoyant un
                courriel au service clientèle à l'adresse info@toocie.com. Si ces efforts s'avèrent infructueux, une
                partie
                qui a l'intention de recourir à l'arbitrage doit d'abord envoyer à l'autre partie, par courrier
                certifié, un
                avis écrit de litige (Avis). L'Avis à Toocie doit être envoyé au 48 Avenue de l'héliport (Adresse de
                l'Avis). L'Avis doit (a) décrire la nature et le fondement de la réclamation ou du litige et (b) énoncer
                la
                réparation spécifique demandée. Si Toocie et vous ne parvenez pas à résoudre la réclamation dans les
                soixante (60) jours calendaires suivant la réception de la notification, vous ou Toocie pouvez entamer
                une
                procédure d'arbitrage. Au cours de l'arbitrage, le montant de toute offre de règlement faite par Toocie
                ou
                vous ne sera pas divulgué à l'arbitre jusqu'à ce que l'arbitre détermine le montant, le cas échéant,
                auquel
                vous ou Toocie avez droit.</p>
            <p>14.4 Tous les aspects de la procédure d'arbitrage, et tout jugement, décision ou sentence de
                l'arbitre, seront strictement confidentiels pour le bénéfice de toutes les parties.</p>
            <p>14.5 Si un tribunal décide qu'un terme ou une disposition de cette convention d'arbitrage autre que
                la section 3 ci-dessus est invalide ou inapplicable, les parties conviennent de remplacer ce terme ou
                cette
                disposition par un terme ou une disposition qui est valide et applicable et qui se rapproche le plus de
                l'expression de l'intention du terme ou de la disposition invalide ou inapplicable, et cette convention
                d'arbitrage sera applicable ainsi modifiée. Si un tribunal décide qu'une disposition de la section 3 est
                invalide ou inapplicable, l'intégralité de la présente convention d'arbitrage sera nulle et non avenue,
                sauf
                si ces dispositions sont jugées invalides ou inapplicables uniquement en ce qui concerne les demandes
                d'injonction publique. Le reste des conditions de service continuera à s'appliquer.</p>
            <p>14.6 Modifications futures de la convention d'arbitrage. Nonobstant toute disposition contraire dans
                le présent Contrat, Toocie accepte que si elle apporte une modification future à la présente Convention
                d'arbitrage (autre qu'une modification de l'adresse de notification) alors que vous êtes un utilisateur
                des
                Services Toocie, vous pouvez rejeter une telle modification en nous envoyant une notification écrite
                dans
                les trente (30) jours calendaires de la modification à l'adresse de notification fournie ci-dessus. En
                rejetant toute modification future, vous acceptez d'arbitrer tout litige entre nous conformément aux
                termes
                de la présente convention d'arbitrage à la date à laquelle vous avez accepté pour la première fois le
                présent contrat (ou accepté toute modification ultérieure du présent contrat).
                COORDONNÉES DE CONTACT ET D'AIDE</p>
            <p>
                Belgique<br>
                Email : Info@toocie.com<br>
                Adresse : 48 Avenue de l'héliport, K5<br>
                1000 Bruxelles,
            </p>


        </div>
    </div>
</section>
<app-outer-footer></app-outer-footer>