<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Transactions</h3>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="transactions.length == 0">
      <app-no-record-placeholder title="transactions"></app-no-record-placeholder>
    </div>
    <!-- begin:Table -->
    <div *ngIf="transactions.length != 0" class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Created At
          </th>
          <th *ngIf="userType=='Creater' || userType =='Admin'">
            Marque Nom
          </th>
          <th *ngIf="userType=='Brand' || userType =='Admin'">
            Createur Nom
          </th>
          <th>
            Campagne  Nom
          </th>
          <th *ngIf="userType =='Admin' || userType =='Creater'">
            {{(userType == 'Creater') ? 'Amount' : 'Paid to Creator'}}
          </th>
          <th *ngIf="userType =='Admin'">
            Commission
          </th>
          <th *ngIf="userType=='Brand' || userType =='Admin'">
            Total Amount
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td class="selection-cell">
              {{transaction.date | date : 'medium'}}
            </td>
            <td class="selection-cell" *ngIf="userType=='Creater' || userType =='Admin'">
              {{transaction.brandRs.companyName |titlecase}}
            </td>
            <td class="selection-cell" *ngIf="userType=='Brand' || userType =='Admin'">
              {{transaction.createrUserRs.firstName | titlecase}} {{transaction.createrUserRs.lastName| titlecase}}
            </td>
            <td class="selection-cell rating">
              {{transaction.campaignRs.campaignName | titlecase}}
            </td>
            <td class="selection-cell" *ngIf="userType =='Admin' || userType =='Creater'">
              {{transaction.amount|currency:'EUR':true}}
            </td>
            <td class="selection-cell" *ngIf="userType =='Admin'">
              {{transaction.commission|currency:'EUR':true}}
            </td>
            <td class="selection-cell" *ngIf="userType=='Brand' || userType =='Admin'">
              {{transaction.cost|currency:'EUR':true}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>