<footer id="footer" class="footer home-page-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <a routerLink="/" class="logo d-flex align-items-center">
            <img src="assets/website/img/white-logo-01.svg" alt="" />
          </a>
          <p>
            Vos Photos & Vidéos de produits personnalisées
            <br />
            Toocie S.A<br />
            48 Avenue de l'héliport<br />
            1000 Bruxelles, Belgique<br />
            Info@toocie.com<br />
            00 32 466 27 07 31
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-6 footer-links">
          <h4>La société</h4>
          <ul>
            <li><a routerLink="/about">A propos</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a [routerLink]="">Mentions léagles </a></li>
            <li><a routerLink="/privacy">Politique de confidentialité </a></li>
            <li><a routerLink="/terms-condition">Conditions générales </a></li>
            <!-- <li> <a routerLink="/affiliate-program">Programmes d'affiliation </a></li> -->
            <li>
              <a href="https://toocie.tapfiliate.com/" target="_blank"
                >Programmes d'affiliation
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-6 footer-links">
          <h4>Aides & Info</h4>
          <ul>
            <!-- <li> <a [routerLink]="">Toocie</a></li>
                   <li> <a [routerLink]=""><i class="fas fa-map-marker-alt"></i> 48 Avenue de l'héliport </a></li>
                   <li> <a [routerLink]=""><i class="fas fa-map-marker-alt"></i> 1000 Bruxelles, Belgique </a></li>
                   <li> <a [routerLink]=""><i class="fas fa-envelope"></i> Info@toocie.com </a></li>
                   <li> <a [routerLink]=""><i class="fas fa-phone-alt"></i>00 32 466 27 07 31</a></li> -->

            <li><a routerLink="/auth/login">Espace créateur</a></li>
            <li><a routerLink="/auth/login"> Espace marque</a></li>
            <!-- <li><a routerLink="/pricing">Pricing</a></li>
            <li><a routerLink="/faq">FAQs</a></li> -->
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-12 text-center text-md-start">
          <h4>Nos réseaux</h4>
          <div class="social-links">
            <a
              href="https://www.facebook.com/Toocie-108969447990547"
              class="facebook"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              href="https://www.instagram.com/toocieofficiel/"
              class="instagram"
              ><i class="fab fa-instagram"></i
            ></a>
            <a
              href="https://www.linkedin.com/company/toocie/?viewAsMember=true"
              class="linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a
              href="https://www.tiktok.com/@toocieofficial?lang=fr"
              class="tiktok"
              ><i class="fab fa-tiktok"></i
            ></a>
          </div>
          <!-- <div class="col-lg-12 text-center">
            <div class="col-lg-12">
              <img
                src="assets/website/img/Brand/snapchat.png.webp"
                class="img-fluid"
                width="30%"
              />

              <img
                src="assets/website/img/Brand/tiktok.png.webp"
                class="img-fluid"
                width="30%"
              />
              <img
                src="assets/website/img/Brand/shopify.png.webp"
                class="img-fluid"
                width="30%"
              />
              <img
                src="assets/website/img/Brand/Facebook-Agency-Partner-SOIDEA.png.webp"
                class="img-fluid"
                width="30%"
              />
              <img
                src="assets/website/img/Brand/facebook-marketing-inline.png"
                class="img-fluid"
                width="30%"
              />
              <img
                src="assets/website/img/Brand/instagram-partner-100x100.png"
                class="img-fluid"
                width="30%"
              />
            </div>
          </div> -->
          <div>
            <a
              class="blantershow-chat"
              href="https://wa.me/32466270731"
              target="_blank"
              title="Show Chat"
            >
              <svg width="30" viewBox="0 0 24 24">
                <defs />
                <path
                  fill="#eceff1"
                  d="M20.5 3.4A12.1 12.1 0 0012 0 12 12 0 001.7 17.8L0 24l6.3-1.7c2.8 1.5 5 1.4 5.8 1.5a12 12 0 008.4-20.3z"
                />
                <path
                  fill="#4caf50"
                  d="M12 21.8c-3.1 0-5.2-1.6-5.4-1.6l-3.7 1 1-3.7-.3-.4A9.9 9.9 0 012.1 12a10 10 0 0117-7 9.9 9.9 0 01-7 16.9z"
                />
                <path
                  fill="#fafafa"
                  d="M17.5 14.3c-.3 0-1.8-.8-2-.9-.7-.2-.5 0-1.7 1.3-.1.2-.3.2-.6.1s-1.3-.5-2.4-1.5a9 9 0 01-1.7-2c-.3-.6.4-.6 1-1.7l-.1-.5-1-2.2c-.2-.6-.4-.5-.6-.5-.6 0-1 0-1.4.3-1.6 1.8-1.2 3.6.2 5.6 2.7 3.5 4.2 4.2 6.8 5 .7.3 1.4.3 1.9.2.6 0 1.7-.7 2-1.4.3-.7.3-1.3.2-1.4-.1-.2-.3-.3-.6-.4z"
                />
              </svg>
              Contactez-nous</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-section">
    <div class="container-fluid">
      <div class="copyright">
        <p>© 2021 Toocie. Tous droits reservés</p>
      </div>
    </div>
  </div>
</footer>
