<app-outer-header></app-outer-header>
<section id="hero-2" class="d-flex align-items-center"></section>
<section>
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>Pricing</h2>
    </header>

    <div class="">
      <p>Payer votre vidéo ou photos personnalisée à partir de 79€</p>
      <p>Pas de frais cachés,</p>
      <p>Payez pour ce que vous obtenez !</p>
      <p>
        Tous les plans sont facturés d'avance et comprennent : les paiements des
        créateurs, le logiciel Toocie, les frais de transaction.
      </p>
      <p>
        Ne sont pas inclus : les cadeaux de produits ou de services, les frais
        d'expédition, les services optionnels.
      </p>
    </div>
  </div>
</section>
<app-outer-footer></app-outer-footer>
