<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Évaluation</h3>
        </div>
        <div class="card-toolbar">
            <ng-container *ngIf="userType=='Brand'">
                <a class="btn btn-light" routerLink="/brand/proposals/list">
                    <i class="fa fa-arrow-left"></i>Arrière
                </a>
            </ng-container>
            <ng-container *ngIf="userType=='Admin'">
                <a class="btn btn-light" routerLink="/admin/proposals/list">
                    <i class="fa fa-arrow-left"></i>Arrière
                </a>
            </ng-container>
        </div>

    </div>

    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="createReview()">
            <div class="form-group">
                <label class="form-label">Votre note
                </label>

                <div class="font-style">
                    <ngb-rating [max]="5" formControlName="rating" [readonly]="readOnly"></ngb-rating>
                </div>
            </div>

            <div class="form-group">

                <label class="form-label">Revoir</label>
                <textarea class="form-control" formControlName="remarks" [readonly]="readOnly" rows="3"></textarea>
            </div>
            <div class="form-group" *ngIf="userType=='Brand'">
                <div class="float-left">
                    <a class="btn btn-default font-weight-bold mr-2" *ngIf="!proposalData?.reviews"
                        (click)="reset()">Annuler</a>
                    <button *ngIf="!proposalData?.reviews" type="submit" class="btn btn-primary font-weight-bold mr-2"
                        [disabled]="form.invalid">Soumettre</button>
                </div>
            </div>
        </form>
    </div>
</div>