<div *ngIf ="loading" class="card card-custom gutter-b">

  
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          <ng-container>
            <!-- Add Fund -->
            Ajouter des fonds
          </ng-container>
        </h3>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="mt-5" >
          <form action="#" class="form form-label-right" [formGroup]="formGroup" (ngSubmit)="save()">
            
            <div class="form-group row">
              <div class="col-lg-4">
                <label>Montant</label>
                <input 
                  type="number" 
                  class="form-control form-control-lg form-control-solid" 
                  autocomplete="off"
                  placeholder="Montant" 
                  name="amount" 
                  formControlName="amount" 
                  [ngClass]="{
                    'is-invalid': formGroup.controls['amount'].invalid
                  }"
                  />
              </div>
            </div>
            <div class="float-left">
              <a 
              class="btn btn-default font-weight-bold mr-2" 
              (click)="reset()">Annuler</a>
              <button 
                type="submit" 
                class="btn btn-primary font-weight-bold mr-2"
                [disabled]="formGroup.invalid">Valider</button>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>

<!-- <div class="container mt-5">
    <h2>Add Fund</h2>
    <div class="row mt-5">
      <div class="col-md-4">
        <button (click)="pay(20)" class="btn btn-primary btn-block">$20</button>
      </div>
      <div class="col-md-4">
        <button (click)="pay(30)" class="btn btn-success btn-block">$30</button>
      </div>
      <div class="col-md-4">
        <button (click)="pay(50)" class="btn btn-info btn-block">$50</button>
      </div>    
    </div>
    
  </div> -->